In [166]:
import sqlite3, os, json, sqlparse, re
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer, util
from nltk.stem import WordNetLemmatizer

In [171]:
folder_path = "src/spider/database"
select_db = ['musical',
             'farm', 
             'hospital_1', 
             'tvshow', 
             'cinema', 
             'restaurants', 
             'company_employee', 
             'company_1', 
             'company_offic', 
             'singer', 
             'coffee_shop']

db = []

if os.path.exists(folder_path) and os.path.isdir(folder_path):
    files = os.listdir(folder_path)
    for file in files:
        # if file in select_db:
        db_path = os.path.join(folder_path, file)
        sqlite_db = [os.path.join(db_path, sql) for sql in os.listdir(db_path) if ".sqlite" in sql]
        db.append(*sqlite_db)

In [173]:
def get_schema(sqlite_db):
    connection = sqlite3.connect(sqlite_db)
    cursor = connection.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    for table in tables:
        table_name = table[0]
        print(f"Table: {table_name}")

        cursor.execute(f"PRAGMA table_info({table_name});")
        columns = cursor.fetchall()

        for column in columns:
            column_name = column[1]
            print(f"  Column: {column_name}")

        print()
    
    cursor.close()
    connection.close()

In [179]:
for table in db:
    # if table in exists_table : continue
    get_schema(table)
    # exists_table.append(table)
    print('---------------------------------')

Table: Web_client_accelerator
  Column: id
  Column: name
  Column: Operating_system
  Column: Client
  Column: Connection

Table: browser
  Column: id
  Column: name
  Column: market_share

Table: accelerator_compatible_browser
  Column: accelerator_id
  Column: browser_id
  Column: compatible_since_year

---------------------------------
Table: musical
  Column: Musical_ID
  Column: Name
  Column: Year
  Column: Award
  Column: Category
  Column: Nominee
  Column: Result

Table: actor
  Column: Actor_ID
  Column: Name
  Column: Musical_ID
  Column: Character
  Column: Duration
  Column: age

---------------------------------
Table: city
  Column: City_ID
  Column: Official_Name
  Column: Status
  Column: Area_km_2
  Column: Population
  Column: Census_Ranking

Table: farm
  Column: Farm_ID
  Column: Year
  Column: Total_Horses
  Column: Working_Horses
  Column: Total_Cattle
  Column: Oxen
  Column: Bulls
  Column: Cows
  Column: Pigs
  Column: Sheep_and_Goats

Table: farm_competition
  Column: Competition_ID
  Column: Year
  Column: Theme
  Column: Host_city_ID
  Column: Hosts

Table: competition_record
  Column: Competition_ID
  Column: Farm_ID
  Column: Rank

---------------------------------
Table: AREA_CODE_STATE
  Column: area_code
  Column: state

Table: CONTESTANTS
  Column: contestant_number
  Column: contestant_name

Table: VOTES
  Column: vote_id
  Column: phone_number
  Column: state
  Column: contestant_number
  Column: created

---------------------------------
Table: stadium
  Column: id
  Column: name
  Column: Home_Games
  Column: Average_Attendance
  Column: Total_Attendance
  Column: Capacity_Percentage

Table: game
  Column: stadium_id
  Column: id
  Column: Season
  Column: Date
  Column: Home_team
  Column: Away_team
  Column: Score
  Column: Competition

Table: injury_accident
  Column: game_id
  Column: id
  Column: Player
  Column: Injury
  Column: Number_of_matches
  Column: Source

---------------------------------
Table: Physician
  Column: EmployeeID
  Column: Name
  Column: Position
  Column: SSN

Table: Department
  Column: DepartmentID
  Column: Name
  Column: Head

Table: Affiliated_With
  Column: Physician
  Column: Department
  Column: PrimaryAffiliation

Table: Procedures
  Column: Code
  Column: Name
  Column: Cost

Table: Trained_In
  Column: Physician
  Column: Treatment
  Column: CertificationDate
  Column: CertificationExpires

Table: Patient
  Column: SSN
  Column: Name
  Column: Address
  Column: Phone
  Column: InsuranceID
  Column: PCP

Table: Nurse
  Column: EmployeeID
  Column: Name
  Column: Position
  Column: Registered
  Column: SSN

Table: Appointment
  Column: AppointmentID
  Column: Patient
  Column: PrepNurse
  Column: Physician
  Column: Start
  Column: End
  Column: ExaminationRoom

Table: Medication
  Column: Code
  Column: Name
  Column: Brand
  Column: Description

Table: Prescribes
  Column: Physician
  Column: Patient
  Column: Medication
  Column: Date
  Column: Appointment
  Column: Dose

Table: Block
  Column: BlockFloor
  Column: BlockCode

Table: Room
  Column: RoomNumber
  Column: RoomType
  Column: BlockFloor
  Column: BlockCode
  Column: Unavailable

Table: On_Call
  Column: Nurse
  Column: BlockFloor
  Column: BlockCode
  Column: OnCallStart
  Column: OnCallEnd

Table: Stay
  Column: StayID
  Column: Patient
  Column: Room
  Column: StayStart
  Column: StayEnd

Table: Undergoes
  Column: Patient
  Column: Procedures
  Column: Stay
  Column: DateUndergoes
  Column: Physician
  Column: AssistingNurse

---------------------------------
Table: manufacturer
  Column: Manufacturer_ID
  Column: Open_Year
  Column: Name
  Column: Num_of_Factories
  Column: Num_of_Shops

Table: furniture
  Column: Furniture_ID
  Column: Name
  Column: Num_of_Component
  Column: Market_Rate

Table: furniture_manufacte
  Column: Manufacturer_ID
  Column: Furniture_ID
  Column: Price_in_Dollar

---------------------------------
Table: train
  Column: id
  Column: train_number
  Column: name
  Column: origin
  Column: destination
  Column: time
  Column: interval

Table: station
  Column: id
  Column: network_name
  Column: services
  Column: local_authority

Table: route
  Column: train_id
  Column: station_id

Table: weekly_weather
  Column: station_id
  Column: day_of_week
  Column: high_temperature
  Column: low_temperature
  Column: precipitation
  Column: wind_speed_mph

---------------------------------
Table: perpetrator
  Column: Perpetrator_ID
  Column: People_ID
  Column: Date
  Column: Year
  Column: Location
  Column: Country
  Column: Killed
  Column: Injured

Table: people
  Column: People_ID
  Column: Name
  Column: Height
  Column: Weight
  Column: Home Town

---------------------------------
Table: storm
  Column: Storm_ID
  Column: Name
  Column: Dates_active
  Column: Max_speed
  Column: Damage_millions_USD
  Column: Number_Deaths

Table: region
  Column: Region_id
  Column: Region_code
  Column: Region_name

Table: affected_region
  Column: Region_id
  Column: Storm_ID
  Column: Number_city_affected

---------------------------------
Table: flight
  Column: flno
  Column: origin
  Column: destination
  Column: distance
  Column: departure_date
  Column: arrival_date
  Column: price
  Column: aid

Table: aircraft
  Column: aid
  Column: name
  Column: distance

Table: employee
  Column: eid
  Column: name
  Column: salary

Table: certificate
  Column: eid
  Column: aid

---------------------------------
Table: Manufacturers
  Column: Code
  Column: Name
  Column: Headquarter
  Column: Founder
  Column: Revenue

Table: Products
  Column: Code
  Column: Name
  Column: Price
  Column: Manufacturer

---------------------------------
Table: Ref_Hotel_Star_Ratings
  Column: star_rating_code
  Column: star_rating_description

Table: Locations
  Column: Location_ID
  Column: Location_Name
  Column: Address
  Column: Other_Details

Table: Ref_Attraction_Types
  Column: Attraction_Type_Code
  Column: Attraction_Type_Description

Table: Visitors
  Column: Tourist_ID
  Column: Tourist_Details

Table: Features
  Column: Feature_ID
  Column: Feature_Details

Table: Hotels
  Column: hotel_id
  Column: star_rating_code
  Column: pets_allowed_yn
  Column: price_range
  Column: other_hotel_details

Table: Tourist_Attractions
  Column: Tourist_Attraction_ID
  Column: Attraction_Type_Code
  Column: Location_ID
  Column: How_to_Get_There
  Column: Name
  Column: Description
  Column: Opening_Hours
  Column: Other_Details

Table: Street_Markets
  Column: Market_ID
  Column: Market_Details

Table: Shops
  Column: Shop_ID
  Column: Shop_Details

Table: Museums
  Column: Museum_ID
  Column: Museum_Details

Table: Royal_Family
  Column: Royal_Family_ID
  Column: Royal_Family_Details

Table: Theme_Parks
  Column: Theme_Park_ID
  Column: Theme_Park_Details

Table: Visits
  Column: Visit_ID
  Column: Tourist_Attraction_ID
  Column: Tourist_ID
  Column: Visit_Date
  Column: Visit_Details

Table: Photos
  Column: Photo_ID
  Column: Tourist_Attraction_ID
  Column: Name
  Column: Description
  Column: Filename
  Column: Other_Details

Table: Staff
  Column: Staff_ID
  Column: Tourist_Attraction_ID
  Column: Name
  Column: Other_Details

Table: Tourist_Attraction_Features
  Column: Tourist_Attraction_ID
  Column: Feature_ID

---------------------------------
Table: museum
  Column: Museum_ID
  Column: Name
  Column: Num_of_Staff
  Column: Open_Year

Table: visitor
  Column: ID
  Column: Name
  Column: Level_of_membership
  Column: Age

Table: visit
  Column: Museum_ID
  Column: visitor_ID
  Column: Num_of_Ticket
  Column: Total_spent

---------------------------------
Table: race
  Column: Race_ID
  Column: Name
  Column: Class
  Column: Date
  Column: Track_ID

Table: track
  Column: Track_ID
  Column: Name
  Column: Location
  Column: Seating
  Column: Year_Opened

---------------------------------
Table: College
  Column: cName
  Column: state
  Column: enr

Table: Player
  Column: pID
  Column: pName
  Column: yCard
  Column: HS

Table: Tryout
  Column: pID
  Column: cName
  Column: pPos
  Column: decision

---------------------------------
Table: station
  Column: id
  Column: name
  Column: lat
  Column: long
  Column: dock_count
  Column: city
  Column: installation_date

Table: status
  Column: station_id
  Column: bikes_available
  Column: docks_available
  Column: time

Table: trip
  Column: id
  Column: duration
  Column: start_date
  Column: start_station_name
  Column: start_station_id
  Column: end_date
  Column: end_station_name
  Column: end_station_id
  Column: bike_id
  Column: subscription_type
  Column: zip_code

Table: weather
  Column: date
  Column: max_temperature_f
  Column: mean_temperature_f
  Column: min_temperature_f
  Column: max_dew_point_f
  Column: mean_dew_point_f
  Column: min_dew_point_f
  Column: max_humidity
  Column: mean_humidity
  Column: min_humidity
  Column: max_sea_level_pressure_inches
  Column: mean_sea_level_pressure_inches
  Column: min_sea_level_pressure_inches
  Column: max_visibility_miles
  Column: mean_visibility_miles
  Column: min_visibility_miles
  Column: max_wind_Speed_mph
  Column: mean_wind_speed_mph
  Column: max_gust_speed_mph
  Column: precipitation_inches
  Column: cloud_cover
  Column: events
  Column: wind_dir_degrees
  Column: zip_code

---------------------------------
Table: aircraft
  Column: Aircraft_ID
  Column: Order_Year
  Column: Manufacturer
  Column: Model
  Column: Fleet_Series
  Column: Powertrain
  Column: Fuel_Propulsion

Table: pilot
  Column: Pilot_ID
  Column: Pilot_name
  Column: Rank
  Column: Age
  Column: Nationality
  Column: Position
  Column: Join_Year
  Column: Team

Table: pilot_record
  Column: Record_ID
  Column: Pilot_ID
  Column: Aircraft_ID
  Column: Date

---------------------------------
Table: Customers
  Column: customer_id
  Column: customer_first_name
  Column: customer_middle_initial
  Column: customer_last_name
  Column: gender
  Column: email_address
  Column: login_name
  Column: login_password
  Column: phone_number
  Column: town_city
  Column: state_county_province
  Column: country

Table: Orders
  Column: order_id
  Column: customer_id
  Column: date_order_placed
  Column: order_details

Table: Invoices
  Column: invoice_number
  Column: order_id
  Column: invoice_date

Table: Accounts
  Column: account_id
  Column: customer_id
  Column: date_account_opened
  Column: account_name
  Column: other_account_details

Table: Product_Categories
  Column: production_type_code
  Column: product_type_description
  Column: vat_rating

Table: Products
  Column: product_id
  Column: parent_product_id
  Column: production_type_code
  Column: unit_price
  Column: product_name
  Column: product_color
  Column: product_size

Table: Financial_Transactions
  Column: transaction_id
  Column: account_id
  Column: invoice_number
  Column: transaction_type
  Column: transaction_date
  Column: transaction_amount
  Column: transaction_comment
  Column: other_transaction_details

Table: Order_Items
  Column: order_item_id
  Column: order_id
  Column: product_id
  Column: product_quantity
  Column: other_order_item_details

Table: Invoice_Line_Items
  Column: order_item_id
  Column: invoice_number
  Column: product_id
  Column: product_title
  Column: product_quantity
  Column: product_price
  Column: derived_product_cost
  Column: derived_vat_payable
  Column: derived_total_cost

---------------------------------
Table: department
  Column: Department_ID
  Column: Name
  Column: Creation
  Column: Ranking
  Column: Budget_in_Billions
  Column: Num_Employees

Table: head
  Column: head_ID
  Column: name
  Column: born_state
  Column: age

Table: management
  Column: department_ID
  Column: head_ID
  Column: temporary_acting

---------------------------------
Table: event
  Column: Event_ID
  Column: Date
  Column: Venue
  Column: Name
  Column: Event_Attendance

Table: journalist
  Column: journalist_ID
  Column: Name
  Column: Nationality
  Column: Age
  Column: Years_working

Table: news_report
  Column: journalist_ID
  Column: Event_ID
  Column: Work_Type

---------------------------------
Table: TV_Channel
  Column: id
  Column: series_name
  Column: Country
  Column: Language
  Column: Content
  Column: Pixel_aspect_ratio_PAR
  Column: Hight_definition_TV
  Column: Pay_per_view_PPV
  Column: Package_Option

Table: TV_series
  Column: id
  Column: Episode
  Column: Air_Date
  Column: Rating
  Column: Share
  Column: 18_49_Rating_Share
  Column: Viewers_m
  Column: Weekly_Rank
  Column: Channel

Table: Cartoon
  Column: id
  Column: Title
  Column: Directed_by
  Column: Written_by
  Column: Original_air_date
  Column: Production_code
  Column: Channel

---------------------------------
Table: genre
  Column: g_name
  Column: rating
  Column: most_popular_in

Table: artist
  Column: artist_name
  Column: country
  Column: gender
  Column: preferred_genre

Table: files
  Column: f_id
  Column: artist_name
  Column: file_size
  Column: duration
  Column: formats

Table: song
  Column: song_name
  Column: artist_name
  Column: country
  Column: f_id
  Column: genre_is
  Column: rating
  Column: languages
  Column: releasedate
  Column: resolution

---------------------------------
Table: product
  Column: product_id
  Column: product
  Column: dimensions
  Column: dpi
  Column: pages_per_minute_color
  Column: max_page_size
  Column: interface

Table: store
  Column: Store_ID
  Column: Store_Name
  Column: Type
  Column: Area_size
  Column: Number_of_product_category
  Column: Ranking

Table: district
  Column: District_ID
  Column: District_name
  Column: Headquartered_City
  Column: City_Population
  Column: City_Area

Table: store_product
  Column: Store_ID
  Column: Product_ID

Table: store_district
  Column: Store_ID
  Column: District_ID

---------------------------------
Table: party
  Column: Party_ID
  Column: Party_Theme
  Column: Location
  Column: First_year
  Column: Last_year
  Column: Number_of_hosts

Table: host
  Column: Host_ID
  Column: Name
  Column: Nationality
  Column: Age

Table: party_host
  Column: Party_ID
  Column: Host_ID
  Column: Is_Main_in_Charge

---------------------------------
Table: captain
  Column: Captain_ID
  Column: Name
  Column: Ship_ID
  Column: age
  Column: Class
  Column: Rank

Table: Ship
  Column: Ship_ID
  Column: Name
  Column: Type
  Column: Built_Year
  Column: Class
  Column: Flag

---------------------------------
Table: Addresses
  Column: Address_ID
  Column: address_details

Table: Locations
  Column: Location_ID
  Column: Other_Details

Table: Products
  Column: Product_ID
  Column: Product_Type_Code
  Column: Product_Name
  Column: Product_Price

Table: Parties
  Column: Party_ID
  Column: Party_Details

Table: Assets
  Column: Asset_ID
  Column: Other_Details

Table: Channels
  Column: Channel_ID
  Column: Other_Details

Table: Finances
  Column: Finance_ID
  Column: Other_Details

Table: Events
  Column: Event_ID
  Column: Address_ID
  Column: Channel_ID
  Column: Event_Type_Code
  Column: Finance_ID
  Column: Location_ID

Table: Products_in_Events
  Column: Product_in_Event_ID
  Column: Event_ID
  Column: Product_ID

Table: Parties_in_Events
  Column: Party_ID
  Column: Event_ID
  Column: Role_Code

Table: Agreements
  Column: Document_ID
  Column: Event_ID

Table: Assets_in_Events
  Column: Asset_ID
  Column: Event_ID

---------------------------------
Table: Ref_Characteristic_Types
  Column: characteristic_type_code
  Column: characteristic_type_description

Table: Ref_Colors
  Column: color_code
  Column: color_description

Table: Ref_Product_Categories
  Column: product_category_code
  Column: product_category_description
  Column: unit_of_measure

Table: Characteristics
  Column: characteristic_id
  Column: characteristic_type_code
  Column: characteristic_data_type
  Column: characteristic_name
  Column: other_characteristic_details

Table: Products
  Column: product_id
  Column: color_code
  Column: product_category_code
  Column: product_name
  Column: typical_buying_price
  Column: typical_selling_price
  Column: product_description
  Column: other_product_details

Table: Product_Characteristics
  Column: product_id
  Column: characteristic_id
  Column: product_characteristic_value

---------------------------------
Table: Breeds
  Column: breed_code
  Column: breed_name

Table: Charges
  Column: charge_id
  Column: charge_type
  Column: charge_amount

Table: Sizes
  Column: size_code
  Column: size_description

Table: Treatment_Types
  Column: treatment_type_code
  Column: treatment_type_description

Table: Owners
  Column: owner_id
  Column: first_name
  Column: last_name
  Column: street
  Column: city
  Column: state
  Column: zip_code
  Column: email_address
  Column: home_phone
  Column: cell_number

Table: Dogs
  Column: dog_id
  Column: owner_id
  Column: abandoned_yn
  Column: breed_code
  Column: size_code
  Column: name
  Column: age
  Column: date_of_birth
  Column: gender
  Column: weight
  Column: date_arrived
  Column: date_adopted
  Column: date_departed

Table: Professionals
  Column: professional_id
  Column: role_code
  Column: first_name
  Column: street
  Column: city
  Column: state
  Column: zip_code
  Column: last_name
  Column: email_address
  Column: home_phone
  Column: cell_number

Table: Treatments
  Column: treatment_id
  Column: dog_id
  Column: professional_id
  Column: treatment_type_code
  Column: date_of_treatment
  Column: cost_of_treatment

---------------------------------
Table: Customers
  Column: customer_id
  Column: customer_details

Table: Properties
  Column: property_id
  Column: property_type_code
  Column: property_address
  Column: other_details

Table: Residents
  Column: resident_id
  Column: property_id
  Column: date_moved_in
  Column: date_moved_out
  Column: other_details

Table: Organizations
  Column: organization_id
  Column: parent_organization_id
  Column: organization_details

Table: Services
  Column: service_id
  Column: organization_id
  Column: service_type_code
  Column: service_details

Table: Residents_Services
  Column: resident_id
  Column: service_id
  Column: date_moved_in
  Column: property_id
  Column: date_requested
  Column: date_provided
  Column: other_details

Table: Things
  Column: thing_id
  Column: organization_id
  Column: Type_of_Thing_Code
  Column: service_type_code
  Column: service_details

Table: Customer_Events
  Column: Customer_Event_ID
  Column: customer_id
  Column: date_moved_in
  Column: property_id
  Column: resident_id
  Column: thing_id

Table: Customer_Event_Notes
  Column: Customer_Event_Note_ID
  Column: Customer_Event_ID
  Column: service_type_code
  Column: resident_id
  Column: property_id
  Column: date_moved_in

Table: Timed_Status_of_Things
  Column: thing_id
  Column: Date_and_Date
  Column: Status_of_Thing_Code

Table: Timed_Locations_of_Things
  Column: thing_id
  Column: Date_and_Time
  Column: Location_Code

---------------------------------
Table: book_club
  Column: book_club_id
  Column: Year
  Column: Author_or_Editor
  Column: Book_Title
  Column: Publisher
  Column: Category
  Column: Result

Table: movie
  Column: movie_id
  Column: Title
  Column: Year
  Column: Director
  Column: Budget_million
  Column: Gross_worldwide

Table: culture_company
  Column: Company_name
  Column: Type
  Column: Incorporated_in
  Column: Group_Equity_Shareholding
  Column: book_club_id
  Column: movie_id

---------------------------------
Table: pilot
  Column: Pilot_Id
  Column: Name
  Column: Age

Table: aircraft
  Column: Aircraft_ID
  Column: Aircraft
  Column: Description
  Column: Max_Gross_Weight
  Column: Total_disk_area
  Column: Max_disk_Loading

Table: match
  Column: Round
  Column: Location
  Column: Country
  Column: Date
  Column: Fastest_Qualifying
  Column: Winning_Pilot
  Column: Winning_Aircraft

Table: airport
  Column: Airport_ID
  Column: Airport_Name
  Column: Total_Passengers
  Column: %_Change_2007

In [175]:
src_folder = "src"
schema_description_file = "mockup_schema_description.json"
with open(os.path.join(src_folder, schema_description_file)) as f:
    dbs = json.load(f)
model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')
lemmanizer = WordNetLemmatizer()

In [56]:
# description_emb = []

# for db in dbs:
#     schema_emb = {}
#     table_name = db['table']
#     table_description = db['description']
#     schema_emb[table_name] = model.encode(table_description).tolist()
#     columns = list(db['columns'].keys())
#     for col in columns:
#         column_description = db['columns'][col]
#         schema_emb[col] = model.encode(column_description).tolist()
#     description_emb.append(schema_emb)

# schema_vector_file = "mockup_schema_description_vector.json"
# with open(os.path.join(src_folder, schema_vector_file), "w") as f:
#     json.dump(description_emb,f)

In [180]:
schema_vector_file = "mockup_schema_description_vector.json"
with open(os.path.join(src_folder, schema_vector_file)) as f:
    schema_vector = json.load(f)

In [371]:
# string mathing , max_score = weight of string match

def column_from_question(question,used_table_col = {}, default_score=0.6):
    # question_tokens = [token.lower() for token in tokenizer.tokenize(question)]
    question_tokens = [lemmanizer.lemmatize(token.lower()) for token in question.split()]
    print(question_tokens)
    for table in schema_vector:
        max_score = default_score
        for token in question_tokens:
            cols = [ key.lower() for key in table.keys()]
            table_name = cols.pop(0)
            if token == table_name: 
                max_score = 1.0
                # plus the score of columns in exact match with table name
                if used_table_col.get(token) is not None: 
                    for key in used_table_col[token]: 
                        used_table_col[token].update({key: used_table_col[token][key] + 0.1})
            # exact match table and column
            if token in cols: 
                used_table_col.setdefault(table_name, {}).update({token : max_score})

            

    return used_table_col

In [372]:
# filter_table : filter by table before 
def filter_tables_by_description(question, column_threshold = 0.4, table_threshold = 0.2, filter_tables = True):
    question_emb = model.encode(question)
    used_schema = {}
    for i in range(len(schema_vector)):
        table_name = list(schema_vector[i].keys())[0]

        table_description_vector = schema_vector[i][table_name]
        if filter_tables and util.cos_sim(table_description_vector, question_emb) < table_threshold: continue
        
        used_col = {}
        for col, vec in schema_vector[i].items():
            if col == table_name: continue
            score = round(float(util.cos_sim(vec, question_emb)),2)
            if score > column_threshold:
                # column_description = [dbs[i]['columns'][col] for i in range(len(dbs)) if dbs[i]['table'] == table_name][0]
                # print(f"{table_name} - {col} : {score}\nDescription : {column_description}\n")
                used_col.update({col: score})
        if len(used_col) > 0: used_schema[table_name] = used_col
    return used_schema

In [383]:
question = "Who direct the mickey mouse"

In [384]:
selected_table_column = filter_tables_by_description(question, column_threshold = 0.3, filter_tables = False)
selected_table_column

{'Cartoon': {'id': 0.31,
  'Title': 0.35,
  'Directed_by': 0.54,
  'Written_by': 0.44,
  'Original_air_date': 0.32,
  'Production_code': 0.39},
 'film': {'Directed_by': 0.36}}

In [385]:
selected_table_column = column_from_question(question, used_table_col=selected_table_column)
selected_table_column

['who', 'direct', 'the', 'mickey', 'mouse']

{'Cartoon': {'id': 0.31,
  'Title': 0.35,
  'Directed_by': 0.54,
  'Written_by': 0.44,
  'Original_air_date': 0.32,
  'Production_code': 0.39},
 'film': {'Directed_by': 0.36}}

In [366]:
full_sql = ""
for table in selected_table_column:
    sql = f"CREATE TABLE {table} ("
    for column in selected_table_column.get(table).keys():
        sql += f'"{column}" datatype, '

    sql = sql[:-2] + " )\n\n"
    full_sql += sql
print(full_sql)

CREATE TABLE people ("Nationality" datatype )

CREATE TABLE singer ("Singer_ID" datatype, "Name" datatype, "Birth_Year" datatype, "Net_Worth_Millions" datatype, "Citizenship" datatype )

CREATE TABLE song ("Singer_ID" datatype )

In [27]:
spider_sql = []
df_data = {
    'Question' : [],
    'Table' : [],
    'SQL' : []
}

with open("src/NSText2SQL/train.jsonl") as f:
    for line in f:
        data = json.loads(line)
        if data['source'] == 'spider': 
            spider_sql.append(data)
            df_data['Question'].append(data['instruction'].split('--')[-1].strip())
            df_data['Table'].append(data['instruction'].split('--')[0].strip())
            df_data['SQL'].append(data['output'])

df = pd.DataFrame(df_data)
df.to_csv('src/NSText2SQL/train_spider.csv', index=False)
df.head()

,Question,Table,SQL
0,"What are the first names, office locations of ...","CREATE TABLE course (\n crs_code text,\n ...","SELECT T2.emp_fname, T4.prof_office, T3.crs_de..."
1,Please show the songs that have result 'nomina...,"CREATE TABLE artist (\n artist_id number,\n...",SELECT T2.song FROM music_festival AS T1 JOIN ...
2,Which teams had more than 3 eliminations?,CREATE TABLE elimination (\n elimination_id...,SELECT team FROM elimination GROUP BY team HAV...
3,"Show the names of people, and dates and venues...","CREATE TABLE people (\n people_id number,\n...","SELECT T3.name, T2.date, T2.venue FROM debate_..."
4,Tell me the the date when the first claim was ...,CREATE TABLE settlements (\n settlement_id ...,SELECT date_claim_made FROM claims ORDER BY da...

In [151]:
# Split the SQL query into lines
def table_column_of_create_table(query):
    lines = query.splitlines()

    # Initialize a list to store column names
    columns = []
    table_names = []

    # Look for "CREATE TABLE" and start capturing columns
    capture = False

    for line in lines:
        if "CREATE TABLE" in line:
            capture = True
            table_names.append(line.split()[-2])
        elif line.strip().endswith(')') or line.strip().endswith(');'):
            capture = False
        elif capture:
            column_name = line.strip().split()[0]
            if column_name.lower() in ["constraint", "primary"]: continue
            columns.append(column_name)

    # print("Table Name:", table_names)
    # print("Columns:", columns)
    return [''.join(filter(str.isalpha, s)) for s in table_names], [''.join(filter(str.isalpha, s)) for s in columns]

In [157]:
spider_path = 'src/spider/database'
map_table_db = {}

for folder in os.listdir(spider_path):
    schema_path = os.path.join(spider_path, folder, 'schema.sql')
    if os.path.exists(schema_path):
        with open(schema_path, 'r') as sql_file:
            sql_script = sql_file.read()
            table_names = table_column_of_create_table(sql_script)[0]
            for table in table_names: map_table_db[table] = folder

with open("src/spider/table_database_map.json", "w") as f:
    json.dump(map_table_db, f, indent=4)

In [267]:
sql_extract_token_type = {
            sqlparse.sql.IdentifierList, sqlparse.sql.Where,
            sqlparse.sql.Having, sqlparse.sql.Comparison, sqlparse.sql.Function,
            sqlparse.sql.Parenthesis, sqlparse.sql.Operation, sqlparse.sql.Case
        }

def columns_from_query(sql_query):
    # identifiers contain table name and column name
    if type(sql_query) == str:
        sql_query = sqlparse.parse(sql_query)[0]
    identifiers = []
    for token in sql_query:
        if isinstance(token, sqlparse.sql.Identifier):
            identifiers.append(token.get_real_name())
        elif hasattr(token, "tokens"):
            identifiers.extend(columns_from_query(token.tokens))
    return identifiers

In [273]:
exists_table = [i['table'] for i in dbs]
for i,row in df.iterrows():
    table_of_query = row['Table']
    tables, all_columns = table_column_of_create_table(table_of_query)
    if tables[0] in exists_table:
        try:
            # db_path = os.path.join(spider_path, map_table_db[tables[0]])
            # print(db_path)
            identifiers = columns_from_query(row['SQL'])
            expect_column = [identify for identify in identifiers if identify in all_columns]
            expect_table = [identify for identify in identifiers if identify in tables]
            print(row['SQL'])
            print(expect_table)
            print(expect_column)
            print()
        except KeyError: pass

SELECT T3.name, T2.date, T2.venue FROM debate_people AS T1 JOIN debate AS T2 ON T1.debate_id = T2.debate_id JOIN people AS T3 ON T1.negative = T3.people_id ORDER BY T3.name
['debate', 'people']
['name', 'date', 'venue', 'negative', 'name']

SELECT COUNT(*), address FROM member GROUP BY address
['member']
['address', 'address']

SELECT COUNT(*) FROM cinema
['cinema']
[]

SELECT AVG(money_requested) FROM entrepreneur
['entrepreneur']
[]

SELECT T1.name FROM category AS T1 JOIN film_category AS T2 ON T1.category_id = T2.category_id JOIN film AS T3 ON T2.film_id = T3.film_id WHERE T3.title = 'HUNGER ROOF'
['category', 'film']
['name', 'title']

SELECT COUNT(DISTINCT dept_address), school_code FROM department GROUP BY school_code
['department']
[]

SELECT location FROM cinema WHERE openning_year >= 2010 GROUP BY location ORDER BY COUNT(*) DESC LIMIT 1
['cinema']
[]

SELECT first_name FROM people ORDER BY first_name
['people']
[]

SELECT COUNT(*) FROM professor WHERE prof_high_degree = 'Ph.D.' OR prof_high_degree = 'MA'
['professor']
[]

SELECT T2.name FROM gymnast AS T1 JOIN people AS T2 ON T1.gymnast_id = T2.people_id ORDER BY T2.height
['gymnast', 'people']
['name', 'height']

SELECT name FROM musical WHERE NOT musical_id IN (SELECT musical_id FROM actor)
['musical', 'actor']
['name']

SELECT T2.name, SUM(T1.show_times_per_day) FROM schedule AS T1 JOIN cinema AS T2 ON T1.cinema_id = T2.cinema_id GROUP BY T1.cinema_id
['schedule', 'cinema']
['name']

SELECT name FROM member WHERE NOT member_id IN (SELECT member_id FROM member_attendance)
['member']
['name']

SELECT T2.dept_name, T1.dept_code FROM professor AS T1 JOIN department AS T2 ON T1.dept_code = T2.dept_code WHERE T1.prof_high_degree = 'Ph.D.' GROUP BY T1.dept_code ORDER BY COUNT(*) DESC LIMIT 1
['professor', 'department']
[]

SELECT T2.weight FROM entrepreneur AS T1 JOIN people AS T2 ON T1.people_id = T2.people_id ORDER BY T1.money_requested DESC
['entrepreneur', 'people']
['weight']

SELECT character, duration FROM actor
['actor']
['duration']

SELECT title, directed_by FROM film WHERE NOT film_id IN (SELECT film_id FROM schedule)
['film', 'schedule']
['title']

SELECT COUNT(DISTINCT crs_code) FROM class
[]
[]

SELECT f_id FROM files WHERE formats = "mp4" INTERSECT SELECT f_id FROM song WHERE resolution < 1000
['files', 'song']
['formats', 'resolution']

SELECT name FROM people WHERE NOT people_id IN (SELECT people_id FROM perpetrator)
['people', 'perpetrator']
['name']

SELECT MIN(membership_amount), MAX(membership_amount) FROM branch WHERE open_year = 2011 OR city = 'London'
['branch']
['city']

SELECT MAX(milliseconds), MIN(milliseconds) FROM track
['track']
['milliseconds', 'milliseconds']

SELECT COUNT(DISTINCT hometown) FROM people
['people']
['hometown']

SELECT investor FROM entrepreneur WHERE money_requested > 140000 INTERSECT SELECT investor FROM entrepreneur WHERE money_requested < 120000
['entrepreneur', 'entrepreneur']
['investor', 'investor']

SELECT T3.stu_fname FROM class AS T1 JOIN enroll AS T2 ON T1.class_code = T2.class_code JOIN student AS T3 ON T2.stu_num = T3.stu_num WHERE T1.crs_code = 'ACCT-211' AND T2.enroll_grade = 'C'
['enroll', 'student']
[]

SELECT host_city FROM hosting_city ORDER BY year DESC LIMIT 1
[]
[]

SELECT T1.artist_name, T1.country FROM artist AS T1 JOIN song AS T2 ON T1.artist_name = T2.artist_name WHERE T2.song_name LIKE "%love%"
['artist', 'song']
['country']

SELECT T3.manager_name FROM station_company AS T1 JOIN company AS T2 ON T1.company_id = T2.company_id JOIN gas_station AS T3 ON T1.station_id = T3.station_id WHERE T2.company = 'ExxonMobil'
['company', 'company']
['company', 'company']

SELECT title FROM film WHERE rating = 'R'
['film']
['title', 'rating']

SELECT crs_credit, crs_description FROM course WHERE crs_code = 'CIS-220'
['course']
[]

SELECT T2.name FROM flight AS T1 JOIN aircraft AS T2 ON T1.aid = T2.aid WHERE T1.flno = 99
['flight', 'aircraft']
['name', 'aid', 'aid', 'flno']

SELECT DISTINCT nominee FROM musical WHERE award <> "Tony Award"
['musical']
['nominee', 'award']

SELECT T1.emp_lname, T1.emp_hiredate FROM employee AS T1 JOIN professor AS T2 ON T1.emp_num = T2.emp_num WHERE T2.prof_office = 'DRE 102'
['employee', 'professor']
[]

SELECT T1.member_name FROM member AS T1 JOIN party_events AS T2 ON T1.member_id = T2.member_in_charge_id GROUP BY T2.member_in_charge_id ORDER BY COUNT(*) DESC LIMIT 1
['member']
[]

SELECT semester, year FROM section GROUP BY semester, year ORDER BY COUNT(*) DESC LIMIT 1
[]
['semester', 'semester']

SELECT T2.dept_name, AVG(T1.stu_gpa) FROM student AS T1 JOIN department AS T2 ON T1.dept_code = T2.dept_code GROUP BY T1.dept_code ORDER BY AVG(T1.stu_gpa) DESC LIMIT 1
['student', 'department']
[]

SELECT T2.name FROM actor AS T1 JOIN musical AS T2 ON T1.musical_id = T2.musical_id GROUP BY T1.musical_id HAVING COUNT(*) >= 3
['actor', 'musical']
['name']

SELECT country, COUNT(*) FROM perpetrator GROUP BY country HAVING COUNT(*) >= 2
['perpetrator']
['country', 'country']

SELECT T2.first_name, T2.last_name FROM film_actor AS T1 JOIN actor AS T2 ON T1.actor_id = T2.actor_id GROUP BY T2.actor_id HAVING COUNT(*) > 30
['actor']
[]

SELECT course_id FROM student_course_registrations WHERE student_id = 121 UNION SELECT course_id FROM student_course_attendance WHERE student_id = 121
[]
[]

SELECT nominee FROM musical GROUP BY nominee ORDER BY COUNT(*) DESC LIMIT 1
['musical']
['nominee', 'nominee']

SELECT dept_name, AVG(salary) FROM instructor GROUP BY dept_name HAVING AVG(salary) > 42000
['instructor']
['salary', 'salary']

SELECT T2.name FROM entrepreneur AS T1 JOIN people AS T2 ON T1.people_id = T2.people_id
['entrepreneur', 'people']
['name']

SELECT flno, origin, destination FROM flight ORDER BY origin
['flight']
['flno', 'origin', 'destination', 'origin']

SELECT name FROM actor ORDER BY name
['actor']
['name', 'name']

SELECT song_name FROM song WHERE genre_is = "modern" OR languages = "english"
['song']
['languages']

SELECT COUNT(DISTINCT dept_address), school_code FROM department GROUP BY school_code
['department']
[]

SELECT company, headquarters FROM company ORDER BY market_value DESC
['company', 'company']
['company', 'headquarters', 'company']

SELECT name FROM actor ORDER BY name
['actor']
['name', 'name']

SELECT location, COUNT(*) FROM gas_station GROUP BY location ORDER BY COUNT(*)
[]
[]

SELECT T1.name, T2.name FROM actor AS T1 JOIN musical AS T2 ON T1.musical_id = T2.musical_id
['actor', 'musical']
['name', 'name']

SELECT name, openning_year FROM cinema ORDER BY openning_year DESC
['cinema']
['name']

SELECT DISTINCT location FROM cinema
['cinema']
[]

SELECT status FROM city GROUP BY status ORDER BY COUNT(*) DESC LIMIT 1
['city']
['status', 'status']

SELECT shop_name, location FROM shop ORDER BY shop_name
['shop']
[]

SELECT company, main_industry FROM company WHERE headquarters <> 'USA'
['company', 'company']
['company', 'company', 'headquarters']

SELECT total_points FROM gymnast ORDER BY floor_exercise_points DESC
['gymnast']
[]

SELECT AVG(injured) FROM perpetrator
['perpetrator']
['injured']

SELECT COUNT(*) FROM purchase AS T1 JOIN member AS T2 ON T1.member_id = T2.member_id WHERE T2.level = 6
['purchase', 'member']
['level']

SELECT character, duration FROM actor
['actor']
['duration']

SELECT name FROM member WHERE country = "United States" OR country = "Canada"
['member']
['name', 'country', 'country']

SELECT T2.emp_fname, T4.prof_office, T3.crs_description, T5.dept_name FROM class AS T1 JOIN employee AS T2 ON T1.prof_num = T2.emp_num JOIN course AS T3 ON T1.crs_code = T3.crs_code JOIN professor AS T4 ON T2.emp_num = T4.emp_num JOIN department AS T5 ON T4.dept_code = T5.dept_code
['employee', 'course', 'professor', 'department']
[]

SELECT hispanic FROM city WHERE black > 10
['city']
['hispanic', 'black']

SELECT COUNT(DISTINCT level) FROM member
['member']
[]

SELECT name FROM people WHERE NOT people_id IN (SELECT people_id FROM entrepreneur)
['people', 'entrepreneur']
['name']

SELECT T2.hometown FROM gymnast AS T1 JOIN people AS T2 ON T1.gymnast_id = T2.people_id GROUP BY T2.hometown HAVING COUNT(*) >= 2
['gymnast', 'people']
['hometown', 'hometown']

SELECT T1.stu_fname, T1.stu_lname, T4.crs_description FROM student AS T1 JOIN enroll AS T2 ON T1.stu_num = T2.stu_num JOIN class AS T3 ON T2.class_code = T3.class_code JOIN course AS T4 ON T3.crs_code = T4.crs_code
['student', 'enroll', 'course']
[]

SELECT T1.first_name, T1.last_name FROM customer AS T1 JOIN rental AS T2 ON T1.customer_id = T2.customer_id ORDER BY T2.rental_date LIMIT 1
['customer', 'rental']
[]

SELECT AVG(weight), MIN(weight), sex FROM people GROUP BY sex
['people']
['weight', 'weight', 'sex', 'sex']

SELECT T3.name, T2.title, T1.date, T1.price FROM schedule AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id JOIN cinema AS T3 ON T1.cinema_id = T3.cinema_id
['schedule', 'film', 'cinema']
['name', 'title', 'date', 'price']

SELECT duration FROM actor ORDER BY age DESC LIMIT 1
['actor']
['duration', 'age']

SELECT t1.name FROM people AS t1 JOIN candidate AS t2 ON t1.people_id = t2.people_id WHERE t1.sex = 'F' ORDER BY t1.name
['people', 'candidate']
['name', 'sex', 'name']

SELECT T2.party_name, COUNT(*) FROM member AS T1 JOIN party AS T2 ON T1.party_id = T2.party_id GROUP BY T1.party_id
['member', 'party']
[]

SELECT character FROM actor ORDER BY age DESC
['actor']
['age']

SELECT location, COUNT(*) FROM cinema GROUP BY location
['cinema']
[]

SELECT dept_name FROM department ORDER BY dept_name
['department']
[]

SELECT T2.country, T1.year FROM film_market_estimation AS T1 JOIN market AS T2 ON T1.market_id = T2.market_id
['market']
['country', 'year']

SELECT flno FROM flight WHERE origin = "Los Angeles"
['flight']
['flno', 'origin']

SELECT headquarters FROM company EXCEPT SELECT headquarters FROM company WHERE main_industry = 'Banking'
['company', 'company']
['headquarters', 'company', 'headquarters', 'company']

SELECT studio FROM film GROUP BY studio ORDER BY COUNT(*) DESC LIMIT 1
['film']
['studio', 'studio']

SELECT T2.year FROM city AS T1 JOIN hosting_city AS T2 ON T1.city_id = T2.host_city WHERE T1.city = "Taizhou ( Zhejiang )"
['city', 'city']
['year', 'city', 'city']

SELECT studio, COUNT(*) FROM film GROUP BY studio
['film']
['studio', 'studio']

SELECT carrier FROM device WHERE NOT device_id IN (SELECT device_id FROM stock)
['device', 'stock']
['carrier', 'device']

SELECT T2.emp_fname FROM class AS T1 JOIN employee AS T2 ON T1.prof_num = T2.emp_num GROUP BY T1.prof_num HAVING COUNT(*) > 1
['employee']
[]

SELECT nominee FROM musical GROUP BY nominee HAVING COUNT(*) > 2
['musical']
['nominee', 'nominee']

SELECT SUM(T1.money_requested) FROM entrepreneur AS T1 JOIN people AS T2 ON T1.people_id = T2.people_id WHERE T2.height > 1.85
['entrepreneur', 'people']
['height']

SELECT COUNT(*), formats FROM files GROUP BY formats
['files']
['formats', 'formats']

SELECT T2.name FROM debate_people AS T1 JOIN people AS T2 ON T1.negative = T2.people_id GROUP BY T2.name HAVING COUNT(*) >= 2
['people']
['name', 'negative', 'name']

SELECT COUNT(*) FROM perpetrator
['perpetrator']
[]

SELECT T1.name FROM people AS T1 JOIN perpetrator AS T2 ON T1.people_id = T2.people_id WHERE T2.country = "China" OR T2.country = "Japan"
['people', 'perpetrator']
['name', 'country', 'country']

SELECT DISTINCT directed_by FROM film
['film']
[]

SELECT country, COUNT(*) FROM perpetrator GROUP BY country ORDER BY COUNT(*) DESC LIMIT 1
['perpetrator']
['country', 'country']

SELECT T3.name, T2.name FROM membership_register_branch AS T1 JOIN branch AS T2 ON T1.branch_id = T2.branch_id JOIN member AS T3 ON T1.member_id = T3.member_id ORDER BY T1.register_year
['branch', 'member']
['name', 'name']

SELECT COUNT(*) FROM company WHERE headquarters = 'USA'
['company']
['headquarters']

SELECT T3.location, T3.representative_name FROM station_company AS T1 JOIN company AS T2 ON T1.company_id = T2.company_id JOIN gas_station AS T3 ON T1.station_id = T3.station_id ORDER BY T2.assets_billion DESC LIMIT 3
['company']
['location', 'company']

SELECT clean_jerk FROM body_builder ORDER BY total DESC LIMIT 1
[]
['total']

SELECT T1.city FROM city AS T1 JOIN temperature AS T2 ON T1.city_id = T2.city_id ORDER BY T2.feb DESC LIMIT 1
['city', 'city', 'temperature']
['city', 'city', 'feb']

SELECT title, directed_by FROM film
['film']
['title']

SELECT member_name FROM member WHERE party_id = 3 INTERSECT SELECT member_name FROM member WHERE party_id = 1
['member', 'member']
[]

SELECT company, main_industry FROM company WHERE NOT company_id IN (SELECT company_id FROM station_company)
['company', 'company']
['company', 'company']

SELECT T2.emp_fname, T1.prof_office FROM professor AS T1 JOIN employee AS T2 ON T1.emp_num = T2.emp_num JOIN department AS T3 ON T1.dept_code = T3.dept_code WHERE T3.dept_name = 'History' AND T1.prof_high_degree <> 'Ph.D.'
['professor', 'employee', 'department']
[]

SELECT T1.name, T2.name FROM actor AS T1 JOIN musical AS T2 ON T1.musical_id = T2.musical_id
['actor', 'musical']
['name', 'name']

SELECT official_name FROM city WHERE NOT city_id IN (SELECT host_city_id FROM farm_competition)
['city']
[]

SELECT MIN(crime_rate), MAX(crime_rate) FROM county_public_safety
[]
[]

SELECT T2.date_of_birth FROM entrepreneur AS T1 JOIN people AS T2 ON T1.people_id = T2.people_id WHERE T1.investor = "Simon Woodroffe" OR T1.investor = "Peter Jones"
['entrepreneur', 'people']
['investor', 'investor']

SELECT T1.stu_lname FROM student AS T1 JOIN enroll AS T2 ON T1.stu_num = T2.stu_num WHERE T2.enroll_grade = 'A' AND T2.class_code = 10018
['student', 'enroll']
[]

SELECT hometown FROM people WHERE age > 23 INTERSECT SELECT hometown FROM people WHERE age < 20
['people', 'people']
['hometown', 'age', 'hometown', 'age']

SELECT building, room_number FROM classroom WHERE capacity BETWEEN 50 AND 100
['classroom']
['building', 'capacity']

SELECT COUNT(*) FROM professor AS T1 JOIN department AS T2 ON T1.dept_code = T2.dept_code WHERE T2.dept_name = 'Accounting' OR T2.dept_name = 'Biology'
['professor', 'department']
[]

SELECT cname FROM course WHERE credits = 3 UNION SELECT cname FROM course WHERE credits = 1 AND hours = 4
['course', 'course']
['cname', 'credits', 'cname', 'credits', 'hours']

SELECT AVG(unitprice) FROM genre AS T1 JOIN track AS T2 ON T1.genreid = T2.genreid WHERE T1.name = "Jazz"
['genre', 'track']
['unitprice', 'genreid', 'genreid', 'name']

SELECT fname FROM student WHERE NOT stuid IN (SELECT stuid FROM enrolled_in)
['student']
['fname', 'stuid', 'stuid']

SELECT COUNT(*) FROM department WHERE division = "AS"
['department']
['division']

SELECT COUNT(*) FROM branch WHERE membership_amount > (SELECT AVG(membership_amount) FROM branch)
['branch', 'branch']
[]

SELECT COUNT(DISTINCT location) FROM perpetrator
['perpetrator']
[]

SELECT T2.dept_name, T2.dept_address, COUNT(*) FROM student AS T1 JOIN department AS T2 ON T1.dept_code = T2.dept_code GROUP BY T1.dept_code ORDER BY COUNT(*) DESC LIMIT 3
['student', 'department']
[]

SELECT location FROM performance GROUP BY location ORDER BY COUNT(*) DESC LIMIT 1
['performance']
[]

SELECT name FROM county_public_safety ORDER BY population DESC LIMIT 1
[]
['name', 'population']

SELECT T3.name, COUNT(*) FROM employment AS T1 JOIN people AS T2 ON T1.people_id = T2.people_id JOIN company AS T3 ON T1.company_id = T3.company_id GROUP BY T3.name
['employment', 'people', 'company']
['name', 'name']

SELECT station_id, location, manager_name FROM gas_station ORDER BY open_year
[]
[]

SELECT nominee FROM musical GROUP BY nominee ORDER BY COUNT(*) DESC LIMIT 1
['musical']
['nominee', 'nominee']

SELECT location FROM shop WHERE open_year > 2012 INTERSECT SELECT location FROM shop WHERE open_year < 2008
['shop', 'shop']
[]

SELECT COUNT(DISTINCT school_code) FROM department
['department']
[]

SELECT COUNT(DISTINCT software_platform) FROM device
['device']
['device']

SELECT T3.name, T2.name FROM employment AS T1 JOIN people AS T2 ON T1.people_id = T2.people_id JOIN company AS T3 ON T1.company_id = T3.company_id ORDER BY T1.year_working
['employment', 'people', 'company']
['name', 'name']

SELECT company FROM entrepreneur ORDER BY money_requested DESC
['entrepreneur']
['company']

SELECT fname, lname FROM employee WHERE salary > 30000
['employee']
['fname', 'lname', 'salary']

SELECT investor FROM entrepreneur WHERE money_requested > 140000 INTERSECT SELECT investor FROM entrepreneur WHERE money_requested < 120000
['entrepreneur', 'entrepreneur']
['investor', 'investor']

SELECT headquarters, COUNT(*) FROM company GROUP BY headquarters
['company']
['headquarters', 'headquarters']

SELECT T3.name, T2.date, T2.venue FROM debate_people AS T1 JOIN debate AS T2 ON T1.debate_id = T2.debate_id JOIN people AS T3 ON T1.affirmative = T3.people_id
['debate', 'people']
['name', 'date', 'venue', 'affirmative']

SELECT T2.name, T1.company FROM entrepreneur AS T1 JOIN people AS T2 ON T1.people_id = T2.people_id ORDER BY T1.money_requested
['entrepreneur', 'people']
['name', 'company']

SELECT T2.birth_date, T2.birth_place FROM body_builder AS T1 JOIN people AS T2 ON T1.people_id = T2.people_id ORDER BY T1.total DESC LIMIT 1
['people']
['total']

SELECT headquarters FROM company ORDER BY sales_in_billion DESC LIMIT 1
['company']
['headquarters']

SELECT COUNT(*) FROM purchase AS T1 JOIN member AS T2 ON T1.member_id = T2.member_id WHERE T2.level = 6
['purchase', 'member']
['level']

SELECT T2.party_name FROM party_events AS T1 JOIN party AS T2 ON T1.party_id = T2.party_id GROUP BY T1.party_id HAVING COUNT(*) >= 2
['party']
[]

SELECT T2.carrier FROM stock AS T1 JOIN device AS T2 ON T1.device_id = T2.device_id GROUP BY T1.device_id HAVING COUNT(*) > 1
['stock', 'device']
['carrier', 'device']

SELECT COUNT(*), dept_code FROM professor WHERE prof_high_degree = 'Ph.D.' GROUP BY dept_code
['professor']
[]

SELECT payment_date FROM payment ORDER BY payment_date LIMIT 1
['payment']
[]

SELECT T2.country, T1.year FROM film_market_estimation AS T1 JOIN market AS T2 ON T1.market_id = T2.market_id
['market']
['country', 'year']

SELECT T1.name, T3.name FROM physician AS T1 JOIN affiliated_with AS T2 ON T1.employeeid = T2.physician JOIN department AS T3 ON T2.department = T3.departmentid WHERE T2.primaryaffiliation = 1
['physician', 'physician', 'department', 'department']
['name', 'name', 'physician', 'employeeid', 'physician', 'department', 'department', 'departmentid', 'primaryaffiliation']

SELECT AVG(T2.age) FROM gymnast AS T1 JOIN people AS T2 ON T1.gymnast_id = T2.people_id
['gymnast', 'people']
['age']

SELECT emp_fname FROM employee WHERE emp_jobcode = 'PROF' EXCEPT SELECT T1.emp_fname FROM employee AS T1 JOIN class AS T2 ON T1.emp_num = T2.prof_num
['employee', 'employee']
[]

SELECT name FROM people ORDER BY date_of_birth
['people']
['name']

SELECT COUNT(*) FROM member WHERE membership_card = 'Black'
['member']
[]

SELECT name FROM physician WHERE position LIKE '%senior%'
['physician']
['name', 'physician']

SELECT COUNT(*), crs_code FROM class GROUP BY crs_code
[]
[]

SELECT investor FROM entrepreneur GROUP BY investor ORDER BY COUNT(*) DESC LIMIT 1
['entrepreneur']
['investor', 'investor']

SELECT T1.company FROM entrepreneur AS T1 JOIN people AS T2 ON T1.people_id = T2.people_id ORDER BY T2.height DESC LIMIT 1
['entrepreneur', 'people']
['company', 'height']

SELECT COUNT(*), competition FROM match GROUP BY competition
[]
['competition', 'competition']

SELECT census_ranking FROM city WHERE status <> "Village"
['city']
['status']

SELECT rank, company, market_value FROM company WHERE main_industry = 'Banking' ORDER BY sales_billion, profits_billion
['company', 'company']
['rank', 'company', 'company']

SELECT country FROM member GROUP BY country HAVING COUNT(*) > 2
['member']
['country', 'country']

SELECT artist_name FROM song WHERE resolution > 500 GROUP BY languages ORDER BY COUNT(*) DESC LIMIT 1
['song']
['resolution', 'languages']


In [206]:
test = ['SELECT T3.name, T2.date, T2.venue FROM debate_people AS T1 JOIN debate AS T2 ON T1.debate_id = T2.debate_id JOIN people AS T3 ON T1.negative = T3.people_id ORDER BY T3.name',
'SELECT COUNT(*), address FROM member GROUP BY address',
'SELECT COUNT(*) FROM cinema',
'SELECT AVG(money_requested) FROM entrepreneur',]