In [284]:
import sqlite3, os, json, sqlparse, re
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer, util
from nltk.stem import WordNetLemmatizer
from sql_metadata import Parser

In [171]:
folder_path = "src/spider/database"
select_db = ['musical',
             'farm', 
             'hospital_1', 
             'tvshow', 
             'cinema', 
             'restaurants', 
             'company_employee', 
             'company_1', 
             'company_offic', 
             'singer', 
             'coffee_shop']

db = []

if os.path.exists(folder_path) and os.path.isdir(folder_path):
    files = os.listdir(folder_path)
    for file in files:
        # if file in select_db:
        db_path = os.path.join(folder_path, file)
        sqlite_db = [os.path.join(db_path, sql) for sql in os.listdir(db_path) if ".sqlite" in sql]
        db.append(*sqlite_db)

In [173]:
def get_schema(sqlite_db):
    connection = sqlite3.connect(sqlite_db)
    cursor = connection.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    for table in tables:
        table_name = table[0]
        print(f"Table: {table_name}")

        cursor.execute(f"PRAGMA table_info({table_name});")
        columns = cursor.fetchall()

        for column in columns:
            column_name = column[1]
            print(f"  Column: {column_name}")

        print()
    
    cursor.close()
    connection.close()

In [179]:
for table in db:
    # if table in exists_table : continue
    get_schema(table)
    # exists_table.append(table)
    print('---------------------------------')

Table: Web_client_accelerator
  Column: id
  Column: name
  Column: Operating_system
  Column: Client
  Column: Connection

Table: browser
  Column: id
  Column: name
  Column: market_share

Table: accelerator_compatible_browser
  Column: accelerator_id
  Column: browser_id
  Column: compatible_since_year

---------------------------------
Table: musical
  Column: Musical_ID
  Column: Name
  Column: Year
  Column: Award
  Column: Category
  Column: Nominee
  Column: Result

Table: actor
  Column: Actor_ID
  Column: Name
  Column: Musical_ID
  Column: Character
  Column: Duration
  Column: age

---------------------------------
Table: city
  Column: City_ID
  Column: Official_Name
  Column: Status
  Column: Area_km_2
  Column: Population
  Column: Census_Ranking

Table: farm
  Column: Farm_ID
  Column: Year
  Column: Total_Horses
  Column: Working_Horses
  Column: Total_Cattle
  Column: Oxen
  Column: Bulls
  Column: Cows
  Column: Pigs
  Column: Sheep_and_Goats

Table: farm_competition
  Column: Competition_ID
  Column: Year
  Column: Theme
  Column: Host_city_ID
  Column: Hosts

Table: competition_record
  Column: Competition_ID
  Column: Farm_ID
  Column: Rank

---------------------------------
Table: AREA_CODE_STATE
  Column: area_code
  Column: state

Table: CONTESTANTS
  Column: contestant_number
  Column: contestant_name

Table: VOTES
  Column: vote_id
  Column: phone_number
  Column: state
  Column: contestant_number
  Column: created

---------------------------------
Table: stadium
  Column: id
  Column: name
  Column: Home_Games
  Column: Average_Attendance
  Column: Total_Attendance
  Column: Capacity_Percentage

Table: game
  Column: stadium_id
  Column: id
  Column: Season
  Column: Date
  Column: Home_team
  Column: Away_team
  Column: Score
  Column: Competition

Table: injury_accident
  Column: game_id
  Column: id
  Column: Player
  Column: Injury
  Column: Number_of_matches
  Column: Source

---------------------------------
Table: Physician
  Column: EmployeeID
  Column: Name
  Column: Position
  Column: SSN

Table: Department
  Column: DepartmentID
  Column: Name
  Column: Head

Table: Affiliated_With
  Column: Physician
  Column: Department
  Column: PrimaryAffiliation

Table: Procedures
  Column: Code
  Column: Name
  Column: Cost

Table: Trained_In
  Column: Physician
  Column: Treatment
  Column: CertificationDate
  Column: CertificationExpires

Table: Patient
  Column: SSN
  Column: Name
  Column: Address
  Column: Phone
  Column: InsuranceID
  Column: PCP

Table: Nurse
  Column: EmployeeID
  Column: Name
  Column: Position
  Column: Registered
  Column: SSN

Table: Appointment
  Column: AppointmentID
  Column: Patient
  Column: PrepNurse
  Column: Physician
  Column: Start
  Column: End
  Column: ExaminationRoom

Table: Medication
  Column: Code
  Column: Name
  Column: Brand
  Column: Description

Table: Prescribes
  Column: Physician
  Column: Patient
  Column: Medication
  Column: Date
  Column: Appointment
  Column: Dose

Table: Block
  Column: BlockFloor
  Column: BlockCode

Table: Room
  Column: RoomNumber
  Column: RoomType
  Column: BlockFloor
  Column: BlockCode
  Column: Unavailable

Table: On_Call
  Column: Nurse
  Column: BlockFloor
  Column: BlockCode
  Column: OnCallStart
  Column: OnCallEnd

Table: Stay
  Column: StayID
  Column: Patient
  Column: Room
  Column: StayStart
  Column: StayEnd

Table: Undergoes
  Column: Patient
  Column: Procedures
  Column: Stay
  Column: DateUndergoes
  Column: Physician
  Column: AssistingNurse

---------------------------------
Table: manufacturer
  Column: Manufacturer_ID
  Column: Open_Year
  Column: Name
  Column: Num_of_Factories
  Column: Num_of_Shops

Table: furniture
  Column: Furniture_ID
  Column: Name
  Column: Num_of_Component
  Column: Market_Rate

Table: furniture_manufacte
  Column: Manufacturer_ID
  Column: Furniture_ID
  Column: Price_in_Dollar

---------------------------------
Table: train
  Column: id
  Column: train_number
  Column: name
  Column: origin
  Column: destination
  Column: time
  Column: interval

Table: station
  Column: id
  Column: network_name
  Column: services
  Column: local_authority

Table: route
  Column: train_id
  Column: station_id

Table: weekly_weather
  Column: station_id
  Column: day_of_week
  Column: high_temperature
  Column: low_temperature
  Column: precipitation
  Column: wind_speed_mph

---------------------------------
Table: perpetrator
  Column: Perpetrator_ID
  Column: People_ID
  Column: Date
  Column: Year
  Column: Location
  Column: Country
  Column: Killed
  Column: Injured

Table: people
  Column: People_ID
  Column: Name
  Column: Height
  Column: Weight
  Column: Home Town

---------------------------------
Table: storm
  Column: Storm_ID
  Column: Name
  Column: Dates_active
  Column: Max_speed
  Column: Damage_millions_USD
  Column: Number_Deaths

Table: region
  Column: Region_id
  Column: Region_code
  Column: Region_name

Table: affected_region
  Column: Region_id
  Column: Storm_ID
  Column: Number_city_affected

---------------------------------
Table: flight
  Column: flno
  Column: origin
  Column: destination
  Column: distance
  Column: departure_date
  Column: arrival_date
  Column: price
  Column: aid

Table: aircraft
  Column: aid
  Column: name
  Column: distance

Table: employee
  Column: eid
  Column: name
  Column: salary

Table: certificate
  Column: eid
  Column: aid

---------------------------------
Table: Manufacturers
  Column: Code
  Column: Name
  Column: Headquarter
  Column: Founder
  Column: Revenue

Table: Products
  Column: Code
  Column: Name
  Column: Price
  Column: Manufacturer

---------------------------------
Table: Ref_Hotel_Star_Ratings
  Column: star_rating_code
  Column: star_rating_description

Table: Locations
  Column: Location_ID
  Column: Location_Name
  Column: Address
  Column: Other_Details

Table: Ref_Attraction_Types
  Column: Attraction_Type_Code
  Column: Attraction_Type_Description

Table: Visitors
  Column: Tourist_ID
  Column: Tourist_Details

Table: Features
  Column: Feature_ID
  Column: Feature_Details

Table: Hotels
  Column: hotel_id
  Column: star_rating_code
  Column: pets_allowed_yn
  Column: price_range
  Column: other_hotel_details

Table: Tourist_Attractions
  Column: Tourist_Attraction_ID
  Column: Attraction_Type_Code
  Column: Location_ID
  Column: How_to_Get_There
  Column: Name
  Column: Description
  Column: Opening_Hours
  Column: Other_Details

Table: Street_Markets
  Column: Market_ID
  Column: Market_Details

Table: Shops
  Column: Shop_ID
  Column: Shop_Details

Table: Museums
  Column: Museum_ID
  Column: Museum_Details

Table: Royal_Family
  Column: Royal_Family_ID
  Column: Royal_Family_Details

Table: Theme_Parks
  Column: Theme_Park_ID
  Column: Theme_Park_Details

Table: Visits
  Column: Visit_ID
  Column: Tourist_Attraction_ID
  Column: Tourist_ID
  Column: Visit_Date
  Column: Visit_Details

Table: Photos
  Column: Photo_ID
  Column: Tourist_Attraction_ID
  Column: Name
  Column: Description
  Column: Filename
  Column: Other_Details

Table: Staff
  Column: Staff_ID
  Column: Tourist_Attraction_ID
  Column: Name
  Column: Other_Details

Table: Tourist_Attraction_Features
  Column: Tourist_Attraction_ID
  Column: Feature_ID

---------------------------------
Table: museum
  Column: Museum_ID
  Column: Name
  Column: Num_of_Staff
  Column: Open_Year

Table: visitor
  Column: ID
  Column: Name
  Column: Level_of_membership
  Column: Age

Table: visit
  Column: Museum_ID
  Column: visitor_ID
  Column: Num_of_Ticket
  Column: Total_spent

---------------------------------
Table: race
  Column: Race_ID
  Column: Name
  Column: Class
  Column: Date
  Column: Track_ID

Table: track
  Column: Track_ID
  Column: Name
  Column: Location
  Column: Seating
  Column: Year_Opened

---------------------------------
Table: College
  Column: cName
  Column: state
  Column: enr

Table: Player
  Column: pID
  Column: pName
  Column: yCard
  Column: HS

Table: Tryout
  Column: pID
  Column: cName
  Column: pPos
  Column: decision

---------------------------------
Table: station
  Column: id
  Column: name
  Column: lat
  Column: long
  Column: dock_count
  Column: city
  Column: installation_date

Table: status
  Column: station_id
  Column: bikes_available
  Column: docks_available
  Column: time

Table: trip
  Column: id
  Column: duration
  Column: start_date
  Column: start_station_name
  Column: start_station_id
  Column: end_date
  Column: end_station_name
  Column: end_station_id
  Column: bike_id
  Column: subscription_type
  Column: zip_code

Table: weather
  Column: date
  Column: max_temperature_f
  Column: mean_temperature_f
  Column: min_temperature_f
  Column: max_dew_point_f
  Column: mean_dew_point_f
  Column: min_dew_point_f
  Column: max_humidity
  Column: mean_humidity
  Column: min_humidity
  Column: max_sea_level_pressure_inches
  Column: mean_sea_level_pressure_inches
  Column: min_sea_level_pressure_inches
  Column: max_visibility_miles
  Column: mean_visibility_miles
  Column: min_visibility_miles
  Column: max_wind_Speed_mph
  Column: mean_wind_speed_mph
  Column: max_gust_speed_mph
  Column: precipitation_inches
  Column: cloud_cover
  Column: events
  Column: wind_dir_degrees
  Column: zip_code

---------------------------------
Table: aircraft
  Column: Aircraft_ID
  Column: Order_Year
  Column: Manufacturer
  Column: Model
  Column: Fleet_Series
  Column: Powertrain
  Column: Fuel_Propulsion

Table: pilot
  Column: Pilot_ID
  Column: Pilot_name
  Column: Rank
  Column: Age
  Column: Nationality
  Column: Position
  Column: Join_Year
  Column: Team

Table: pilot_record
  Column: Record_ID
  Column: Pilot_ID
  Column: Aircraft_ID
  Column: Date

---------------------------------
Table: Customers
  Column: customer_id
  Column: customer_first_name
  Column: customer_middle_initial
  Column: customer_last_name
  Column: gender
  Column: email_address
  Column: login_name
  Column: login_password
  Column: phone_number
  Column: town_city
  Column: state_county_province
  Column: country

Table: Orders
  Column: order_id
  Column: customer_id
  Column: date_order_placed
  Column: order_details

Table: Invoices
  Column: invoice_number
  Column: order_id
  Column: invoice_date

Table: Accounts
  Column: account_id
  Column: customer_id
  Column: date_account_opened
  Column: account_name
  Column: other_account_details

Table: Product_Categories
  Column: production_type_code
  Column: product_type_description
  Column: vat_rating

Table: Products
  Column: product_id
  Column: parent_product_id
  Column: production_type_code
  Column: unit_price
  Column: product_name
  Column: product_color
  Column: product_size

Table: Financial_Transactions
  Column: transaction_id
  Column: account_id
  Column: invoice_number
  Column: transaction_type
  Column: transaction_date
  Column: transaction_amount
  Column: transaction_comment
  Column: other_transaction_details

Table: Order_Items
  Column: order_item_id
  Column: order_id
  Column: product_id
  Column: product_quantity
  Column: other_order_item_details

Table: Invoice_Line_Items
  Column: order_item_id
  Column: invoice_number
  Column: product_id
  Column: product_title
  Column: product_quantity
  Column: product_price
  Column: derived_product_cost
  Column: derived_vat_payable
  Column: derived_total_cost

---------------------------------
Table: department
  Column: Department_ID
  Column: Name
  Column: Creation
  Column: Ranking
  Column: Budget_in_Billions
  Column: Num_Employees

Table: head
  Column: head_ID
  Column: name
  Column: born_state
  Column: age

Table: management
  Column: department_ID
  Column: head_ID
  Column: temporary_acting

---------------------------------
Table: event
  Column: Event_ID
  Column: Date
  Column: Venue
  Column: Name
  Column: Event_Attendance

Table: journalist
  Column: journalist_ID
  Column: Name
  Column: Nationality
  Column: Age
  Column: Years_working

Table: news_report
  Column: journalist_ID
  Column: Event_ID
  Column: Work_Type

---------------------------------
Table: TV_Channel
  Column: id
  Column: series_name
  Column: Country
  Column: Language
  Column: Content
  Column: Pixel_aspect_ratio_PAR
  Column: Hight_definition_TV
  Column: Pay_per_view_PPV
  Column: Package_Option

Table: TV_series
  Column: id
  Column: Episode
  Column: Air_Date
  Column: Rating
  Column: Share
  Column: 18_49_Rating_Share
  Column: Viewers_m
  Column: Weekly_Rank
  Column: Channel

Table: Cartoon
  Column: id
  Column: Title
  Column: Directed_by
  Column: Written_by
  Column: Original_air_date
  Column: Production_code
  Column: Channel

---------------------------------
Table: genre
  Column: g_name
  Column: rating
  Column: most_popular_in

Table: artist
  Column: artist_name
  Column: country
  Column: gender
  Column: preferred_genre

Table: files
  Column: f_id
  Column: artist_name
  Column: file_size
  Column: duration
  Column: formats

Table: song
  Column: song_name
  Column: artist_name
  Column: country
  Column: f_id
  Column: genre_is
  Column: rating
  Column: languages
  Column: releasedate
  Column: resolution

---------------------------------
Table: product
  Column: product_id
  Column: product
  Column: dimensions
  Column: dpi
  Column: pages_per_minute_color
  Column: max_page_size
  Column: interface

Table: store
  Column: Store_ID
  Column: Store_Name
  Column: Type
  Column: Area_size
  Column: Number_of_product_category
  Column: Ranking

Table: district
  Column: District_ID
  Column: District_name
  Column: Headquartered_City
  Column: City_Population
  Column: City_Area

Table: store_product
  Column: Store_ID
  Column: Product_ID

Table: store_district
  Column: Store_ID
  Column: District_ID

---------------------------------
Table: party
  Column: Party_ID
  Column: Party_Theme
  Column: Location
  Column: First_year
  Column: Last_year
  Column: Number_of_hosts

Table: host
  Column: Host_ID
  Column: Name
  Column: Nationality
  Column: Age

Table: party_host
  Column: Party_ID
  Column: Host_ID
  Column: Is_Main_in_Charge

---------------------------------
Table: captain
  Column: Captain_ID
  Column: Name
  Column: Ship_ID
  Column: age
  Column: Class
  Column: Rank

Table: Ship
  Column: Ship_ID
  Column: Name
  Column: Type
  Column: Built_Year
  Column: Class
  Column: Flag

---------------------------------
Table: Addresses
  Column: Address_ID
  Column: address_details

Table: Locations
  Column: Location_ID
  Column: Other_Details

Table: Products
  Column: Product_ID
  Column: Product_Type_Code
  Column: Product_Name
  Column: Product_Price

Table: Parties
  Column: Party_ID
  Column: Party_Details

Table: Assets
  Column: Asset_ID
  Column: Other_Details

Table: Channels
  Column: Channel_ID
  Column: Other_Details

Table: Finances
  Column: Finance_ID
  Column: Other_Details

Table: Events
  Column: Event_ID
  Column: Address_ID
  Column: Channel_ID
  Column: Event_Type_Code
  Column: Finance_ID
  Column: Location_ID

Table: Products_in_Events
  Column: Product_in_Event_ID
  Column: Event_ID
  Column: Product_ID

Table: Parties_in_Events
  Column: Party_ID
  Column: Event_ID
  Column: Role_Code

Table: Agreements
  Column: Document_ID
  Column: Event_ID

Table: Assets_in_Events
  Column: Asset_ID
  Column: Event_ID

---------------------------------
Table: Ref_Characteristic_Types
  Column: characteristic_type_code
  Column: characteristic_type_description

Table: Ref_Colors
  Column: color_code
  Column: color_description

Table: Ref_Product_Categories
  Column: product_category_code
  Column: product_category_description
  Column: unit_of_measure

Table: Characteristics
  Column: characteristic_id
  Column: characteristic_type_code
  Column: characteristic_data_type
  Column: characteristic_name
  Column: other_characteristic_details

Table: Products
  Column: product_id
  Column: color_code
  Column: product_category_code
  Column: product_name
  Column: typical_buying_price
  Column: typical_selling_price
  Column: product_description
  Column: other_product_details

Table: Product_Characteristics
  Column: product_id
  Column: characteristic_id
  Column: product_characteristic_value

---------------------------------
Table: Breeds
  Column: breed_code
  Column: breed_name

Table: Charges
  Column: charge_id
  Column: charge_type
  Column: charge_amount

Table: Sizes
  Column: size_code
  Column: size_description

Table: Treatment_Types
  Column: treatment_type_code
  Column: treatment_type_description

Table: Owners
  Column: owner_id
  Column: first_name
  Column: last_name
  Column: street
  Column: city
  Column: state
  Column: zip_code
  Column: email_address
  Column: home_phone
  Column: cell_number

Table: Dogs
  Column: dog_id
  Column: owner_id
  Column: abandoned_yn
  Column: breed_code
  Column: size_code
  Column: name
  Column: age
  Column: date_of_birth
  Column: gender
  Column: weight
  Column: date_arrived
  Column: date_adopted
  Column: date_departed

Table: Professionals
  Column: professional_id
  Column: role_code
  Column: first_name
  Column: street
  Column: city
  Column: state
  Column: zip_code
  Column: last_name
  Column: email_address
  Column: home_phone
  Column: cell_number

Table: Treatments
  Column: treatment_id
  Column: dog_id
  Column: professional_id
  Column: treatment_type_code
  Column: date_of_treatment
  Column: cost_of_treatment

---------------------------------
Table: Customers
  Column: customer_id
  Column: customer_details

Table: Properties
  Column: property_id
  Column: property_type_code
  Column: property_address
  Column: other_details

Table: Residents
  Column: resident_id
  Column: property_id
  Column: date_moved_in
  Column: date_moved_out
  Column: other_details

Table: Organizations
  Column: organization_id
  Column: parent_organization_id
  Column: organization_details

Table: Services
  Column: service_id
  Column: organization_id
  Column: service_type_code
  Column: service_details

Table: Residents_Services
  Column: resident_id
  Column: service_id
  Column: date_moved_in
  Column: property_id
  Column: date_requested
  Column: date_provided
  Column: other_details

Table: Things
  Column: thing_id
  Column: organization_id
  Column: Type_of_Thing_Code
  Column: service_type_code
  Column: service_details

Table: Customer_Events
  Column: Customer_Event_ID
  Column: customer_id
  Column: date_moved_in
  Column: property_id
  Column: resident_id
  Column: thing_id

Table: Customer_Event_Notes
  Column: Customer_Event_Note_ID
  Column: Customer_Event_ID
  Column: service_type_code
  Column: resident_id
  Column: property_id
  Column: date_moved_in

Table: Timed_Status_of_Things
  Column: thing_id
  Column: Date_and_Date
  Column: Status_of_Thing_Code

Table: Timed_Locations_of_Things
  Column: thing_id
  Column: Date_and_Time
  Column: Location_Code

---------------------------------
Table: book_club
  Column: book_club_id
  Column: Year
  Column: Author_or_Editor
  Column: Book_Title
  Column: Publisher
  Column: Category
  Column: Result

Table: movie
  Column: movie_id
  Column: Title
  Column: Year
  Column: Director
  Column: Budget_million
  Column: Gross_worldwide

Table: culture_company
  Column: Company_name
  Column: Type
  Column: Incorporated_in
  Column: Group_Equity_Shareholding
  Column: book_club_id
  Column: movie_id

---------------------------------
Table: pilot
  Column: Pilot_Id
  Column: Name
  Column: Age

Table: aircraft
  Column: Aircraft_ID
  Column: Aircraft
  Column: Description
  Column: Max_Gross_Weight
  Column: Total_disk_area
  Column: Max_disk_Loading

Table: match
  Column: Round
  Column: Location
  Column: Country
  Column: Date
  Column: Fastest_Qualifying
  Column: Winning_Pilot
  Column: Winning_Aircraft

Table: airport
  Column: Airport_ID
  Column: Airport_Name
  Column: Total_Passengers
  Column: %_Change_2007

In [175]:
src_folder = "src"
schema_description_file = "mockup_schema_description.json"
with open(os.path.join(src_folder, schema_description_file)) as f:
    dbs = json.load(f)
model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')
lemmanizer = WordNetLemmatizer()

In [56]:
# description_emb = []

# for db in dbs:
#     schema_emb = {}
#     table_name = db['table']
#     table_description = db['description']
#     schema_emb[table_name] = model.encode(table_description).tolist()
#     columns = list(db['columns'].keys())
#     for col in columns:
#         column_description = db['columns'][col]
#         schema_emb[col] = model.encode(column_description).tolist()
#     description_emb.append(schema_emb)

# schema_vector_file = "mockup_schema_description_vector.json"
# with open(os.path.join(src_folder, schema_vector_file), "w") as f:
#     json.dump(description_emb,f)

In [180]:
schema_vector_file = "mockup_schema_description_vector.json"
with open(os.path.join(src_folder, schema_vector_file)) as f:
    schema_vector = json.load(f)

In [376]:
# string mathing , max_score = weight of string match

def column_from_question(question,used_table_col = {}, default_score=0.6):
    # question_tokens = [token.lower() for token in tokenizer.tokenize(question)]
    question_tokens = [lemmanizer.lemmatize(token.lower()) for token in question.split()]
    # print(question_tokens)
    for table in schema_vector:
        max_score = default_score
        for token in question_tokens:
            cols = [ key.lower() for key in table.keys()]
            table_name = cols.pop(0)
            if token == table_name: 
                max_score = 1.0
                # plus the score of columns in exact match with table name
                if used_table_col.get(token) is not None: 
                    for key in used_table_col[token]: 
                        used_table_col[token].update({key: used_table_col[token][key] + 0.1})
            # exact match table and column
            if token in cols: 
                used_table_col.setdefault(table_name, {}).update({token : max_score})

            

    return used_table_col

In [365]:
# filter_table : filter by table before 
def filter_tables_by_description(question, column_threshold = 0.4, table_threshold = 0.2, filter_tables = True):
    question_emb = model.encode(question)
    used_schema = {}
    for i in range(len(schema_vector)):
        table_name = list(schema_vector[i].keys())[0]

        table_description_vector = schema_vector[i][table_name]
        if filter_tables and util.cos_sim(table_description_vector, question_emb) < table_threshold: continue
        
        used_col = {}
        for col, vec in schema_vector[i].items():
            if col == table_name: continue
            score = round(float(util.cos_sim(vec, question_emb)),2)
            if score > column_threshold:
                # column_description = [dbs[i]['columns'][col] for i in range(len(dbs)) if dbs[i]['table'] == table_name][0]
                # print(f"{table_name} - {col} : {score}\nDescription : {column_description}\n")
                used_col.update({col: score})
        if len(used_col) > 0: used_schema[table_name] = used_col
    return used_schema

In [366]:
question = "Who direct the mickey mouse"

In [384]:
selected_table_column = filter_tables_by_description(question, column_threshold = 0.3, filter_tables = False)
selected_table_column

{'Cartoon': {'id': 0.31,
  'Title': 0.35,
  'Directed_by': 0.54,
  'Written_by': 0.44,
  'Original_air_date': 0.32,
  'Production_code': 0.39},
 'film': {'Directed_by': 0.36}}

In [385]:
selected_table_column = column_from_question(question, used_table_col=selected_table_column)
selected_table_column

['who', 'direct', 'the', 'mickey', 'mouse']

{'Cartoon': {'id': 0.31,
  'Title': 0.35,
  'Directed_by': 0.54,
  'Written_by': 0.44,
  'Original_air_date': 0.32,
  'Production_code': 0.39},
 'film': {'Directed_by': 0.36}}

In [366]:
full_sql = ""
for table in selected_table_column:
    sql = f"CREATE TABLE {table} ("
    for column in selected_table_column.get(table).keys():
        sql += f'"{column}" datatype, '

    sql = sql[:-2] + " )\n\n"
    full_sql += sql
print(full_sql)

CREATE TABLE people ("Nationality" datatype )

CREATE TABLE singer ("Singer_ID" datatype, "Name" datatype, "Birth_Year" datatype, "Net_Worth_Millions" datatype, "Citizenship" datatype )

CREATE TABLE song ("Singer_ID" datatype )

In [27]:
spider_sql = []
df_data = {
    'Question' : [],
    'Table' : [],
    'SQL' : []
}

with open("src/NSText2SQL/train.jsonl") as f:
    for line in f:
        data = json.loads(line)
        if data['source'] == 'spider': 
            spider_sql.append(data)
            df_data['Question'].append(data['instruction'].split('--')[-1].strip())
            df_data['Table'].append(data['instruction'].split('--')[0].strip())
            df_data['SQL'].append(data['output'])

df = pd.DataFrame(df_data)
df.to_csv('src/NSText2SQL/train_spider.csv', index=False)
df.head()

,Question,Table,SQL
0,"What are the first names, office locations of ...","CREATE TABLE course (\n crs_code text,\n ...","SELECT T2.emp_fname, T4.prof_office, T3.crs_de..."
1,Please show the songs that have result 'nomina...,"CREATE TABLE artist (\n artist_id number,\n...",SELECT T2.song FROM music_festival AS T1 JOIN ...
2,Which teams had more than 3 eliminations?,CREATE TABLE elimination (\n elimination_id...,SELECT team FROM elimination GROUP BY team HAV...
3,"Show the names of people, and dates and venues...","CREATE TABLE people (\n people_id number,\n...","SELECT T3.name, T2.date, T2.venue FROM debate_..."
4,Tell me the the date when the first claim was ...,CREATE TABLE settlements (\n settlement_id ...,SELECT date_claim_made FROM claims ORDER BY da...

In [342]:
# Split the SQL query into lines
def table_column_of_create_table(query):
    lines = query.splitlines()

    # Initialize a list to store column names
    columns = []
    table_names = []

    # Look for "CREATE TABLE" and start capturing columns
    capture = False

    for line in lines:
        if "CREATE TABLE" in line:
            capture = True
            table_names.append(line.split()[-2])
        elif line.strip().endswith(')') or line.strip().endswith(');'):
            capture = False
        elif capture:
            column_name = line.strip().split()[0]
            if column_name in ["CONSTRAINT", "PRIMARY"]: continue
            columns.append(column_name)

    # print("Table Name:", table_names)
    # print("Columns:", columns)
    return table_names, columns

In [157]:
spider_path = 'src/spider/database'
map_table_db = {}

for folder in os.listdir(spider_path):
    schema_path = os.path.join(spider_path, folder, 'schema.sql')
    if os.path.exists(schema_path):
        with open(schema_path, 'r') as sql_file:
            sql_script = sql_file.read()
            table_names = table_column_of_create_table(sql_script)[0]
            for table in table_names: map_table_db[table] = folder

with open("src/spider/table_database_map.json", "w") as f:
    json.dump(map_table_db, f, indent=4)

In [356]:
sql_extract_token_type = {
            sqlparse.sql.IdentifierList, sqlparse.sql.Where,
            sqlparse.sql.Having, sqlparse.sql.Comparison, sqlparse.sql.Function,
            sqlparse.sql.Parenthesis, sqlparse.sql.Operation, sqlparse.sql.Case
        }

def columns_from_query(sql_query):
    # identifiers contain table name and column name
    if type(sql_query) == str:
        sql_query = sqlparse.parse(sql_query)[0]
    identifiers = []
    for token in sql_query:
        if isinstance(token, sqlparse.sql.Identifier):
            identifiers.append(token.get_real_name())
        elif hasattr(token, "tokens"):
            identifiers.extend(columns_from_query(token.tokens))
    return identifiers

def columns_by_split(sql_query:str, all_columns:list):
    columns = []
    for token in sql_query.split():
        if token[-1] == ",": token = token[:-1]
        if token in all_columns:
            columns.append(token)
    return columns

In [362]:
db_to_table_map = {}
for table, db in map_table_db.items():
    if db in db_to_table_map:
        db_to_table_map[db].append(table)
    else:
        db_to_table_map[db] = [table]

In [387]:
exists_table = [i['table'] for i in dbs]
for i,row in df.iterrows():
    table_of_query = row['Table']
    tables, all_columns = table_column_of_create_table(table_of_query)
    if tables[0] in exists_table:
        try:
            # db_path = os.path.join(spider_path, map_table_db[tables[0]])
            db = map_table_db[tables[0]]
            table_in_db = db_to_table_map[db]
            print(row['Question'])
            print(row['SQL'])
            columns = Parser(row['SQL']).columns
            expect_cols = []
            expect_table = []
            for col in columns:
                # that has join function
                if "." in col:
                    table_name, column_name = col.split('.') 
                    expect_cols.append(column_name)
                    expect_table.append(table_name)
                elif col in all_columns:
                    expect_cols.append(col)
            
            expect_cols.extend([c for c in columns_from_query(row['SQL']) if c in all_columns])
            expect_cols.extend(columns_by_split(row['SQL'], all_columns))
            expect_table.extend(Parser(row['SQL']).tables)

            expect_table = list(set(expect_table))
            expect_cols = list(set(expect_cols))
            expect_cols = [c for c in expect_cols if c not in expect_table]

            print("EXPECT COLUMNS:",expect_cols)
            print("EXPECT TABLE:", expect_table)
            
            result = filter_tables_by_description(row['Question'], column_threshold = 0.1, filter_tables = False)
            result = column_from_question(row['Question'], used_table_col=result)
            
            result_tables = []
            result_columns = []
            for t in result:
                if t in table_in_db: 
                    result_tables.append(t)
                    result_columns.extend(list(result[t].keys()))
            print("PREDICT TABLE:", result_tables)
            print("PREDICT COLUMNS:", result_columns)

            table_TP = len(set(expect_table) & set(result_tables))
            table_FP = len(set(result_tables) - set(expect_table))
            table_FN = len(set(expect_table) - set(result_tables))
            col_TP = len(set(expect_cols) & set(result_columns))
            col_FP = len(set(result_columns) - set(expect_cols))
            col_FN = len(set(expect_cols) - set(result_columns))

            
            
            try:
                table_recall = table_TP / (table_TP + table_FN)
                table_precision = table_TP / (table_TP + table_FP)
                
                col_recall = col_TP / (col_TP + col_FN)
                col_precision = col_TP / (col_TP + col_FP)

                table_f1 = 2 * (table_precision * table_recall) / (table_precision + table_recall)
                col_f1 = 2 * (col_precision * col_recall) / (col_precision + col_recall)
            except ZeroDivisionError:
                table_f1, col_f1 = "ZeroDivisionError", "ZeroDivisionError"
            print("TABLE RECALL:", round(table_recall,2), "\tCOLUMNS RECALL:", round(table_recall,2))
            print("TABLE PRECISION:", round(table_precision,2), "\tCOLUMNS PRECISION:", round(col_precision,2))
            print("TABLE F1 SCORE:", table_f1, "\tCOLUMNS F1 SCORE:", col_f1)
            print()
        except KeyError: pass

Show the names of people, and dates and venues of debates they are on the negative side, ordered in ascending alphabetical order of name.
SELECT T3.name, T2.date, T2.venue FROM debate_people AS T1 JOIN debate AS T2 ON T1.debate_id = T2.debate_id JOIN people AS T3 ON T1.negative = T3.people_id ORDER BY T3.name
EXPECT COLUMNS: ['negative', 'name', 'date', 'people_id', 'venue', 'debate_id']
EXPECT TABLE: ['people', 'debate_people', 'debate']
PREDICT TABLE: ['people']
PREDICT COLUMNS: ['Name', 'Nationality', 'name']
TABLE RECALL: 0.33 	COLUMNS RECALL: 0.33
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.33
TABLE F1 SCORE: 0.5 	COLUMNS F1 SCORE: 0.2222222222222222

Find the number of members living in each address.
SELECT COUNT(*), address FROM member GROUP BY address
EXPECT COLUMNS: ['address']
EXPECT TABLE: ['member']
PREDICT TABLE: ['shop', 'member']
PREDICT COLUMNS: ['Address', 'Num_of_staff', 'Member_ID', 'Name', 'Membership_card', 'Age', 'Level_of_membership', 'Address']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

Count the number of cinemas.
SELECT COUNT(*) FROM cinema
EXPECT COLUMNS: []
EXPECT TABLE: ['cinema']
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['Cinema_ID', 'Name', 'Openning_year', 'Capacity', 'Location', 'Cinema_ID', 'Film_ID', 'Date', 'Show_times_per_day', 'Price']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

Return the average money requested across all entrepreneurs.
SELECT AVG(money_requested) FROM entrepreneur
EXPECT COLUMNS: ['money_requested']
EXPECT TABLE: ['entrepreneur']
PREDICT TABLE: []
PREDICT COLUMNS: []
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

Return the name of the category to which the film 'HUNGER ROOF' belongs.
SELECT T1.name FROM category AS T1 JOIN film_category AS T2 ON T1.category_id = T2.category_id JOIN film AS T3 ON T2.film_id = T3.film_id WHERE T3.title = 'HUNGER ROOF'
EXPECT COLUMNS: ['film_id', 'name', 'title', 'category_id']
EXPECT TABLE: ['category', 'film_category', 'film']
PREDICT TABLE: ['actor', 'company']
PREDICT COLUMNS: ['Actor_ID', 'Name', 'Musical_ID', 'Character', 'Duration', 'Age', 'name', 'Name', 'name']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.14
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

Count different addresses of each school.
SELECT COUNT(DISTINCT dept_address), school_code FROM department GROUP BY school_code
EXPECT COLUMNS: ['school_code', 'dept_address']
EXPECT TABLE: ['department']
PREDICT TABLE: ['department']
PREDICT COLUMNS: ['Dname', 'Dnumber', 'Mgr_ssn', 'Mgr_start_date']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What is the location with the most cinemas opened in year 2010 or later?
SELECT location FROM cinema WHERE openning_year >= 2010 GROUP BY location ORDER BY COUNT(*) DESC LIMIT 1
EXPECT COLUMNS: ['location', 'openning_year']
EXPECT TABLE: ['cinema']
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['Cinema_ID', 'Name', 'Openning_year', 'Capacity', 'Location', 'location', 'Cinema_ID', 'Film_ID', 'Date', 'Show_times_per_day', 'Price']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.1
TABLE F1 SCORE: 0.6666666666666666 	COLUMNS F1 SCORE: 0.16666666666666669

List the first names of people in alphabetical order?
SELECT first_name FROM people ORDER BY first_name
EXPECT COLUMNS: ['first_name']
EXPECT TABLE: ['people']
PREDICT TABLE: ['people']
PREDICT COLUMNS: ['People_ID', 'Age', 'Name', 'Nationality', 'Graduation_College', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

How many professors attained either Ph.D. or Masters degrees?
SELECT COUNT(*) FROM professor WHERE prof_high_degree = 'Ph.D.' OR prof_high_degree = 'MA'
EXPECT COLUMNS: ['prof_high_degree']
EXPECT TABLE: ['professor']
PREDICT TABLE: ['department']
PREDICT COLUMNS: ['Dname', 'Dnumber', 'Mgr_ssn', 'Mgr_start_date']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

List the names of gymnasts in ascending order by their heights.
SELECT T2.name FROM gymnast AS T1 JOIN people AS T2 ON T1.gymnast_id = T2.people_id ORDER BY T2.height
EXPECT COLUMNS: ['gymnast_id', 'height', 'name', 'people_id']
EXPECT TABLE: ['people', 'gymnast']
PREDICT TABLE: ['people']
PREDICT COLUMNS: ['People_ID', 'Age', 'Name', 'Nationality', 'Graduation_College', 'name']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.17
TABLE F1 SCORE: 0.6666666666666666 	COLUMNS F1 SCORE: 0.2

List the name of musicals that do not have actors.
SELECT name FROM musical WHERE NOT musical_id IN (SELECT musical_id FROM actor)
EXPECT COLUMNS: ['musical_id', 'name']
EXPECT TABLE: ['actor', 'musical']
PREDICT TABLE: ['musical']
PREDICT COLUMNS: ['Musical_ID', 'Name', 'Year', 'Award', 'Nominee', 'Result', 'name']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.14
TABLE F1 SCORE: 0.6666666666666666 	COLUMNS F1 SCORE: 0.22222222222222224

What is total number of show times per dat for each cinema?
SELECT T2.name, SUM(T1.show_times_per_day) FROM schedule AS T1 JOIN cinema AS T2 ON T1.cinema_id = T2.cinema_id GROUP BY T1.cinema_id
EXPECT COLUMNS: ['show_times_per_day', 'name', 'cinema_id']
EXPECT TABLE: ['schedule', 'cinema']
PREDICT TABLE: ['film']
PREDICT COLUMNS: ['Film_ID', 'Rank_in_series', 'Number_in_season', 'Title', 'Directed_by', 'Original_air_date', 'Production_code']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

List the names of members who did not attend any performance.
SELECT name FROM member WHERE NOT member_id IN (SELECT member_id FROM member_attendance)
EXPECT COLUMNS: ['member_id', 'name']
EXPECT TABLE: ['member', 'member_attendance']
PREDICT TABLE: ['member']
PREDICT COLUMNS: ['Member_ID', 'Name', 'Membership_card', 'Age', 'Level_of_membership', 'Address', 'name']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.14
TABLE F1 SCORE: 0.6666666666666666 	COLUMNS F1 SCORE: 0.22222222222222224

Which department has the most professors with a Ph.D.?
SELECT T2.dept_name, T1.dept_code FROM professor AS T1 JOIN department AS T2 ON T1.dept_code = T2.dept_code WHERE T1.prof_high_degree = 'Ph.D.' GROUP BY T1.dept_code ORDER BY COUNT(*) DESC LIMIT 1
EXPECT COLUMNS: ['dept_code', 'dept_name', 'prof_high_degree']
EXPECT TABLE: ['department', 'professor']
PREDICT TABLE: ['department']
PREDICT COLUMNS: ['Dname', 'Dnumber', 'Mgr_ssn', 'Mgr_start_date']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What are the weights of entrepreneurs in descending order of money requested?
SELECT T2.weight FROM entrepreneur AS T1 JOIN people AS T2 ON T1.people_id = T2.people_id ORDER BY T1.money_requested DESC
EXPECT COLUMNS: ['money_requested', 'weight', 'people_id']
EXPECT TABLE: ['people', 'entrepreneur']
PREDICT TABLE: []
PREDICT COLUMNS: []
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

Return the characters and durations for each actor.
SELECT character, duration FROM actor
EXPECT COLUMNS: ['character', 'duration']
EXPECT TABLE: ['actor']
PREDICT TABLE: ['musical']
PREDICT COLUMNS: ['Musical_ID', 'Name', 'Year', 'Award', 'Category', 'Nominee', 'Result']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What are the title and director of the films without any schedule?
SELECT title, directed_by FROM film WHERE NOT film_id IN (SELECT film_id FROM schedule)
EXPECT COLUMNS: ['film_id', 'directed_by', 'title']
EXPECT TABLE: ['schedule', 'film']
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['Cinema_ID', 'Name', 'Openning_year', 'Capacity', 'Location', 'Cinema_ID', 'Film_ID', 'Date', 'Show_times_per_day']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What are the number of different course codes?
SELECT COUNT(DISTINCT crs_code) FROM class
EXPECT COLUMNS: ['crs_code']
EXPECT TABLE: ['class']
PREDICT TABLE: ['employee']
PREDICT COLUMNS: ['Dno']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What is the id of the files that are available in the format of mp4 and a resolution smaller than 1000?
SELECT f_id FROM files WHERE formats = "mp4" INTERSECT SELECT f_id FROM song WHERE resolution < 1000
EXPECT COLUMNS: ['formats', 'resolution', 'f_id']
EXPECT TABLE: ['files', 'song']
PREDICT TABLE: ['singer', 'song']
PREDICT COLUMNS: ['Singer_ID', 'Citizenship', 'Song_ID', 'Title', 'Singer_ID', 'Sales', 'Highest_Position']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

List the names of people that are not perpetrators.
SELECT name FROM people WHERE NOT people_id IN (SELECT people_id FROM perpetrator)
EXPECT COLUMNS: ['people_id', 'name']
EXPECT TABLE: ['people', 'perpetrator']
PREDICT TABLE: ['people']
PREDICT COLUMNS: ['People_ID', 'Age', 'Name', 'Nationality', 'name']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.2
TABLE F1 SCORE: 0.6666666666666666 	COLUMNS F1 SCORE: 0.28571428571428575

What are the minimum and maximum membership amounts for all branches that either opened in 2011 or are located in London?
SELECT MIN(membership_amount), MAX(membership_amount) FROM branch WHERE open_year = 2011 OR city = 'London'
EXPECT COLUMNS: ['city', 'membership_amount', 'open_year']
EXPECT TABLE: ['branch']
PREDICT TABLE: ['shop', 'member']
PREDICT COLUMNS: ['Address', 'Num_of_staff', 'Score', 'Open_Year', 'Member_ID', 'Name', 'Membership_card', 'Age', 'Time_of_purchase', 'Level_of_membership', 'Address']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What are the durations of the longest and the shortest tracks in milliseconds?
SELECT MAX(milliseconds), MIN(milliseconds) FROM track
EXPECT COLUMNS: ['milliseconds']
EXPECT TABLE: ['track']
PREDICT TABLE: ['employee']
PREDICT COLUMNS: ['Minit']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

How many distinct hometowns did these people have?
SELECT COUNT(DISTINCT hometown) FROM people
EXPECT COLUMNS: ['hometown']
EXPECT TABLE: ['people']
PREDICT TABLE: ['people']
PREDICT COLUMNS: ['People_ID', 'Age', 'Name', 'Nationality', 'Graduation_College']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

Show the investors shared by entrepreneurs that requested more than 140000 and entrepreneurs that requested less than 120000.
SELECT investor FROM entrepreneur WHERE money_requested > 140000 INTERSECT SELECT investor FROM entrepreneur WHERE money_requested < 120000
EXPECT COLUMNS: ['money_requested', 'investor']
EXPECT TABLE: ['entrepreneur']
PREDICT TABLE: []
PREDICT COLUMNS: []
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What are the first names of all students who took ACCT-211 and received a C?
SELECT T3.stu_fname FROM class AS T1 JOIN enroll AS T2 ON T1.class_code = T2.class_code JOIN student AS T3 ON T2.stu_num = T3.stu_num WHERE T1.crs_code = 'ACCT-211' AND T2.enroll_grade = 'C'
EXPECT COLUMNS: ['stu_num', 'stu_fname', 'enroll_grade', 'class_code', 'crs_code']
EXPECT TABLE: ['class', 'enroll', 'student']
PREDICT TABLE: ['employee']
PREDICT COLUMNS: ['Fname', 'Minit', 'Lname', 'Ssn', 'Bdate', 'Address', 'Super_ssn', 'Dno']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

Find the city that hosted some events in the most recent year. What is the id of this city?
SELECT host_city FROM hosting_city ORDER BY year DESC LIMIT 1
EXPECT COLUMNS: ['year', 'host_city']
EXPECT TABLE: ['hosting_city']
PREDICT TABLE: ['city']
PREDICT COLUMNS: ['City_ID', 'Official_Name', 'Status', 'Area_km_2', 'Population', 'Census_Ranking']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What are the names of the artists who released a song that has the word love in its title, and where are the artists from?
SELECT T1.artist_name, T1.country FROM artist AS T1 JOIN song AS T2 ON T1.artist_name = T2.artist_name WHERE T2.song_name LIKE "%love%"
EXPECT COLUMNS: ['country', 'artist_name', 'song_name']
EXPECT TABLE: ['song', 'artist']
PREDICT TABLE: ['singer', 'song']
PREDICT COLUMNS: ['Singer_ID', 'Name', 'Birth_Year', 'Net_Worth_Millions', 'Citizenship', 'name', 'Song_ID', 'Title', 'Singer_ID', 'Sales', 'Highest_Position']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

Show the manager name for gas stations belonging to the ExxonMobil company.
SELECT T3.manager_name FROM station_company AS T1 JOIN company AS T2 ON T1.company_id = T2.company_id JOIN gas_station AS T3 ON T1.station_id = T3.station_id WHERE T2.company = 'ExxonMobil'
EXPECT COLUMNS: ['manager_name', 'company_id', 'station_id']
EXPECT TABLE: ['company', 'gas_station', 'station_company']
PREDICT TABLE: ['actor', 'company']
PREDICT COLUMNS: ['Actor_ID', 'Name', 'name', 'Company_ID', 'Name', 'Headquarters', 'Industry', 'Sales_in_Billion', 'Profits_in_Billion', 'Assets_in_Billion', 'Market_Value_in_Billion', 'name']
TABLE RECALL: 0.33 	COLUMNS RECALL: 0.33
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

Return the titles of any movies with an R rating.
SELECT title FROM film WHERE rating = 'R'
EXPECT COLUMNS: ['rating', 'title']
EXPECT TABLE: ['film']
PREDICT TABLE: ['actor', 'company']
PREDICT COLUMNS: ['Actor_ID', 'Name', 'Musical_ID', 'Duration', 'Age', 'Sales_in_Billion']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

How many credits does course CIS-220 have, and what its description?
SELECT crs_credit, crs_description FROM course WHERE crs_code = 'CIS-220'
EXPECT COLUMNS: ['crs_description', 'crs_credit', 'crs_code']
EXPECT TABLE: ['course']
PREDICT TABLE: ['department']
PREDICT COLUMNS: ['Dname', 'Dnumber', 'Mgr_ssn', 'Mgr_start_date']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What is the name of the aircraft that was on flight number 99?
SELECT T2.name FROM flight AS T1 JOIN aircraft AS T2 ON T1.aid = T2.aid WHERE T1.flno = 99
EXPECT COLUMNS: ['flno', 'aid', 'name']
EXPECT TABLE: ['aircraft', 'flight']
PREDICT TABLE: ['employee']
PREDICT COLUMNS: ['Fname', 'Minit', 'Lname', 'Ssn', 'Bdate', 'Address', 'Dno']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What are the distinct nominees of the musicals with the award that is not 'Tony Award'?
SELECT DISTINCT nominee FROM musical WHERE award <> "Tony Award"
EXPECT COLUMNS: ['nominee', 'award']
EXPECT TABLE: ['musical']
PREDICT TABLE: ['actor']
PREDICT COLUMNS: ['Actor_ID', 'Name', 'Musical_ID', 'Character', 'Duration', 'Age']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

Find the last name and hire date of the professor who is in office DRE 102.
SELECT T1.emp_lname, T1.emp_hiredate FROM employee AS T1 JOIN professor AS T2 ON T1.emp_num = T2.emp_num WHERE T2.prof_office = 'DRE 102'
EXPECT COLUMNS: ['emp_num', 'prof_office', 'emp_hiredate', 'emp_lname']
EXPECT TABLE: ['employee', 'professor']
PREDICT TABLE: ['department']
PREDICT COLUMNS: ['Dname', 'Dnumber', 'Mgr_ssn', 'Mgr_start_date', 'name']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What is the name of member in charge of greatest number of events?
SELECT T1.member_name FROM member AS T1 JOIN party_events AS T2 ON T1.member_id = T2.member_in_charge_id GROUP BY T2.member_in_charge_id ORDER BY COUNT(*) DESC LIMIT 1
EXPECT COLUMNS: ['member_name', 'member_in_charge_id', 'member_id']
EXPECT TABLE: ['member', 'party_events']
PREDICT TABLE: ['shop', 'member']
PREDICT COLUMNS: ['Shop_ID', 'Num_of_staff', 'Open_Year', 'Member_ID', 'Name', 'Membership_card', 'Age', 'Level_of_membership', 'Address', 'name']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What is the year and semester with the most courses?
SELECT semester, year FROM section GROUP BY semester, year ORDER BY COUNT(*) DESC LIMIT 1
EXPECT COLUMNS: ['year', 'semester']
EXPECT TABLE: ['section']
PREDICT TABLE: ['department']
PREDICT COLUMNS: ['Dname', 'Dnumber', 'Mgr_ssn', 'Mgr_start_date']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What is the name and the average gpa of department whose students have the highest average gpa?
SELECT T2.dept_name, AVG(T1.stu_gpa) FROM student AS T1 JOIN department AS T2 ON T1.dept_code = T2.dept_code GROUP BY T1.dept_code ORDER BY AVG(T1.stu_gpa) DESC LIMIT 1
EXPECT COLUMNS: ['dept_code', 'dept_name', 'stu_gpa']
EXPECT TABLE: ['student', 'department']
PREDICT TABLE: ['department']
PREDICT COLUMNS: ['Dname', 'Dnumber', 'Mgr_ssn', 'Mgr_start_date', 'name']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

What are the names of musicals who have at 3 or more actors?
SELECT T2.name FROM actor AS T1 JOIN musical AS T2 ON T1.musical_id = T2.musical_id GROUP BY T1.musical_id HAVING COUNT(*) >= 3
EXPECT COLUMNS: ['musical_id', 'name']
EXPECT TABLE: ['actor', 'musical']
PREDICT TABLE: ['musical']
PREDICT COLUMNS: ['Musical_ID', 'Name', 'Year', 'Award', 'Category', 'Nominee', 'Result', 'name']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.12
TABLE F1 SCORE: 0.6666666666666666 	COLUMNS F1 SCORE: 0.2

What are the countries that have at least two perpetrators?
SELECT country, COUNT(*) FROM perpetrator GROUP BY country HAVING COUNT(*) >= 2
EXPECT COLUMNS: ['country']
EXPECT TABLE: ['perpetrator']
PREDICT TABLE: ['people']
PREDICT COLUMNS: ['People_ID', 'Age', 'Name', 'Nationality']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0

In [379]:
i

6993

In [381]:
# Define the expected and predicted values as lists
expected = ["a", "b"]
predicted = ["b", "c", "d", "e"]

# Count True Positives (TP), False Positives (FP), and False Negatives (FN)
TP = len(set(expected) & set(predicted))
FP = len(set(predicted) - set(expected))
FN = len(set(expected) - set(predicted))

# Calculate Recall and Precision
recall = TP / (TP + FN)
precision = TP / (TP + FP)

# Print the results
print("Recall:", recall)
print("Precision:", precision)

Recall: 0.5
Precision: 0.25