In [ ]:
import os, sys, json, re, time, ast, warnings, sqlite3
import pandas as pd
from langchain.chains import LLMChain
from langchain.prompts import PromptTemplate
from langchain.chat_models import ChatOpenAI
from dotenv import load_dotenv
from transformers import AutoTokenizer, AutoModelForCausalLM
sys.path.append('../')
from filtering_schema.Description_base_linking import SchemaLinking

In [ ]:
load_dotenv()
# Set environment variables
base_dir = "../filtering_schema"
os.environ['nsql_model_path'] = os.path.join(base_dir, 'models', 'nsql-350M')
os.environ['sentence_emb_model_path'] = os.path.join(base_dir, 'models', 'all-MiniLM-L6-v2')
os.environ['schema_description_folder_path'] = os.path.join(base_dir, 'src', 'schemas', 'column-descriptions')
os.environ['schema_data_types_folder_path'] = os.path.join(base_dir, 'src', 'schemas', 'column-datatypes')
os.environ['column_threshold'] = '0.2'
os.environ['table_threshold'] = '0.2'
os.environ['max_select_column'] = '10'
os.environ['filter_table'] = 'False'
os.environ['verbose'] = 'False'


schema_link = SchemaLinking()
schema_link.selected_domain(schema_description_folder_path=os.environ.get('schema_description_folder_path'),
                            schema_data_types_folder_path=os.environ.get('schema_data_types_folder_path'))

verbose = bool(os.environ.get('verbose').lower() == 'true')

tokenizer = AutoTokenizer.from_pretrained(os.environ.get('nsql_model_path'))
nsql_model = AutoModelForCausalLM.from_pretrained(os.environ.get('nsql_model_path'))

In [ ]:
model = 'gpt-3.5-turbo-1106'
pointx_nlqsql_df = pd.read_csv("../src/pointx/PointX_nlqsql_pair.csv")
pointx_nlqsql_df

In [ ]:
with open('../filtering_schema/src/schemas/column-descriptions/pointx_keymatrix_dly_description.json') as f:
    pointx_keymatrix_dly_description = json.load(f)

with open('../filtering_schema/src/schemas/column-descriptions/pointx_fbs_rpt_dly_description.json') as f:
    pointx_fbs_rpt_dly_description = json.load(f)

# LLM Schema-linking by giving the schema description

In [ ]:
def SQL_columns(sql_query, table_name):
    if table_name == 'pointx_keymatrix_dly':
        shema_description = pointx_keymatrix_dly_description
    elif table_name == 'pointx_fbs_rpt_dly':
        shema_description = pointx_fbs_rpt_dly_description
    used_cols = [col for col in shema_description['columns'].keys() if col in re.split(r'[()\.\,\s]+', sql_query) ] 
    return used_cols

In [ ]:
def safe_divide(numerator, denominator):
    try:
        result = round(numerator / denominator,2)
    except :
        result = "ZeroDivisionError"
    return result

In [ ]:
def f1_columns(actual_columns, result_columns):
    col_TP = len(set(actual_columns) & set(result_columns))
    col_FP = len(set(result_columns) - set(actual_columns))
    col_FN = len(set(actual_columns) - set(result_columns))

    if col_TP is not None and col_FN is not None and col_FP is not None:
        if len(actual_columns) == 0 : col_recall = 1
        else: col_recall = safe_divide(col_TP, col_TP + col_FN)
        col_precision = safe_divide(col_TP, col_TP + col_FP)
        
    if col_precision is not None and col_recall is not None and col_recall != "ZeroDivisionError" and col_precision != "ZeroDivisionError":
        col_f1 = 2 * safe_divide(col_precision * col_recall, col_precision + col_recall)
        if type(col_f1) == str: col_f1 = "ZeroDivisionError"
    else: col_f1 = "ERROR"
    
    return col_recall, col_precision, col_f1

In [ ]:
pointx_keymatrix_dly_context = """
{
    "table": "pointx_keymatrix_dly",
    "description": "The Key Matrix Dashboard Design table provides a detailed overview of dashboard-related database columns, \nincluding data types, status indicators, descriptions, conditions, business logic, and sample data, \nenabling a comprehensive understanding of the data structure for effective dashboard design.",
    "columns": {
        "month_id": "Transaction month",
        "ntx_pointx_financial": "All financial transactions, both Payment, Top Up, Transfer",
        "ntx_pointx_financial_out": "Number of Payment Transaction, Transfer",
        "ncust_user": "All the number of Customer in the systemAnd can use Point XPP",
        "ncust_pointx": "Point X Customers, both Customer Type, Easy and Non Easy, not including Guest.",
        "ncust_visit": "All the number of Customer in the systemAnd come to use the point x app on that day",
        "ncust_pointx_visit": "The number of point x Customers, both Customer Type, is Easy and Non Easy, not including Guest that came to use the point x app on that day.",
        "ncust_pointx_financial": "The number of point x Customers, both Customer Type, is Easy and Non Easy, not including Guest at the financial transaction.",
        "ncust_guest": "The number of point x Customers, both Customer Type is Guest.",
        "ncust_guest_visit": "Point X Customers, both Customer Type, is a guest that came to use the point x app on that day.",
        "ncust_register_success": "New customers that Register comes each day.",
        "amt_point_topup": "The number of points caused by all topups",
        "amt_point_topup_auto": "Auto Converse Point Topup number",
        "amt_point_topup_onboard": "Point Topup number onboard",
        "amt_point_topup_onetime": "Number of Point Topup Manual",
        "amt_point_transfer_out": "The number of points that transferred to other users",
        "amt_point_pay": "The number of points caused by all payment",
        "amt_point_pay_sku": "The number of points caused by payment via X-Store.",
        "amt_point_pay_qr": "The number of points caused by payment via Scan & Pay.",
        "amt_point_pay_pyw": "The number of points caused by payment via Paywise.",
        "amt_point_pay_pyw_rbh": "The number of points caused by payment via Robinhood Platform.",
        "amt_point_pay_qr_29": "The number of points caused by payment via Scan & Pay type QR 29.",
        "amt_point_pay_qr_30": "The number of points caused by payment via Scan & Pay type QR 30.",
        "amt_point_pay_qr_cs": "The number of points caused by payment via Scan & Pay type QRCS.",
        "amt_point_payment_p_only": "The number of points caused by payment by Payment Method is the use of Point Only.",
        "amt_point_payment_p_casa": "The number of points caused by payment by Payment Method is the use of Point, plus payment by transferring money.",
        "amt_point_payment_p_cc": "The number of points caused by payment by Payment Method is to use Point, plus payment through credit cards.",
        "rate_point_per_baht_pay": "The average of the Relased Rate at all Payment customers.",
        "rate_point_per_baht_pay_sku": "The average rate of the customer Payment via X-Store (Weigthed Average with Point AMOUNT)",
        "rate_point_per_baht_pay_qr": "The rate of the Rate that Payment customers via Scan & Pay (Weigthed Average with Point Amount paid).",
        "rate_point_per_baht_pay_pyw": "The average rate of the Payment customers via Paywise (Weighted Average with Point Amount paid).",
        "rate_point_per_baht_pay_pyw_rbh": "The average rate of the Payment customers via Robinhood Platform (Weigthed Average with Point AMOUNT)",
        "rate_point_per_baht_pay_qr_29": "The average rate of the customer Payment with Transaction Type type QR 29 (Weigthed Average with Point AMOUNT)",
        "rate_point_per_baht_pay_qr_30": "The average rate of the customer Payment with Transaction Type type QR 30 (Weigthed Average with Point AMOUNT)",
        "rate_point_per_baht_pay_qr_cs": "The average rate of the customer Payment with Transaction Type type QRCS (Weigted Average with Point Amount paid)",
        "rate_point_per_baht_pay_weight": "The average of the Relased Rate at all Payment customers.",
        "rate_point_per_baht_pay_sku_weight": "The average rate of the customer Payment via X-Store (Weigthed Average with Point AMOUNT)",
        "rate_point_per_baht_pay_qr_weight": "The rate of the Rate that Payment customers via Scan & Pay (Weigthed Average with Point Amount paid).",
        "rate_point_per_baht_pay_pyw_weight": "The average rate of the Payment customers via Paywise (Weighted Average with Point Amount paid).",
        "rate_point_per_baht_pay_pyw_rbh_weight": "The average rate of the Payment customers via Robinhood Platform (Weigthed Average with Point AMOUNT)",
        "rate_point_per_baht_pay_qr_29_weight": "The average rate of the customer Payment with Transaction Type type QR 29 (Weigthed Average with Point AMOUNT)",
        "rate_point_per_baht_pay_qr_30_weight": "The average rate of the customer Payment with Transaction Type type QR 30 (Weigthed Average with Point AMOUNT)",
        "rate_point_per_baht_pay_qr_cs_weight": "The average rate of the customer Payment with Transaction Type type QRCS (Weigted Average with Point Amount paid)",
        "rate_baht_per_point_pay": "The average of the Cost Per Point at all Payment customers (Weigted Average with Point Amount paid)",
        "rate_baht_per_point_pay_sku": "The average of the Cost Per Point that the Payment customers via X-Store (Weigthed Average with Point AMOUNT).",
        "rate_baht_per_point_pay_qr": "The average Cost Per Point that Payment customers via Scan & Pay (Weigthed Average with Point Amount paid)",
        "rate_baht_per_point_pay_pyw": "The average of the Cost Per Point that the Paywise (Weigthed Average with Point AMOUNT) is calculated from 1 divided by release rate.",
        "rate_baht_per_point_pay_pyw_rbh": "The average of the Cost Per Point that Payment customers via Robinhood Platform (Weigthed Average with Point AMOUNT)",
        "rate_baht_per_point_pay_qr_29": "The average of Cost Per Point at Payment customers with Transaction Type type QR 29 (Weigthed Average with Point AMOUNT)",
        "rate_baht_per_point_pay_qr_30": "The average of Cost Per Point at Payment customers with Transaction Type type QR 30 (Weigthed Average with Point AMOUNT)",
        "rate_baht_per_point_pay_qr_cs": "The average of Cost Per Point at Payment customers with Transaction Type type QRCS (Weigthed Average with Point AMOUNT)",
        "rate_baht_per_point_pay_weight": "The average of the Cost Per Point at all Payment customers (Weigted Average with Point Amount paid)",
        "rate_baht_per_point_pay_sku_weight": "The average of the Cost Per Point that the Payment customers via X-Store (Weigthed Average with Point AMOUNT).",
        "rate_baht_per_point_pay_qr_weight": "The average of the Cost Per Point at Payment customers via Scan & Pay (Weigthed Average with Point Amount paid).",
        "rate_baht_per_point_pay_pyw_weight": "The average of the Cost Per Point that the Paywise (Weigthed Average with Point AMOUNT) is calculated from 1 divided by release rate.",
        "rate_baht_per_point_pay_pyw_rbh_weight": "The average Cost Per Point that Payment customers via Robinhood Platform (Weigthed Average with Point Amount paid)",
        "rate_baht_per_point_pay_qr_29_weight": "The average of the Cost Per Point at Payment customers with Transaction Type type QR 29 (Weigthed Average with Point AMOUNT)",
        "rate_baht_per_point_pay_qr_30_weight": "The average of Cost Per Point at Payment customers with Transaction Type type QR 30 (Weigthed Average with Point AMOUNT)",
        "rate_baht_per_point_pay_qr_cs_weight": "The average of Cost Per Point at Payment customers with Transaction Type type QRCS (Weigthed Average with Point AMOUNT)",
        "n_topup_point": "The number of transactions caused by all topups.",
        "n_topup_point_onboard": "Number of Transaction Topup Episode Onboard",
        "n_topup_point_onetime": "Number of Transaction Topup Manual",
        "n_topup_point_auto": "Auto converse transaction top",
        "n_transfer_point_out": "The number of transactions that transferred to other users",
        "n_purchase": "The number of transactions caused by payment does not include Reverse Scan & Pay (2002A), Reverse Paywise (2004A) and Cancel Order (7015A) of X-Store.",
        "n_purchase_sku": "The number of transactions caused by payment via X-Store does not include the Cancel Order (7015A) of X-Store.",
        "n_purchase_qr": "The number of transactions caused by payment via Scan & Pay does not include Reverse Scan & Pay (2002A).",
        "n_purchase_pyw": "The number of transactions caused by payment via Paywise does not include Reverse Paywise (2004A).",
        "n_purchase_pyw_rbh": "The number of transactions caused by payment via Robinhood Platform does not include Reverse Scan & Pay (2002A).",
        "n_purchase_qr_29": "The number of transactions caused by payment via Scan & Pay with Transaction Type type QR 29, not including Reverse Scan & Pay (2002A).",
        "n_purchase_qr_30": "The number of transactions caused by payment via Scan & Pay with Transaction Type QR 30, not including Reverse Scan & Pay (2002A).",
        "n_purchase_qr_cs": "The number of transactions caused by payment via Scan & Pay with Transaction Type QRCS excluding Reverse Scan & Pay (2002A).",
        "n_point_payment_p_only": "The number of transactions caused by payment by Payment Method is to use Point Only, not including Reverse Scan & Pay (2002A), Reverse Paywise (2004A) and Cancel Order (7015A) of X-Store.",
        "n_point_payment_p_casa": "The number of transactions caused by payment by Payment Method is to use POINT, plus the payment of accounting does not include the Reverse Scan & Pay (2002A), Reverse Paywise (2004A) and Cancel (7015A) of X-Store.",
        "n_point_payment_p_cc": "The number of transactions caused by payment by Payment Method is to use POINT, combined with credit card payments, not including Reverse Scan & Pay (2002A), Reverse Paywise (2004A) and Cancel Order (7015A) of X-STORE.",
        "mtd1_ncust_user": "All the number of Customer in the systemAnd can use Point XPP",
        "mtd1_ncust_pointx": "Point X Customers, both Customer Type, Easy and Non Easy, not including Guest.",
        "mtd1_ncust_visit": "All the number of Customer in the systemAnd use Point XPP from 1 of the month to the latest transaction information",
        "mtd1_ncust_pointx_visit": "The number of point x Customers, both Customer Type, is Easy and Non Easy, not including the Guest that has been active from the 1st day of the month to the latest transaction data.",
        "mtd1_ncust_pointx_financial": "The number of point x Customers, both Customer Type, is Easy and Non Easy, not including the Guest at the financial transaction (broken program at Reverse) from 1 of the month to the latest transaction data.",
        "mtd1_ncust_guest": "The number of point x Customers, both Customer Type is Guest.",
        "mtd1_ncust_guest_visit": "The number of point x Customers, both Customer Type, is a guest that comes to use Point XP from the 1st day to the latest transaction data.",
        "mtd1_amt_point_topup": "The number of points caused by topups from 1 of the month to the latest transaction day.",
        "mtd1_amt_point_topup_auto": "Auto Converse Point Topup from 1 of the month until the latest transaction",
        "mtd1_amt_point_topup_onboard": "Point Topup number onboard from 1 of the month until the latest transaction",
        "mtd1_amt_point_topup_onetime": "Manual number points from 1 of the month until the latest transaction",
        "mtd1_amt_point_transfer_out": "The number of points that transferred to other users from 1 of the month until the latest transaction",
        "mtd1_amt_point_pay": "The number of points caused by Payment from the 1st day of the month until the latest transaction.",
        "mtd1_amt_point_pay_sku": "The number of points caused by payment via X-Store from 1 of the month until the latest transaction day.",
        "mtd1_amt_point_pay_qr": "The number of points caused by payment via Scan & Pay from 1 of the month until the latest transaction.",
        "mtd1_amt_point_pay_pyw": "The number of points caused by payment via Paywise from the 1st day of the month until the latest transaction.",
        "mtd1_amt_point_pay_pyw_rbh": "The number of points caused by payment via Robinhood Platform from the 1st day of the month until the latest transaction.",
        "mtd1_amt_point_pay_qr_29": "The number of points caused by payment via Scan & Pay with Transaction Type type QR 29 from the 1st day of the month to the latest transaction.",
        "mtd1_amt_point_pay_qr_30": "The number of points caused by payment via Scan & Pay with Transaction Type QR 30 from 1 day of the month until the latest transaction.",
        "mtd1_amt_point_pay_qr_cs": "The number of points caused by payment via Scan & Pay with Transaction Type QRCS from 1 day of the month until the latest transaction.",
        "mtd1_amt_point_payment_p_only": "The number of points caused by payment by Payment Method is the use of Point Only from 1 day of the month until the latest transaction.",
        "mtd1_amt_point_payment_p_casa": "The number of points caused by payment by Payment Method is the use of Point, plus payment by transferring money.From the 1st day of the month until the latest transaction",
        "mtd1_amt_point_payment_p_cc": "The number of points caused by payment by Payment Method is to use Point, plus payment through credit cards.From the 1st day of the month until the latest transaction",
        "mtd1_rate_point_per_baht_pay": "The average rate of all the customers from 1 of the month until the latest transaction",
        "mtd1_rate_point_per_baht_pay_sku": "The rate of the Rate that Payment customers via X-Store from 1 of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_qr": "The rate of the Rate that Payment customers via Scan & Pay from 1 of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_pyw": "The rate of the Rate that Payment customers via Paywise from 1 of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_pyw_rbh": "The rate of the Rate that Payment customers via Robinhood Platform from 1 of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_qr_29": "The average rate of the customer Payment with Transaction Type type QR 29 from 1 day of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_qr_30": "The average rate of the customer Payment with Transaction Type type QR 30 from 1 day of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_qr_cs": "The average rate of the customer Payment with Transaction Type type QRCS from the 1st day of the month to the latest transaction.",
        "mtd1_rate_point_per_baht_pay_weight": "The average rate of all Payment customers (Weigthed Average with Point AMOUNT) from 1 day of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_sku_weight": "The average rate of the customer Payment via X-Store (Weigthed Average with Point AMOUNT) from 1 day of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_qr_weight": "The rate of the Rate that Payment customers via Scan & Pay (Weigted Average with Point Amount paid from 1 day of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_pyw_weight": "The average rate of the Payment customers via Paywise (Weigthed Average with Point AMOUNT) from 1 day of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_pyw_rbh_weight": "The average rate of the Payment customers via Robinhood Platform (Weigthed Average with Point AMOUNT) from 1 day of the month to the latest transaction.",
        "mtd1_rate_point_per_baht_pay_qr_29_weight": "The average rate of the customer Payment with Transaction Type type QR 29 (Weigthed Average with Point Amount paid from 1 day of the month to the latest transaction.",
        "mtd1_rate_point_per_baht_pay_qr_30_weight": "The average rate of the customer Payment with Transaction Type type QR 30 (Weigthed Average with Point Amount paid from 1 day of the month until the latest transaction.",
        "mtd1_rate_point_per_baht_pay_qr_cs_weight": "The rate of the Rate that the customer payment with the type of transaction type QRCS (Weigted Average with Point Amount paid from 1 day of the month to the latest transaction date.",
        "mtd1_rate_baht_per_point_pay": "The average of the Cost Per Point at all Payment customers from 1 of the month until the latest transaction day.",
        "mtd1_rate_baht_per_point_pay_sku": "The Cost Per Point, the Payment customers via X-Store from 1 of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_qr": "The average of Cost Per Point at Payment customers via Scan & Pay from 1 of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_pyw": "The average of the Cost Per Point that Payment customers via Paywise from 1 day of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_pyw_rbh": "The average of the Cost Per Point that Payment customers via Robinhood Platform from 1 day of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_qr_29": "The average of Cost Per Point at Payment customers with Transaction Type type QR 29 from the 1st day of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_qr_30": "The average of Cost Per Point at Payment customers with Transaction Type type QR 30 from the 1st day of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_qr_cs": "The average of Cost Per Point at Payment customers with Transaction Type type QRCS from the 1st day of the month to the latest transaction.",
        "mtd1_rate_baht_per_point_pay_weight": "The average of the Cost Per Point at all Payment customers (Weigted Average with Point Amount paid from 1 day of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_sku_weight": "The average of the Cost Per Point that the Payment customers via X-Store (Weigthed Average with Point AMOUNT) from 1 day of the month to the latest transaction.",
        "mtd1_rate_baht_per_point_pay_qr_weight": "The average of Cost Per Point at Payment customers via Scan & Pay (Weigted Average with Point Amount paid from 1 day of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_pyw_weight": "The average of the Cost Per Point at Paywise (Weigthed Average with Point AMOUNT) from 1 day of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_pyw_rbh_weight": "The average of the Cost Per Point that Payment customers via Robinhood Platform (Weigthed Average with Point AMOUNT) from 1 day of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_qr_29_weight": "The average of Cost Per Point at Payment Customers with Transaction Type type QR 29 (Weigted Average with Point AMOUNT) from 1 day of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_qr_30_weight": "The average of the Cost Per Point at Payment Customers with Transaction Type type QR 30 (Weigted Average with Point AMOUNT) from 1 day of the month until the latest transaction.",
        "mtd1_rate_baht_per_point_pay_qr_cs_weight": "The average of Cost Per Point at Payment Customers with Transaction Type type QRCS (Weigthed Average with Point Amount paid from 1 day of the month until the latest transaction.",
        "mtd1_n_topup_point": "The number of transactions caused by topups from 1 of the month to the latest transaction day.",
        "mtd1_n_topup_point_onboard": "The number of Transaction Topup onboard from 1 of the month until the latest transaction",
        "mtd1_n_topup_point_onetime": "Number of Transaction Topup Manual from 1 of the month until the latest transaction",
        "mtd1_n_topup_point_auto": "Auto converse transaction topg from 1 of the month until the latest transaction",
        "mtd1_n_transfer_point_out": "The number of transactions that transferred to other users from 1 of the month until the latest transaction",
        "mtd1_n_purchase": "The number of transactions caused by payment from 1 day of the month to the latest transaction.",
        "mtd1_n_purchase_sku": "The number of transactions caused by payment via X-Store from 1 of the month until the latest transaction.",
        "mtd1_n_purchase_qr": "The number of transactions caused by payment via Scan & Pay from the 1st day of the month until the latest transaction.",
        "mtd1_n_purchase_pyw": "The number of transactions caused by payment via Paywise from the 1st day of the month until the latest transaction.",
        "mtd1_n_purchase_pyw_rbh": "The number of transactions caused by payment via Robinhood Platform from 1 day of the month until the latest transaction.",
        "mtd1_n_purchase_qr_29": "The number of transactions caused by payment via Scan & Pay with Transaction Type type QR 29 from the 1st day of the month to the latest transaction.",
        "mtd1_n_purchase_qr_30": "The number of transactions caused by payment via Scan & Pay with Transaction Type QR 30 from 1 day of the month until the latest transaction.",
        "mtd1_n_purchase_qr_cs": "The number of transactions caused by payment via Scan & Pay with Transaction Type QRCS from 1 day of the month until the latest transaction.",
        "mtd1_n_point_payment_p_only": "The number of transactions caused by payment by Payment Method is the use of Point Only from the 1st day of the month until the latest transaction.",
        "mtd1_n_point_payment_p_casa": "The number of transactions caused by payment by Payment Method is the use of Point, plus payment by transferring money.From the 1st day of the month until the latest transaction",
        "mtd1_n_point_payment_p_cc": "The number of transactions caused by payment by Payment Method is to use Point, plus payment through credit cards.From the 1st day of the month until the latest transaction",
        "amt_point_topup_auto_cardx": "Point Topup number onboard of Cardx customers",
        "amt_point_topup_auto_wealth": "Point Topup number onboard of wealth customers",
        "amt_point_topup_extnl": "Point Topup number via External Partner",
        "mtd1_amt_point_topup_auto_cardx": "The Auto Converse Point Topup number of Cardx customers from 1 of the month until the latest transaction.",
        "mtd1_amt_point_topup_auto_wealth": "The Auto Converse Point Topup number of Wealth customers from 1 of the month until the latest transaction.",
        "mtd1_amt_point_topup_extnl": "Point Topup number via partner from 1 of the month until the latest transaction day",
        "mtd1_n_topup_point_auto_cardx": "The number of transactions caused by the Auto Converse top of the Cardx customer group from 1 of the month until the latest transaction.",
        "mtd1_n_topup_point_auto_wealth": "The number of transactions caused by the Auto Converse top of the Wealth customer group from 1 of the month until the latest transaction.",
        "mtd1_n_topup_point_extnl": "The number of transactions caused by the auto converse top via partner from the 1st day of the month to the latest transaction.",
        "mtd1_ncust_partner": "The number of users obtained from partner companiesCollecting the 1st day of the month",
        "mtd1_ncust_partner_new": "The number of users that register comes from partner companies.Collecting the 1st day of the month",
        "n_topup_point_auto_cardx": "The number of Transaction Topup Auto Converse of Cardx customers",
        "n_topup_point_auto_wealth": "The number of Transaction Topup Auto Converse of Wealth Customers",
        "n_topup_point_extnl": "Number of Transaction Topup via External Partner",
        "ncust_partner": "The number of users obtained from the partner company that day",
        "ncust_partner_new": "The number of users that register came from the partner company that day.",
        "n_transfer_point_out_extnl": "The number of transactions that transferred to other users via External Partner.",
        "mtd1_n_transfer_point_out_extnl": "The number of transactions transferred to other users via Partner from the 1st day until the latest transaction.",
        "amt_point_transfer_out_extnl": "The number of points that transferred to other User via External Partner",
        "mtd1_amt_point_transfer_out_extnl": "The number of points that transferred to other users via Partner from 1 of the month until the latest transaction.",
        "_dl_load_ts": "Data download date",
        "_date": "Transaction date"
}
"""

In [ ]:
pointx_fbs_rpt_dly_context = """
{
    "table": "pointx_fbs_rpt_dly",
    "description": "Table records user interactions with the PointX app daily, capturing events such as app opens and deletions, \nproviding key insights into user behavior, app version usage, and device characteristics ",
    "columns": {
        "event_date": "The date on which the event was logged (YYYYMMDD format in the registered timezone of your app).",
        "event_month": "The year month on which the event was logged (YYYY-MM format).",
        "event_bundle_sequence_id": "The sequential ID of the bundle in which these events were uploaded.",
        "event_timestamp": "The time (in microseconds, UTC) at which the event was logged on the client.",
        "event_name": "The name of the event activity that occurred from the user's use.",
        "customer_id": "customer identification same values as pointx id in application",
        "user_pseudo_id": "The pseudonymous id (e.g., app instance ID) for the user.",
        "user_id": "The user ID set via the setUserId API.",
        "event_previous_timestamp": "The time (in microseconds, UTC) at which the event was previously logged on the client.",
        "event_value_in_usd": "The currency-converted value (in USD) of the event's \"value\" parameter.",
        "event_server_timestamp_offset": "Timestamp offset between collection time and upload time in micros.",
        "privacy_info_analytics_storage": "Whether Analytics storage is enabled for the user.",
        "privacy_info_ads_storage": "Whether ad targeting is enabled for a user.",
        "privacy_info_uses_transient_token": "Whether a web user has denied Analytics storage and the developer has enabled measurement without cookies based on transient tokens in server data.",
        "user_properties_ga_session_number": "Session number identifies the number of sessions that a user has started up to the current session (e.g., a user's third or fifth session on your site).",
        "user_properties_ga_session_number_set_timestamp_micros": "Timestamp of sessions that a user has started up to the current session (e.g., a user's third or fifth session on your site).",
        "user_properties_ga_session_id": "Session ID identifies the session that an event came from. For example, two different session IDs are generated when a user has two separate sessions on your site.",
        "user_properties_ga_session_id_set_timestamp_micros": "Timestamp that an event came from. For example, two different session IDs are generated when a user has two separate sessions on your site.",
        "user_properties_first_open_time": "Timestamp of user's first open",
        "user_properties_first_open_time_set_timestamp_micros": "Timestamp of user's first open in micros timestamp",
        "user_first_touch_timestamp": "Timestamp of user's first touch",
        "user_ltv_revenue": "The Lifetime Value (revenue) of the user. This field is not populated in intraday tables.",
        "user_ltv_currency": "The Lifetime Value (currency) of the user. This field is not populated in intraday tables.",
        "device_category": "The device category (mobile, tablet, desktop).",
        "device_mobile_brand_name": "The device brand name.",
        "device_mobile_model_name": "The device model name.",
        "device_mobile_marketing_name": "The device marketing name.",
        "device_mobile_os_hardware_model": "The device model information retrieved directly from the operating system.",
        "device_operating_system": "The operating system of the device.",
        "device_operating_system_version": "The OS version.",
        "device_vendor_id": "IDFV (present only if IDFA is not collected).",
        "device_advertising_id": "Advertising ID/IDFA.",
        "device_language": "The OS language.",
        "device_is_limited_ad_tracking": "The device's Limit Ad Tracking setting.",
        "device_time_zone_offset_seconds": "The offset from GMT in seconds.",
        "device_browser": "The browser in which the user viewed content.",
        "device_browser_version": "The version of the browser in which the user viewed content.",
        "device_web_info_browser": "The browser in which the user viewed content",
        "device_web_info_browser_version": "The version of the browser in which the user viewed content.",
        "device_web_info_hostname": "The hostname associated with the logged event.",
        "geo_continent": "The continent from which events were reported, based on IP address.",
        "geo_country": "The country from which events were reported, based on IP address.",
        "geo_region": "The region from which events were reported, based on IP address.",
        "geo_city": "The city from which events were reported, based on IP address.",
        "geo_sub_continent": "The subcontinent from which events were reported, based on IP address.",
        "geo_metro": "The metro from which events were reported, based on IP address.",
        "app_info_id": "The package name or bundle ID of the app.",
        "app_info_version": "The app's versionName (Android) or short bundle version.",
        "app_info_install_store": "The store that installed the app.",
        "app_info_firebase_app_id": "The Firebase App ID associated with the app",
        "app_info_install_source": "The source that installed the app.",
        "traffic_source_name": "Name of the marketing campaign that first acquired the user. This field is not populated in intraday tables.",
        "traffic_source_medium": "Name of the medium (paid search, organic search, email, etc.) that first acquired the user. This field is not populated in intraday tables.",
        "traffic_source_source": "Name of the network that first acquired the user. This field is not populated in intraday tables.",
        "stream_id": "The numeric ID of the stream.",
        "platform": "The platform on which the app was built.",
        "event_dimensions_hostname": "Includes the subdomain and domain names of a URL; for example, the Host Name of www.example.com/contact.html is www.example.com.",
        "ecommerce": "A record of information about ecommerce. (Currenntly collect as string)",
        "items": "A repeated record of items included in this event. (Currenntly collect as string)",
        "source_date": "Source date of firebase file name",
        "address_id": "Delivery address identification",
        "auto_earn_display": "In case of event delete account the values of auto_earn flag",
        "banner_description": "Highlight banner description",
        "banner_rank": "Highlight banner item index",
        "banner_title": "Highlight banner title",
        "campaign": "Firebase's campagin name",
        "campaign_info_source": "Firebase's campagin source information",
        "card_sub_product": "Possible Values : SCB Beyond , SCB Toyota platinum",
        "change_language": "Possible Values : EN, TH",
        "coupon_id": "Coupon Identification Number",
        "customer_device_lat": "Customer's device latitude",
        "customer_device_long": "Customer's device longtitude",
        "customer_lat": "Customer's latitude",
        "customer_long": "Customer's longtitude",
        "customer_type": "Customer Type e.g. guest, N/A",
        "deal_title": "Deal of the day title",
        "deal_type": "Deal of the day type",
        "debug_event": "Debug event",
        "deleteacount_button": "Delete account button",
        "delivery_address": "Delivery address ",
        "delivery_fee": "Delivery fee e.g. Fee ",
        "delivery_option": "Delivery option e.g. Standard Shipping ",
        "delivery_type": "Delivery type e.g. Standard Shipping ",
        "e_coupon_display": "e coupon display",
        "each_point_card": "Point in each credit cards, This value in array format",
        "ecatalog_list": "ecatalog list",
        "ecatalog_rank": "ecatalog rank",
        "ecoupon_rank": "ecoupon rank",
        "ecoupon_title": "ecoupon title",
        "engaged_session_event": "Engaged session event",
        "engagement_time_msec": "Engagement time millisecond",
        "entrances": "Number of entrance",
        "error_message": "Error message",
        "error_value": "Error value",
        "event_id": "Event Identification",
        "fatal": "Fatal",
        "firebase_conversion": "Firebase conversion",
        "firebase_error": "Firebase error",
        "firebase_event_origin": "Firebase event origin",
        "firebase_previous_class": "Firebase previous class",
        "firebase_previous_id": "Firebase previous identification",
        "firebase_previous_screen": "Firebase previous screen",
        "firebase_screen": "Firebase screen",
        "firebase_screen_class": "Firebase screen claass",
        "firebase_screen_id": "Firebase screen identification",
        "flashdeals_rank": "Flash deals rank",
        "flashdeals_title": "Flash deals title",
        "from_customer_name": "Full customer name who transferred point to another customer",
        "from_customer_profile_name": "Customer profile name in application  who transferred point to another customer",
        "ga_session_id": "Session Identification",
        "ga_session_number": "Sesion Number",
        "id": "Category Identification",
        "ignore_referrer": "Ignore referer",
        "item_code": "Item code",
        "latitude": "Latitude",
        "longitude": "Longitude",
        "link_classes": "Link classes",
        "link_domain": "Link domain",
        "link_url": "Link url",
        "list_card_sub_product": "List card sub product",
        "list_each_point_card": "List each point card",
        "medium": "Medium",
        "merchant_id": "Merchant id",
        "message_type": "Message type",
        "offer_type": "Offer type",
        "order_id": "Order id",
        "order_status": "Order status",
        "outbound": "Outbound",
        "page": "Page",
        "page_location": "Page location",
        "page_referrer": "Page referrer",
        "page_title": "Page title",
        "payment_method": "Payment method",
        "percent_scrolled": "Percent scrolled",
        "place_id": "Place id",
        "place_lat": "Place lat",
        "place_long": "Place long",
        "place_name": "Place name",
        "point_balance_display": "Point balance display",
        "points": "Points",
        "points_per_unit": "Points per unit",
        "points_remaining": "Points remaining",
        "previous_app_version": "Previous app version",
        "previous_first_open_count": "Previous first open count",
        "previous_os_version": "Previous os version",
        "primary_address": "Primary address",
        "product_id": "Product id",
        "quantity": "Quantity",
        "reason_id": "Reason id",
        "recommendedForYou_rank": "RecommendedForYou rank",
        "search_list_id": "Search list id",
        "search_list_id_scan_and_pay": "Search list id scan and pay",
        "search_list_id_xstore": "Search list id xstore",
        "session_engaged": "Session engaged",
        "shop_list_id": "Shop list id",
        "sku_catagory_name": "Sku catagory name",
        "sku_group_type": "Sku group type",
        "sku_id": "The SKU (Stock Keeping Unit) ID serves as a unique identifier assigned to a specific product variant, enabling efficient inventory management and tracking within a retail or e-commerce system.",
        "source": "Source",
        "source_page_name": "Source page name",
        "stock_code": "Stock code",
        "system_app": "System app",
        "system_app_update": "System app update",
        "tab_name": "Tab name",
        "term": "Term",
        "text_search": "Text search",
        "timestamp": "Timestamp",
        "to_customer_name": "To customer name",
        "to_customer_profile_name": "To customer profile name",
        "toggle": "Toggle",
        "total_amount": "Total amount",
        "total_point": "Total point",
        "total_points": "Total points",
        "transaction_id": "Transaction id",
        "transaction_status": "Transaction status",
        "transaction_type": "Transaction type",
        "unable_to_proceed": "Unable to proceed",
        "update_with_analytics": "Update with analytics",
        "client_code": "Client code",
        "client_member_id": "Client member id",
        "_dl_load_ts": "Date of data loading",
        "_date": "Transaction's occurrence date"
    }
}"""

In [ ]:
llm_schemalink_template = """Your task is to select the columns related to the question to create the sql query in the next step.
Please selected related columns following by the question from this schema.
Answer the list of columns that you think are relevant and sufficient to create sql.
Example result : ['column1', 'column3']
{domain_knowledge}

Question: {question}
Result:"""

schemalink_prompt = PromptTemplate(
        input_variables=["domain_knowledge","question"],
        template = llm_schemalink_template                      
)

schemalink_chain = LLMChain(
        llm=ChatOpenAI(temperature=0, model=model, request_timeout=120),
        prompt=schemalink_prompt,
        output_key="result"
)

In [ ]:
measurement_data = {
    "Question" : [],
    "Actual result" : [],
    "Schemalink result" : [],
    "LLM result" : [],
    "SL recall" : [],
    "SL precision" : [],
    "SL f1" : [],
    "LLM recall" : [],
    "LLM precision" : [],
    "LLM f1" : []
}
for i, row in pointx_nlqsql_df.iterrows():
    
    if row['Table'] == 'pointx_keymatrix_dly':
        domain_context = pointx_keymatrix_dly_context
    elif row['Table'] == 'pointx_fbs_rpt_dly':
        domain_context = pointx_fbs_rpt_dly_context

    actual_columns = SQL_columns(row['Actual SQL'], row['Table'])
    module_result = list(schema_link.filter_schema(row['Question'])[row['Table']].keys())
    llm_result = ast.literal_eval(schemalink_chain({"domain_knowledge":domain_context,"question":row['Question']})['result'])

    module_recall, module_precision, module_f1 = f1_columns(actual_columns, module_result)
    llm_recall, llm_precision, llm_f1 = f1_columns(actual_columns, llm_result)

    measurement_data['Question'].append(row['Question'])
    measurement_data["Actual result"].append(actual_columns)
    measurement_data["Schemalink result"].append(module_result)
    measurement_data["LLM result"].append(llm_result)
    measurement_data["SL recall"].append(module_recall)
    measurement_data["SL precision"].append(module_precision)
    measurement_data["SL f1"].append(module_f1)
    measurement_data['LLM recall'].append(llm_recall)
    measurement_data['LLM precision'].append(llm_precision)
    measurement_data['LLM f1'].append(llm_f1)

    print(actual_columns)
    print(module_result)
    # print(module_recall, module_precision, module_f1)
    print(llm_result)
    # print(llm_recall, llm_precision, llm_f1)
    print()

    if not i % 5 and i > 1:
        print(f"Complete {i} of {pointx_nlqsql_df.shape[0]}")
        time.sleep(60)

In [ ]:
measurement_df = pd.DataFrame(measurement_data)
merged_df = pd.merge(pointx_nlqsql_df, measurement_df, on='Question', how='outer')

merged_df.to_excel('EXP_LLM_schemalink.xlsx', index=False)

# splite chunk of question by schema

In [ ]:
llm_schemalink_loq_template = """Your task is to select the columns related to the question to create the sql query in the next step.
Please selected related columns following by the question from this schema.
Answer the list of columns that you think are relevant and sufficient to create sql.
If you're not sure which column to choose when the columns are similar, You can select those columns.
The input will be a list of questions, and the answers you give will be a list of columns that list the answers to each question in order.

Example List of questions : ['question1', 'question2', 'question3', 'question4']
Example Result : [['column1', 'column3'], ['column2', 'column4', 'column5'], ['column1'], ['column6', 'column3']]

Schema: {domain_knowledge}

List of questions: {list_of_questions}
Result:"""

schemalink_loq_prompt = PromptTemplate(
        input_variables=["domain_knowledge","list_of_questions"],
        template = llm_schemalink_loq_template                      
)

schemalink_chain = LLMChain(
        llm=ChatOpenAI(temperature=0, model=model, request_timeout=120),
        prompt=schemalink_loq_prompt,
        output_key="result"
)

In [ ]:
def dict_append_val(d, table, list_of_questions, list_of_actual_columns):
    if table not in d.keys():
        d[table] = {'loq' : [], 'loc' : [] }

    d[table]['loq'].extend(list_of_questions)
    d[table]['loc'].extend(list_of_actual_columns)
    return d

In [ ]:
measurement_data = {
    "Question" : [],
    "Actual result" : [],
    "Schemalink result" : [],
    "LLM result" : [],
    "SL recall" : [],
    "SL precision" : [],
    "SL f1" : [],
    "LLM recall" : [],
    "LLM precision" : [],
    "LLM f1" : []
}

llm_loq = list()
list_of_actualcols = list()
table_loq_dict = dict()

for i, row in pointx_nlqsql_df.iterrows():

    # first time
    if not i : temp_domain = row['Table']

    actual_columns = SQL_columns(row['Actual SQL'], row['Table'])
    module_result = list(schema_link.filter_schema(row['Question'])[row['Table']].keys())
    module_recall, module_precision, module_f1 = f1_columns(actual_columns, module_result)
    
    if temp_domain != row['Table']:
        table_loq_dict = dict_append_val(table_loq_dict, temp_domain, llm_loq, list_of_actualcols)
        temp_domain = row['Table']
        list_of_actualcols = [actual_columns]
        llm_loq = [row['Question']]
    else:
        llm_loq.append(row['Question'])
        list_of_actualcols.append(actual_columns)

    if not (pointx_nlqsql_df.shape[0] - 1 - i):   # last record
        table_loq_dict = dict_append_val(table_loq_dict, temp_domain, llm_loq, list_of_actualcols)

    measurement_data['Question'].append(row['Question'])
    measurement_data["Actual result"].append(actual_columns)
    measurement_data["Schemalink result"].append(module_result)
    measurement_data["SL recall"].append(module_recall)
    measurement_data["SL precision"].append(module_precision)
    measurement_data["SL f1"].append(module_f1)
    # print(actual_columns)
    # print(module_result)

In [ ]:
for key, val in table_loq_dict.items():
    print(len(val['loc']))

In [ ]:
def split_list(input_list, chunk_size):
    for i in range(0, len(input_list), chunk_size):
        yield input_list[i:i + chunk_size]

In [ ]:
for table, list_of_value in table_loq_dict.items():
    if table == 'pointx_keymatrix_dly':
        domain_context = pointx_keymatrix_dly_context
    elif table == 'pointx_fbs_rpt_dly':
        domain_context = pointx_fbs_rpt_dly_context
    loq = list_of_value.get('loq')
    loc = list_of_value.get('loc')

    chunk_size = 10
    loq_chunks = list(split_list(loq, chunk_size))
    
    for loq_chunk in loq_chunks:
        str_list_of_result = schemalink_chain({"domain_knowledge": domain_context, "list_of_questions": str(loq_chunk)})
        llm_result = ast.literal_eval(str_list_of_result['result'])
        
        for i in range(len(llm_result)):
            print(loq_chunk[i],'\n', llm_result[i],'\n', loc[i],'\n')
            llm_recall, llm_precision, llm_f1 = f1_columns(loc[i], llm_result[i])
            measurement_data["LLM result"].append(llm_result[i])
            measurement_data['LLM recall'].append(llm_recall)
            measurement_data['LLM precision'].append(llm_precision)
            measurement_data['LLM f1'].append(llm_f1)
            
        time.sleep(10)

In [ ]:
measurement_df = pd.DataFrame(measurement_data)
merged_df = pd.merge(pointx_nlqsql_df, measurement_df, on='Question', how='outer')

merged_df.to_excel('EXP_LLM_schemalink.xlsx', index=False)

### Score re-check

In [ ]:
check_df = pd.read_excel("EXP_LLM_schemalink.xlsx")
check_df.head()

In [ ]:
for i, row in check_df[['Actual result', 'Schemalink result', 'LLM result']].iterrows():
    actual_cols = ast.literal_eval(row['Actual result'])
    module_cols = ast.literal_eval(row['Schemalink result'])
    llm_cols = ast.literal_eval(row['LLM result'])
    
    module_recall, module_precision, module_f1 = f1_columns(actual_cols, module_cols)
    llm_recall, llm_precision, llm_f1 = f1_columns(actual_cols, llm_cols)

    check_df.at[i, 'SL recall'] = module_recall
    check_df.at[i, 'SL precision'] = module_precision
    check_df.at[i, 'SL f1'] = module_f1
    check_df.at[i, 'LLM recall'] = llm_recall
    check_df.at[i, 'LLM precision'] = llm_precision
    check_df.at[i, 'LLM f1'] = llm_f1

In [ ]:
check_df.to_excel('EXP_LLM_schemalink.xlsx', index=False)

# LLM full pipeline

In [ ]:
pointx_nlqsql_df = pd.read_excel("EXP_LLM_schemalink.xlsx")
pointx_nlqsql_df.head()

In [ ]:
llm_fill_columns_template = """You are a SQL query assistant.
I have some SQL where the [MASK] column is syntaxed and I want you to respond to output that populates the [MASK] column of the SQL input followed by the question and schema description (name - description).
If you don't know which column to fill in Do not include columns that you have created yourself. And only columns defined from the schema must be used. 
Do not use columns from other tables or schema. must also be used from the same table defined in the input.

#################

Schema :    cat
            Table_name : cat
            Table_desciprion : this table contain cat information
            Columns : 
                id : number for identify cat
                name : name of cat
                age : age of cat
                gender : gender of cat

Question: Count number of cate each gender.
MASK sql: SELECT [MASK], COUNT([MASK]) FROM cat GROUP BY [MASK];
Result: SELECT gender, COUNT(*) FROM cat GROUP BY gender;

#################

Schema: {domain_knowledge}

Question: {question}
MASK sql: {mask_column}
Result:"""

llm_fill_columns_prompt = PromptTemplate(
        input_variables=["domain_knowledge", "mask_column", "question"],
        template = llm_fill_columns_template                      
)

llm_fill_columns_chain = LLMChain(
        llm=ChatOpenAI(temperature=0, model=model, request_timeout=120),
        prompt=llm_fill_columns_prompt,
        output_key="result"
)

In [ ]:
llm_gensql_template = """You are a SQL query assistant.
Please create an SQL from the question and schema I have provided to you.

Schema: {domain_knowledge}

Question: {question}
Result:"""

llm_gensql_prompt = PromptTemplate(
        input_variables=["domain_knowledge", "question"],
        template = llm_gensql_template                      
)

llm_gensql_chain = LLMChain(
        llm=ChatOpenAI(temperature=0, model=model, request_timeout=120),
        prompt=llm_gensql_prompt,
        output_key="result"
)

In [ ]:
def create_prompt(question:str, used_schema):
    full_sql = ""
    for table, columns in used_schema.items():
        if not len(columns): continue       # pass this table when no column
        primary_keys = schema_link.schema_datatypes[table]["JOIN_KEY"]["PK"]
        foreign_keys = list(schema_link.schema_datatypes[table]["JOIN_KEY"]["FK"].keys())
        join_table_key = primary_keys + foreign_keys
        
        sql = f"CREATE TABLE {table} ("
        for column in columns:
            if column in join_table_key and len(join_table_key): join_table_key.remove(column)
            try:
                sql += f' {column} {schema_link.schema_datatypes[table]["COLUMNS"][column]},'
            except KeyError: 
                print(f"KeyError :{column}")
                
        if len(join_table_key): # key for join of table are remaining
            for column in join_table_key:
                sql += f' {column} {schema_link.schema_datatypes[table]["COLUMNS"][column]},'

        # A lot of tables contain primary key
        if len(primary_keys):
            sql = sql[:-1] + ' PRIMARY KEY ('
            for pk_type in primary_keys: sql += f'"{pk_type}" ,'
            sql = sql[:-1] + "),"
        # If table contains foreign key
        if len(foreign_keys):
            for fk, ref_table in schema_link.schema_datatypes[table]["JOIN_KEY"]["FK"].items():
                sql = sql[:-1] + f' FOREIGN KEY ("{fk}") REFERENCES "{ref_table}" ("{fk}"),'

        sql = sql[:-1] + " )\n\n"
        full_sql += sql
    prompt = full_sql + "-- Using valid SQLite, answer the following questions for the tables provided above."
    prompt = prompt + '\n' + '-- ' + question
    prompt = prompt + '\n' + "SELECT"

    if verbose: print(prompt)

    return prompt

In [ ]:
def gen_used_schema(tables:list, list_of_columns:list) -> dict:
    used_schema = dict()
    for tab in tables:
        used_schema[tab] = list_of_columns
    return used_schema

In [ ]:
def query_pointx_db(sql_query):
    try:
        conn = sqlite3.connect(f'../src/pointx/database/pointx.db')
        cursor = conn.cursor()
    except:
        return "CANNOT CONNECT DATABASE"
    try:
        cursor.execute(sql_query)
        results = cursor.fetchall()
    except:
        return "CANNOT FETCHING DATA"
    conn.close()
    return results

In [ ]:
def gen_sql(prompt:str) -> str:
    with warnings.catch_warnings():
        warnings.simplefilter("ignore")
        input_ids = tokenizer(prompt, return_tensors="pt").input_ids
        generated_ids = nsql_model.generate(input_ids, max_length=1000)
        sql = tokenizer.decode(generated_ids[0], skip_special_tokens=True).split('\n')[-1]
    return sql

In [ ]:
def mask_column(sql_query:str, columns:list) -> str:
    if '*' in sql_query: sql_query = sql_query.replace('*', "[MASK]")
    for col in columns:
        if col in sql_query: sql_query = sql_query.replace(col, "[MASK]")
    return sql_query

In [ ]:
def gen_schema_description(used_schema):
    for table, list_of_columns in used_schema.items():
        if table == 'pointx_keymatrix_dly':
            shema_description = pointx_keymatrix_dly_description
        elif table == 'pointx_fbs_rpt_dly':
            shema_description = pointx_fbs_rpt_dly_description

        used_schema[table] = dict()
        used_schema[table]['Table_name'] = table
        used_schema[table]['Table_description'] = shema_description['description']
        used_schema[table]['Columns'] = dict()
        for col in list_of_columns:
            used_schema[table]['Columns'][col] = shema_description['columns'][col]
    return used_schema

In [ ]:
measurement_data = {
    "Question" : [],
    "Actual result" : [],
    "NSQL sql" : [],
    "NSQL result" : [],
    "LLM [MASK] sql" : [],
    "LLM [MASK] result": [],
    "LLM sql" : [],
    "LLM result" : []
}

for i, row in pointx_nlqsql_df.iterrows():
    actual_sql = row['Actual SQL'].replace('\xa0', "").replace("pointx_fbs_txn_rpt_dly", "pointx_fbs_rpt_dly").strip()
    llm_columns = ast.literal_eval(row['LLM result'])
    question = row['Question']
    try:
        tables = ast.literal_eval(row['Table'])
    except ValueError:
        tables = [row['Table']]
    used_schema = gen_used_schema(tables, llm_columns)
    full_prompt = create_prompt(question, used_schema)
    nsql_result = gen_sql(full_prompt)
    nsql_mask = mask_column(nsql_result, llm_columns)
    used_schema_description = gen_schema_description(used_schema)
    llm_sql = llm_gensql_chain({"domain_knowledge": used_schema_description, "question": question})['result']
    llm_fill_columns = llm_fill_columns_chain({"domain_knowledge": used_schema_description, 
                                               "mask_column": nsql_mask,
                                               "question": question})['result']
    
    measurement_data['Question'].append(question)
    measurement_data["Actual result"].append(query_pointx_db(actual_sql))
    measurement_data["NSQL sql"].append(nsql_result)
    measurement_data["NSQL result"].append(query_pointx_db(nsql_result))
    measurement_data["LLM [MASK] sql"].append(llm_fill_columns)
    measurement_data["LLM [MASK] result"].append(query_pointx_db(llm_fill_columns))
    measurement_data["LLM sql"].append(llm_sql)
    measurement_data['LLM result'].append(query_pointx_db(llm_sql))

    print(f"COMPLETE {i+1} from {pointx_nlqsql_df.shape[0] + 1}")
    print(actual_sql)
    print(query_pointx_db(actual_sql))
    print(llm_sql)
    print(nsql_result)
    print(nsql_mask)
    print(llm_fill_columns)
    print()

In [ ]:
measurement_df = pd.DataFrame(measurement_data)
merged_df = pd.merge(pointx_nlqsql_df, measurement_df, on='Question', how='outer')
# merged_df.to_excel('EXP_LLM_SQLresult.xlsx', index=False)

### Re-check SQL result

In [133]:
check_df = pd.read_excel('EXP_LLM_SQLresult.xlsx')
check_df.head()

,Table,Question,Actual SQL,Actual result_x,Schemalink result,LLM result_x,SL recall,SL precision,SL f1,LLM recall,LLM precision,LLM f1,Actual result_y,NSQL sql,NSQL result,LLM [MASK] sql,LLM [MASK] result,LLM sql,LLM result_y
0,pointx_keymatrix_dly,What is the total number of all financial tran...,"SELECT month_id, SUM(ntx_pointx_financial) FRO...","['month_id', 'ntx_pointx_financial']","['mtd1_n_transfer_point_out', 'mtd1_n_purchase...","['month_id', 'ntx_pointx_financial']",1.0,0.4,0.58,1.0,1.0,1,CANNOT FETCHING DATA,"SELECT COUNT(*), month_id FROM pointx_fbs_rpt_...",CANNOT FETCHING DATA,"SELECT COUNT(ntx_pointx_financial), month_id F...","[(31, '2022-07'), (19, '2022-08')]","SELECT month_id, SUM(ntx_pointx_financial) AS ...","[('2022-07', 447), ('2022-08', 259)]"
1,pointx_keymatrix_dly,What is the total amount of points generated b...,SELECT SUM(amt_point_topup) FROM pointx_keymat...,"['month_id', 'amt_point_topup']","['mtd1_amt_point_topup', 'mtd1_n_topup_point',...","['month_id', 'amt_point_topup']",0.5,0.2,0.28,1.0,1.0,1,CANNOT FETCHING DATA,SELECT SUM(amt_point_topup) FROM pointx_keymat...,"[(None,)]",SELECT SUM(amt_point_topup) FROM pointx_keymat...,"[(None,)]",SELECT SUM(amt_point_topup) AS total_points_ge...,"[(None,)]"
2,pointx_keymatrix_dly,What is the total amount of points generated b...,"SELECT month_id, SUM(amt_point_pay) FROM point...","['month_id', 'amt_point_pay']","['amt_point_pay', 'mtd1_amt_point_pay', 'mtd1_...","['month_id', 'amt_point_pay']",0.5,0.2,0.28,1.0,1.0,1,CANNOT FETCHING DATA,SELECT SUM(amt_point_pay) FROM pointx_keymatri...,"[(None,)]",SELECT SUM(amt_point_pay) FROM pointx_keymatri...,"[(None,)]","SELECT month_id, SUM(amt_point_pay) AS total_p...","[('2022-07', 30075.0), ('2022-08', 30045.0)]"
3,pointx_keymatrix_dly,What is the average rate of released points fo...,SELECT AVG(rate_point_per_baht_pay) FROM point...,['rate_point_per_baht_pay'],"['rate_baht_per_point_pay', 'rate_baht_per_poi...",['rate_point_per_baht_pay'],1.0,0.2,0.34,1.0,1.0,1,CANNOT FETCHING DATA,SELECT AVG( rate_point_per_baht_pay ) FROM poi...,"[(13.825421897546896,)]",SELECT AVG(rate_point_per_baht_pay) FROM point...,"[(13.825421897546896,)]",SELECT AVG(rate_point_per_baht_pay) AS average...,"[(13.825421897546896,)]"
4,pointx_keymatrix_dly,Can you determine the average number of custom...,"SELECT month_id, AVG(ncust_visit) FROM pointx_...","['month_id', 'ncust_visit']","['ncust_visit', 'ncust_pointx_visit', 'mtd1_nc...","['month_id', 'ncust_visit']",0.5,0.2,0.28,1.0,1.0,1,CANNOT FETCHING DATA,"SELECT AVG(ncust_visit), _date FROM pointx_key...","[(10.0, '2022-07-01'), (10.0, '2022-07-02'), (...","SELECT AVG(ncust_visit), month_id FROM pointx_...","[(47.61290322580645, '2022-07'), (55.157894736...",SELECT AVG(ncust_visit) AS average_customers_p...,"[(50.48,)]"

In [140]:
for i, row in check_df.iterrows():
    actual_sql = row['Actual SQL'].replace('\xa0', "").replace("pointx_fbs_txn_rpt_dly", "pointx_fbs_rpt_dly").replace("\n", " ").strip()
    nsql_sql = row['NSQL result']
    llm_mask_sql = row['LLM [MASK] sql']
    llm_sql = row['LLM sql']

    actual_result = query_pointx_db(actual_sql)
    nsql_result = query_pointx_db(nsql_sql)
    llm_mask_result = query_pointx_db(llm_mask_sql)
    llm_result = query_pointx_db(llm_sql)

    check_df.at[i, 'Actual result_y'] = actual_result
    check_df.at[i, 'NSQL result'] = nsql_result
    check_df.at[i, 'LLM [MASK] result'] = llm_mask_result
    check_df.at[i, 'LLM result_y'] = llm_result

    print(actual_sql)
    print(actual_result)
    print(nsql_result)
    print(llm_mask_result)
    print(llm_result)
    print()

check_df.to_excel('EXP_LLM_SQLresult.xlsx', index=False)

SELECT month_id, SUM(ntx_pointx_financial) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', 447), ('2022-08', 259)]
CANNOT FETCHING DATA
[(31, '2022-07'), (19, '2022-08')]
[('2022-07', 447), ('2022-08', 259)]

SELECT SUM(amt_point_topup) FROM pointx_keymatrix_dly WHERE month_id = '2022-08';
[(178992.0,)]
CANNOT FETCHING DATA
[(None,)]
[(None,)]

SELECT month_id, SUM(amt_point_pay) FROM pointx_keymatrix_dly WHERE month_id LIKE '2022%' GROUP BY month_id;
[('2022-07', 30075.0), ('2022-08', 30045.0)]
CANNOT FETCHING DATA
[(None,)]
[('2022-07', 30075.0), ('2022-08', 30045.0)]

SELECT AVG(rate_point_per_baht_pay) FROM pointx_keymatrix_dly;
[(13.825421897546896,)]
CANNOT FETCHING DATA
[(13.825421897546896,)]
[(13.825421897546896,)]

SELECT month_id, AVG(ncust_visit) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', 47.61290322580645), ('2022-08', 55.1578947368421)]
CANNOT FETCHING DATA
[(47.61290322580645, '2022-07'), (55.1578947368421, '2022-08')]
[(50.48,)]

SELECT SUM(n_topup_point) FROM pointx_keymatrix_dly WHERE month_id LIKE '2022%';
[(437,)]
CANNOT FETCHING DATA
[(0,)]
[(437,)]

SELECT SUM(n_purchase) FROM pointx_keymatrix_dly;
[(221,)]
CANNOT FETCHING DATA
[(0,)]
[(10,)]

SELECT month_id, SUM(ncust_register_success) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', 668), ('2022-08', 609)]
CANNOT FETCHING DATA
[(3,)]
[('2022-07', 668), ('2022-08', 609)]

SELECT AVG(rate_point_per_baht_pay_sku) FROM pointx_keymatrix_dly;
[(1.305,)]
CANNOT FETCHING DATA
[(None,)]
[(0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (10.0,), (9.5,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (2.75,), (11.0,), (0.0,), (0.0,), (0.0,), (0.0,), (11.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (10.5,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (10.5,), (0.0,), (0.0,)]

SELECT SUM(n_topup_point_onetime) FROM pointx_keymatrix_dly WHERE month_id = '2022-08';
[(39,)]
CANNOT FETCHING DATA
[(24811.0,)]
[(24811.0,)]

SELECT SUM(amt_point_transfer_out_extnl) FROM pointx_keymatrix_dly;
[(None,)]
CANNOT FETCHING DATA
[(0,)]
[(None,)]

SELECT month_id, amt_point_topup_auto_cardx FROM pointx_keymatrix_dly;
[('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-08', None), ('2022-07', None), ('2022-08', None), ('2022-08', None), ('2022-08', None), ('2022-07', None), ('2022-08', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-08', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-08', None), ('2022-07', None), ('2022-08', None), ('2022-08', None), ('2022-08', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-08', None), ('2022-08', None), ('2022-08', None), ('2022-07', None), ('2022-08', None), ('2022-08', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-08', None), ('2022-07', None), ('2022-07', None), ('2022-07', None), ('2022-08', None), ('2022-07', None), ('2022-07', None), ('2022-08', None), ('2022-08', None)]
CANNOT FETCHING DATA
[(None, 0)]
[(None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,), (None,)]

SELECT month_id, SUM(amt_point_topup_auto_cardx) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', None), ('2022-08', None)]
CANNOT FETCHING DATA
[(None,)]
[(None,)]

SELECT _date, SUM(ncust_pointx) FROM pointx_keymatrix_dly GROUP BY _date;
[('2022-07-01', 195), ('2022-07-02', 195), ('2022-07-03', 195), ('2022-07-04', 196), ('2022-07-05', 196), ('2022-07-06', 196), ('2022-07-07', 198), ('2022-07-08', 223), ('2022-07-09', 249), ('2022-07-10', 254), ('2022-07-11', 266), ('2022-07-12', 275), ('2022-07-13', 278), ('2022-07-14', 285), ('2022-07-15', 471), ('2022-07-16', 595), ('2022-07-17', 621), ('2022-07-18', 646), ('2022-07-19', 658), ('2022-07-20', 672), ('2022-07-21', 680), ('2022-07-22', 686), ('2022-07-23', 691), ('2022-07-24', 693), ('2022-07-25', 701), ('2022-07-26', 710), ('2022-07-27', 712), ('2022-07-28', 712), ('2022-07-29', 714), ('2022-07-30', 716), ('2022-07-31', 725), ('2022-08-01', 728), ('2022-08-02', 731), ('2022-08-03', 735), ('2022-08-04', 741), ('2022-08-05', 753), ('2022-08-06', 755), ('2022-08-07', 756), ('2022-08-08', 758), ('2022-08-09', 763), ('2022-08-10', 766), ('2022-08-11', 768), ('2022-08-12', 768), ('2022-08-13', 768), ('2022-08-14', 769), ('2022-08-15', 770), ('2022-08-16', 778), ('2022-08-17', 783), ('2022-08-18', 792), ('2022-08-19', 1247)]
CANNOT FETCHING DATA
[(50,)]
[(2305,)]

SELECT month_id, AVG(rate_point_per_baht_pay_pyw) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', 2.4516129032258065), ('2022-08', 3.4473684210526314)]
CANNOT FETCHING DATA
[(None,)]
[(0.0,), (0.0,), (18.25,), (0.0,), (0.0,), (0.0,), (0.0,), (9.5,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (8.25,), (8.25,), (0.0,), (8.25,), (8.25,), (8.25,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (9.5,), (0.0,), (0.0,), (10.0,), (0.0,), (0.0,), (0.0,), (0.0,), (8.25,), (8.25,), (8.25,), (10.0,), (0.0,), (8.25,), (0.0,), (10.0,)]

SELECT month_id, SUM(n_purchase_pyw_rbh) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', 7), ('2022-08', 10)]
CANNOT FETCHING DATA
[(17,)]
CANNOT FETCHING DATA

SELECT SUM(n_topup_point_onetime) FROM pointx_keymatrix_dly WHERE _date = '2022-08-11';
[(3,)]
CANNOT FETCHING DATA
[(0,)]
CANNOT FETCHING DATA

SELECT ncust_guest_visit FROM pointx_keymatrix_dly WHERE _date = '2022-07-12';
[(3,)]
CANNOT FETCHING DATA
[(0,)]
CANNOT FETCHING DATA

SELECT month_id, SUM(n_point_payment_p_only) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', 10), ('2022-08', 8)]
CANNOT FETCHING DATA
[(50,)]
CANNOT FETCHING DATA

SELECT month_id, SUM(n_purchase) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', 137), ('2022-08', 84)]
CANNOT FETCHING DATA
[(50,)]
[(221,)]

SELECT AVG(rate_point_per_baht_pay_weight) FROM pointx_keymatrix_dly;
[(12.635267164160373,)]
CANNOT FETCHING DATA
[(13.825421897546896,)]
[(13.825421897546896,)]

SELECT SUM(n_purchase_qr_30) FROM pointx_keymatrix_dly;
[(110,)]
CANNOT FETCHING DATA
[(0,)]
CANNOT FETCHING DATA

SELECT ncust_pointx_visit FROM pointx_keymatrix_dly WHERE _date = '2022-08-12';
[(12,)]
CANNOT FETCHING DATA
[(0,)]
CANNOT FETCHING DATA

SELECT month_id, SUM(n_purchase_pyw) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', 8), ('2022-08', 10)]
CANNOT FETCHING DATA
[(0,)]
[(176,)]

SELECT SUM(n_transfer_point_out_extnl) FROM pointx_keymatrix_dly;
[(None,)]
CANNOT FETCHING DATA
[(0,)]
[(None,)]

SELECT SUM(n_purchase_pyw_rbh) FROM pointx_keymatrix_dly;
[(17,)]
CANNOT FETCHING DATA
[(5,)]
[(17,)]

SELECT SUM(n_topup_point_auto_cardx) FROM pointx_keymatrix_dly;
[(None,)]
CANNOT FETCHING DATA
[(0,)]
[(None,)]

SELECT _date, SUM(n_topup_point_onboard) FROM pointx_keymatrix_dly GROUP BY _date;
[('2022-07-01', 0), ('2022-07-02', 0), ('2022-07-03', 0), ('2022-07-04', 0), ('2022-07-05', 0), ('2022-07-06', 0), ('2022-07-07', 1), ('2022-07-08', 4), ('2022-07-09', 8), ('2022-07-10', 0), ('2022-07-11', 2), ('2022-07-12', 3), ('2022-07-13', 1), ('2022-07-14', 0), ('2022-07-15', 45), ('2022-07-16', 24), ('2022-07-17', 3), ('2022-07-18', 6), ('2022-07-19', 5), ('2022-07-20', 5), ('2022-07-21', 1), ('2022-07-22', 2), ('2022-07-23', 0), ('2022-07-24', 0), ('2022-07-25', 1), ('2022-07-26', 2), ('2022-07-27', 0), ('2022-07-28', 0), ('2022-07-29', 0), ('2022-07-30', 0), ('2022-07-31', 0), ('2022-08-01', 0), ('2022-08-02', 0), ('2022-08-03', 1), ('2022-08-04', 0), ('2022-08-05', 2), ('2022-08-06', 0), ('2022-08-07', 1), ('2022-08-08', 0), ('2022-08-09', 0), ('2022-08-10', 1), ('2022-08-11', 0), ('2022-08-12', 1), ('2022-08-13', 0), ('2022-08-14', 0), ('2022-08-15', 0), ('2022-08-16', 0), ('2022-08-17', 0), ('2022-08-18', 0), ('2022-08-19', 24)]
CANNOT FETCHING DATA
[(50,)]
[(2,), (2,), (7,), (3,), (5,), (5,), (12,), (36,), (8,), (10,), (59,), (10,), (7,), (4,), (3,), (14,), (4,), (5,), (10,), (7,), (5,), (6,), (3,), (4,), (0,), (2,), (0,), (4,), (4,), (5,), (2,), (11,), (12,), (10,), (8,), (10,), (6,), (3,), (14,), (12,), (15,), (5,), (4,), (7,), (8,), (6,), (6,), (40,), (2,), (10,)]

SELECT ncust_pointx_financial FROM pointx_keymatrix_dly WHERE month_id = '2022-08';
[(6,), (37,), (12,), (9,), (17,), (5,), (10,), (5,), (5,), (3,), (18,), (8,), (9,), (7,), (5,), (8,), (10,), (7,), (11,)]
CANNOT FETCHING DATA
[(0,)]
CANNOT FETCHING DATA

SELECT month_id, SUM(n_purchase_qr_cs) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', 20), ('2022-08', 7)]
CANNOT FETCHING DATA
[(0,)]
[(27,)]

SELECT _date, SUM(mtd1_ncust_partner_new) FROM pointx_keymatrix_dly GROUP BY _date;
[('2022-07-01', None), ('2022-07-02', None), ('2022-07-03', None), ('2022-07-04', None), ('2022-07-05', None), ('2022-07-06', None), ('2022-07-07', None), ('2022-07-08', None), ('2022-07-09', None), ('2022-07-10', None), ('2022-07-11', None), ('2022-07-12', None), ('2022-07-13', None), ('2022-07-14', None), ('2022-07-15', None), ('2022-07-16', None), ('2022-07-17', None), ('2022-07-18', None), ('2022-07-19', None), ('2022-07-20', None), ('2022-07-21', None), ('2022-07-22', None), ('2022-07-23', None), ('2022-07-24', None), ('2022-07-25', None), ('2022-07-26', None), ('2022-07-27', None), ('2022-07-28', None), ('2022-07-29', None), ('2022-07-30', None), ('2022-07-31', None), ('2022-08-01', None), ('2022-08-02', None), ('2022-08-03', None), ('2022-08-04', None), ('2022-08-05', None), ('2022-08-06', None), ('2022-08-07', None), ('2022-08-08', None), ('2022-08-09', None), ('2022-08-10', None), ('2022-08-11', None), ('2022-08-12', None), ('2022-08-13', None), ('2022-08-14', None), ('2022-08-15', None), ('2022-08-16', None), ('2022-08-17', None), ('2022-08-18', None), ('2022-08-19', None)]
CANNOT FETCHING DATA
[(0,)]
[(None,)]

SELECT SUM(n_purchase_pyw) FROM pointx_keymatrix_dly;
[(18,)]
CANNOT FETCHING DATA
[(0,)]
[(18,)]

SELECT AVG(rate_point_per_baht_pay_sku_weight) FROM pointx_keymatrix_dly;
[(1.305,)]
CANNOT FETCHING DATA
[(None,)]
[(0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (10.0,), (9.5,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (2.75,), (11.0,), (0.0,), (0.0,), (0.0,), (0.0,), (11.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (10.5,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (10.5,), (0.0,), (0.0,)]

SELECT SUM(ncust_pointx_financial) FROM pointx_keymatrix_dly WHERE _date = '2022-08-08';
[(5,)]
CANNOT FETCHING DATA
[(0,)]
CANNOT FETCHING DATA

SELECT month_id, AVG(rate_baht_per_point_pay_pyw_weight) FROM pointx_keymatrix_dly GROUP BY month_id;
[('2022-07', 0.029138044162348185), ('2022-08', 0.039628976748090315)]
CANNOT FETCHING DATA
[(None,)]
[(0.03312459854493019,)]

SELECT _date, amt_point_pay FROM pointx_keymatrix_dly ORDER BY amt_point_pay DESC LIMIT 5;
[('2022-08-14', 13546.0), ('2022-07-27', 12420.0), ('2022-07-16', 7050.0), ('2022-08-18', 5280.0), ('2022-07-26', 3300.0)]
CANNOT FETCHING DATA
[('2022-08-14',), ('2022-07-27',), ('2022-07-16',), ('2022-08-18',), ('2022-07-26',)]
[('2022-08-14', 13546.0), ('2022-07-27', 12420.0), ('2022-07-16', 7050.0), ('2022-08-18', 5280.0), ('2022-07-26', 3300.0)]

SELECT _date, mtd1_ncust_partner_new FROM pointx_keymatrix_dly ORDER BY mtd1_ncust_partner_new DESC LIMIT 3;
[('2022-07-06', None), ('2022-07-01', None), ('2022-07-08', None)]
CANNOT FETCHING DATA
[('2022-07-06',), ('2022-07-01',), ('2022-07-08',)]
[('2022-07-06', None), ('2022-07-01', None), ('2022-07-08', None)]

SELECT COUNT(*) FROM pointx_keymatrix_dly WHERE n_point_payment_p_cc > 0;
[(18,)]
CANNOT FETCHING DATA
[(0,)]
[(0,), (0,), (0,), (2,), (0,), (0,), (1,), (1,), (0,), (1,), (0,), (0,), (1,), (0,), (2,), (0,), (1,), (0,), (0,), (0,), (0,), (0,), (0,), (0,), (0,), (0,), (0,), (0,), (0,), (2,), (1,), (3,), (1,), (0,), (0,), (0,), (1,), (0,), (1,), (3,), (0,), (0,), (1,), (1,), (0,), (0,), (0,), (2,), (2,), (0,)]

SELECT event_date, COUNT(DISTINCT user_pseudo_id) FROM (     SELECT event_date, ga_session_id, user_pseudo_id     FROM pointx_fbs_rpt_dly     GROUP BY event_date, ga_session_id, user_pseudo_id     HAVING SUM(engagement_time_msec) > 10*1000 ) GROUP BY event_date ORDER BY event_date ASC
[('2022-05-23', 1), ('2022-05-24', 6), ('2022-05-25', 4), ('2022-05-26', 2), ('2022-05-27', 7), ('2022-05-28', 1), ('2022-05-30', 2)]
CANNOT FETCHING DATA
[(0,)]
[('2022-05-23', 2), ('2022-05-24', 6), ('2022-05-25', 4), ('2022-05-26', 2), ('2022-05-27', 7), ('2022-05-28', 1), ('2022-05-29', 0), ('2022-05-30', 2)]

SELECT event_month, COUNT(DISTINCT user_pseudo_id) FROM (     SELECT event_month, ga_session_id, user_pseudo_id     FROM pointx_fbs_rpt_dly     GROUP BY event_month, ga_session_id, user_pseudo_id     HAVING SUM(engagement_time_msec) > 10*1000 ) GROUP BY event_month ORDER BY event_month ASC
[('2022-05', 22)]
CANNOT FETCHING DATA
[('2022-05', 982)]
[('2022-05', 22)]

SELECT AVG(cnt) FROM   (SELECT event_date, COUNT(DISTINCT user_pseudo_id) as cnt   FROM (       SELECT event_date, ga_session_id, user_pseudo_id       FROM pointx_fbs_rpt_dly       GROUP BY event_date, ga_session_id, user_pseudo_id       HAVING SUM(engagement_time_msec) > 10*1000   )   GROUP BY event_date   ORDER BY event_date ASC) WHERE event_date >= DATEADD(DAY, -7, GETDATE())
CANNOT FETCHING DATA
CANNOT FETCHING DATA
[(0.0,)]
CANNOT FETCHING DATA

SELECT AVG(cnt) FROM   (SELECT event_date, COUNT(DISTINCT user_pseudo_id) as cnt   FROM (       SELECT event_date, ga_session_id, user_pseudo_id       FROM pointx_fbs_rpt_dly       GROUP BY event_date, ga_session_id, user_pseudo_id       HAVING SUM(engagement_time_msec) > 10*1000   )   GROUP BY event_date   ORDER BY event_date ASC) WHERE event_date >= DATEADD(DAY, -30, GETDATE())
CANNOT FETCHING DATA
CANNOT FETCHING DATA
[(None,)]
CANNOT FETCHING DATA

SELECT user_pseudo_id, MAX(last_active) FROM   (SELECT event_date, ga_session_id, user_pseudo_id, MAX(event_timestamp) as last_active   FROM pointx_fbs_rpt_dly   GROUP BY event_date, ga_session_id, user_pseudo_id   HAVING SUM(engagement_time_msec) > 10*1000) GROUP BY user_pseudo_id
[('0198f28f3b2d07688c66a6aabf1a6c18', '2022-05-25T20:57:03.975+0000'), ('0412E26637DD42D6B3DCE818E153495B', '2022-05-24T17:22:44.809+0000'), ('2618A002B7F649AD88D1E3E2AE0C9D34', '2022-05-30T15:05:31.311+0000'), ('474ae23630781fc3b8d08ee6bc8038a4', '2022-05-28T16:07:04.821+0000'), ('5AF61BAC90A94DF2A25B432D527FD88E', '2022-05-30T17:02:09.937+0000'), ('5C7F578875D448F9B17AB7512FEF401B', '2022-05-25T01:32:49.712+0000'), ('70b17c4bfcebf709bc1a45f98b5d1a39', '2022-05-27T14:52:14.617+0000'), ('76487BD129734D0BA622A19E3348EDFB', '2022-05-27T13:15:59.241+0000'), ('78995275425D44D5B4418B639FE41B3A', '2022-05-24T18:45:55.027+0000'), ('78e36f49bff175a8fe7bd910af2016d9', '2022-05-27T15:19:40.929+0000'), ('850BC09AF0CE488AB8DC4C70B39DC35F', '2022-05-24T12:06:51.837+0000'), ('8984e7e0d2373e31fdece9a43e47e99e', '2022-05-23T17:46:44.976+0000'), ('89970B97EFAA447F85C61A10C70ED0B0', '2022-05-26T16:26:17.768+0000'), ('9CD78C6F93AC42B7804C376277750F4A', '2022-05-24T16:20:38.551+0000'), ('9DE0535A75E7420DAFC90F1C5B67E2D7', '2022-05-24T01:45:43.556+0000'), ('A387790874A44EF9A9F5D6B5E1885656', '2022-05-25T15:27:58.272+0000'), ('D0662C11CE7E454ABCD9732FCBC6CD92', '2022-05-25T22:19:40.994+0000'), ('D23C83AC69D74FAC836FB942CECE6DFA', '2022-05-27T15:21:19.018+0000'), ('D7D907A202874EA4A4A3F48E2BF6186F', '2022-05-24T14:51:38.809+0000'), ('EC05EE85432F44BE81415BDB06E0714B', '2022-05-27T14:46:27.893+0000'), ('F51A60AC085F4416B246F636099DAB85', '2022-05-27T18:34:10.527+0000'), ('daf44a8e8f02d47895ef65027e06428c', '2022-05-27T10:26:03.568+0000')]
CANNOT FETCHING DATA
[('2022-05-29T23:08:15.074+0000',), ('2022-05-27T15:21:19.018+0000',), ('2022-05-25T22:19:40.994+0000',), ('2022-05-24T12:06:51.837+0000',), ('2022-05-27T14:46:27.893+0000',), ('2022-05-27T10:26:03.568+0000',), ('2022-05-25T02:32:46.157+0000',), ('2022-05-24T17:22:44.809+0000',), ('2022-05-27T13:15:59.241+0000',), ('2022-05-24T11:46:48.970+0000',), ('2022-05-25T15:27:58.272+0000',), ('2022-05-28T16:07:04.821+0000',), ('2022-05-27T18:34:10.527+0000',), ('2022-05-30T15:05:31.311+0000',), ('2022-05-26T18:00:48.367+0000',), ('2022-05-23T17:46:44.976+0000',), ('2022-05-24T14:51:38.809+0000',), ('2022-05-27T14:52:14.617+0000',), ('2022-05-25T20:57:03.975+0000',), ('2022-05-30T17:02:09.937+0000',), ('2022-05-24T16:20:38.551+0000',), ('2022-05-24T18:45:55.027+0000',), ('2022-05-27T15:19:40.929+0000',)]
[(None, '2022-05-29'), ('PX1tgKejlmcoxbIf', '2022-05-27'), ('PX6aUZbTpPFCKMbo', '2022-05-25'), ('PX7HhfEr5hPWBAuH', '2022-05-24'), ('PX7dGgGgehKS4d7n', '2022-05-27'), ('PX9W39loch5BENeu', '2022-05-27'), ('PXAVvLxe8Bzh6Gi4', '2022-05-25'), ('PXBKnlXAhAtg2q31', '2022-05-24'), ('PXEilZDee05vDCmv', '2022-05-27'), ('PXFd5g3Kt7LbQ5Fr', '2022-05-24'), ('PXFveKJui5Yr8hwS', '2022-05-25'), ('PXQHHA1w6jh12YKA', '2022-05-28'), ('PXUdieEJ2tSBc7LU', '2022-05-27'), ('PXdIN3TGTQoY4JpV', '2022-05-30'), ('PXdUidEWllQgeb5A', '2022-05-26'), ('PXl6kkYG3UWYJBFL', '2022-05-23'), ('PXmFdBl34nmRlShS', '2022-05-24'), ('PXmGIAVOyvhBdj7G', '2022-05-27'), ('PXpqp5cy3XB8CZFD', '2022-05-25'), ('PXrqcq95sZJwiVzm', '2022-05-30'), ('PXt2nNWeqmiaX6ge', '2022-05-24'), ('PXu6LOvAM4CLx0Wy', '2022-05-24'), ('PXwtkesNCaiSZBIM', '2022-05-27')]

SELECT COUNT(DISTINCT user_pseudo_id) FROM    (SELECT ga_session_id, user_pseudo_id FROM pointx_fbs_rpt_dly   GROUP BY ga_session_id, user_pseudo_id   HAVING SUM(engagement_time_msec) >= 10*1000)
[(22,)]
CANNOT FETCHING DATA
[(90,)]
[(90,)]

SELECT AVG(cnt) FROM   (SELECT event_date, COUNT(DISTINCT user_pseudo_id) as cnt   FROM (       SELECT event_date, ga_session_id, user_pseudo_id       FROM pointx_fbs_rpt_dly       GROUP BY event_date, ga_session_id, user_pseudo_id       HAVING SUM(engagement_time_msec) > 10*1000   )   GROUP BY event_date   ORDER BY event_date ASC) WHERE DAYOFWEEK(event_date) BETWEEN 2 AND 6
CANNOT FETCHING DATA
CANNOT FETCHING DATA
[(0.0,)]
CANNOT FETCHING DATA

SELECT AVG(cnt) FROM   (SELECT event_date, COUNT(DISTINCT user_pseudo_id) as cnt   FROM (       SELECT event_date, ga_session_id, user_pseudo_id       FROM pointx_fbs_rpt_dly       GROUP BY event_date, ga_session_id, user_pseudo_id       HAVING SUM(engagement_time_msec) > 10*1000   )   GROUP BY event_date   ORDER BY event_date ASC) WHERE DAYOFWEEK(event_date) IN (1, 7)
CANNOT FETCHING DATA
CANNOT FETCHING DATA
CANNOT FETCHING DATA
CANNOT FETCHING DATA

SELECT user_pseudo_id, EXTRACT(WEEK FROM event_timestamp), EXTRACT(YEAR FROM event_timestamp), COUNT(event_name) FROM pointx_fbs_rpt_dly WHERE event_name = "session_start" GROUP BY user_pseudo_id, EXTRACT(WEEK FROM event_timestamp), EXTRACT(YEAR FROM event_timestamp)
CANNOT FETCHING DATA
CANNOT FETCHING DATA
CANNOT FETCHING DATA
CANNOT FETCHING DATA

SELECT week, year, AVG(cnt) FROM   (SELECT user_pseudo_id, EXTRACT(WEEK FROM event_timestamp) AS week, EXTRACT(YEAR FROM event_timestamp) AS year, COUNT(event_name) as cnt FROM pointx_fbs_rpt_dly   WHERE event_name = "session_start"   GROUP BY user_pseudo_id, EXTRACT(WEEK FROM event_timestamp), EXTRACT(YEAR FROM event_timestamp)) GROUP BY week, year
CANNOT FETCHING DATA
CANNOT FETCHING DATA
CANNOT FETCHING DATA
CANNOT FETCHING DATA


In [146]:
sql = "SELECT COUNT(*), month_id FROM pointx_keymatrix_dly GROUP BY month_id;"
query_pointx_db(sql)

[(31, '2022-07'), (19, '2022-08')]