In [99]:
import os, sys, sqlite3, json, time
from openai import OpenAI
from dotenv import load_dotenv
from transformers import AutoTokenizer, AutoModelForCausalLM
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer
from nltk.stem import WordNetLemmatizer
from sql_metadata import Parser
sys.path.append('../')
from filtering_schema.Description_base_linking import SchemaLinking

## Load Schema Link filtering schema from module

In [6]:
load_dotenv()
# Set environment variables
base_dir = "../filtering_schema"
# os.environ['schema_description_folder_path'] = os.path.join(base_dir, 'src', 'schemas', 'column-descriptions')
# os.environ['schema_data_types_folder_path'] = os.path.join(base_dir, 'src', 'schemas', 'column-datatypes')
os.environ['nsql_model_path'] = os.path.join(base_dir, 'models', 'nsql-350M')
os.environ['sentence_emb_model_path'] = os.path.join(base_dir, 'models', 'all-MiniLM-L6-v2')
os.environ['schema_description_folder_path'] = os.path.join(base_dir, 'src', 'schemas', 'coffeeshop-descriptions')
os.environ['schema_data_types_folder_path'] = os.path.join(base_dir, 'src', 'schemas', 'coffeeshop-datatypes')
os.environ['column_threshold'] = '0.2'
os.environ['table_threshold'] = '0.2'
os.environ['max_select_column'] = '10'
os.environ['filter_table'] = 'False'
os.environ['verbose'] = 'False'


schema_link = SchemaLinking()
schema_link.selected_domain(schema_description_folder_path=os.environ.get('schema_description_folder_path'),
                            schema_data_types_folder_path=os.environ.get('schema_data_types_folder_path'))

tokenizer = AutoTokenizer.from_pretrained(os.environ.get('nsql_model_path'))
model = AutoModelForCausalLM.from_pretrained(os.environ.get('nsql_model_path'))
verbose = bool(os.environ.get('verbose').lower() == 'true')

In [7]:
schema_link.filter_schema("Which shop opening from 2022")

Table string match  ----> shop

{'happy_hour': {},
 'happy_hour_member': {},
 'member': {},
 'shop': {'Shop_ID': 0.394,
  'Address': 0.605,
  'Num_of_staff': 0.408,
  'Score': 0.357,
  'Open_Year': 0.643}}

## LLM predict [MASK] example

In [27]:
from openai import OpenAI

client = OpenAI()
llm_model_name = 'gpt-3.5-turbo'
stop = ['\n\n']
prompt = """You are a SQL query assistant.
I have some SQL where the [MASK] column is syntaxed and I want you to respond to output that populates the [MASK] column of the SQL input followed by the question and schema description (name - description).
If you don't know which column to fill in Do not include columns that you have created yourself. And only columns defined from the schema must be used. 
Do not use columns from other tables or schema. must also be used from the same table defined in the input.


table :     cat - this table contain cat information
column :    id - number for identify cat
            name - name of cat
            age - age of cat
            gender - gender of cat
            
question: show me the name of cat.
input: SELECT [MASK] FROM cat;
output: SELECT name FROM cat;

question: show me the name and age of cat.
input: SELECT [MASK], [MASK] FROM cat;
output: SELECT name, age FROM cat;

question: Count number of cate each gender.
input: SELECT [MASK], COUNT([MASK]) FROM cat GROUP BY [MASK];
output: SELECT gender, COUNT(*) FROM cat GROUP BY gender;

question: show me the name and age of cat.
input: SELECT [MASK], [MASK] FROM cat;
output:
"""

response = client.chat.completions.create(
    model=llm_model_name,
    messages=[
            {"role": "system",
                "content": "I will give you some x-y examples followed by a x, you need to give me the y, and no other content."},
            {"role": "user", "content": prompt},
            ],
    stop=stop
)

In [28]:
response.choices[0].message.content

'SELECT name, age FROM cat;'

In [68]:
client = OpenAI()
stop = ['\n\n']

def llm_response(prompt, model='gpt-3.5-turbo'):
    response = client.chat.completions.create(
        model=model,
        messages=[
                {"role": "system",
                    "content": "I will give you some x-y examples followed by a x, you need to give me the y, and no other content."},
                {"role": "user", "content": prompt},
                ],
        stop=stop
    )
    return response.choices[0].message.content

## Use with SPIDER

In [33]:
src_folder = "../src"
schema_description_file = "mockup_schema_description.json"
with open(os.path.join(src_folder, schema_description_file)) as f:
    dbs = json.load(f)
model = SentenceTransformer('../models/all-MiniLM-L6-v2')
lemmanizer = WordNetLemmatizer()

for i in range(len(dbs)):
    dbs[i]['table'] = dbs[i]['table'].lower()
    dbs[i]['columns'] = {key.lower(): value for key, value in dbs[i]['columns'].items()}
    
dbs[:1]

[{'table': 'musical',
  'description': 'This table contains information about musicals.',
  'columns': {'musical_id': 'Unique identifier for the musical',
   'name': 'Name of the musical',
   'year': 'Year the musical was produced',
   'award': 'Award received by the musical',
   'category': 'Category of the award',
   'nominee': 'Name of the nominee associated with the musical',
   'result': 'Result of the award nomination for the musical'}}]

In [34]:
df = pd.read_csv('../src/NSText2SQL/train_spider.csv')
print(df.shape)
df.head()

(6994, 3)

,Question,Table,SQL
0,"What are the first names, office locations of ...","CREATE TABLE course (\n crs_code text,\n ...","SELECT T2.emp_fname, T4.prof_office, T3.crs_de..."
1,Please show the songs that have result 'nomina...,"CREATE TABLE artist (\n artist_id number,\n...",SELECT T2.song FROM music_festival AS T1 JOIN ...
2,Which teams had more than 3 eliminations?,CREATE TABLE elimination (\n elimination_id...,SELECT team FROM elimination GROUP BY team HAV...
3,"Show the names of people, and dates and venues...","CREATE TABLE people (\n people_id number,\n...","SELECT T3.name, T2.date, T2.venue FROM debate_..."
4,Tell me the the date when the first claim was ...,CREATE TABLE settlements (\n settlement_id ...,SELECT date_claim_made FROM claims ORDER BY da...

In [40]:
# Split the SQL query into lines
def table_column_of_create_table(query):
    lines = query.splitlines()
    schema = {}
    # Look for "CREATE TABLE" and start capturing columns
    capture = False
    for line in lines:
        if "CREATE TABLE" in line:
            capture = True
            table_name = line.split()[-2].lower()
            schema[table_name] = []
            # table_names.append(table_name)
        elif line.strip().endswith(')') or line.strip().endswith(');'):
            capture = False
        elif capture:
            column_name = line.strip().split()[0]
            if column_name in ["CONSTRAINT", "PRIMARY"]: continue
            schema[table_name].append(column_name.lower())
    return schema

In [81]:
def query_db(sql_query, db_name):
    try:
        conn = sqlite3.connect(f'../src/spider/database/{db_name}/{db_name}.sqlite')
        cursor = conn.cursor()
    except:
        return "CANNOT CONNECT DATABASE"
    try:
        cursor.execute(sql_query)
        results = cursor.fetchall()
    except:
        return "CANNOT FETCHING DATA"
    conn.close()
    return results

In [39]:
with open("../src/spider/table_database_map.json", "r") as f:
    map_table_db = json.load(f)

In [103]:
df_data = {"Question": [],
           "Actual SQL": [],
           "Predict MASK SQL": [],
           "Actual result": [],
           "Predict result": []}

exists_table = [i['table'].lower() for i in dbs]
short_learning_prompt = """You are a SQL query assistant.
I have some SQL where the [MASK] column is syntaxed and I want you to respond to output that populates the [MASK] column of the SQL input followed by the question and schema description (name - description).
If you don't know which column to fill in Do not include columns that you have created yourself. And only columns defined from the schema must be used. 
Do not use columns from other tables or schema. must also be used from the same table defined in the input.

#################

table :     cat - this table contain cat information
column :    id - number for identify cat
            name - name of cat
            age - age of cat
            gender - gender of cat
question: Count number of cate each gender.
input: SELECT [MASK], COUNT([MASK]) FROM cat GROUP BY [MASK];
output: SELECT gender, COUNT(*) FROM cat GROUP BY gender;

#################

table :     cat - this table contain cat information
column :    id - number for identify cat
            name - name of cat
            age - age of cat
            gender - gender of cat
question: show me the name and age of cat.
input: SELECT [MASK], [MASK] FROM cat;
output: SELECT name, age FROM cat;

#################
"""
for i,row in df.iterrows():
    table_of_query = row['Table']
    expect_schema = table_column_of_create_table(table_of_query)
    tables  = list(expect_schema.keys())
    all_columns = [value for values in expect_schema.values() for value in values]
    is_present = np.all(np.isin(np.array(tables), np.array(exists_table)))
    # all table from db is in exist tables (same database)
    if is_present:
        full_prompt = short_learning_prompt 
        question = row['Question']
        actual_sql = row['SQL']
        sql = actual_sql
        db = ""
        if '*' in sql: sql = sql.replace('*', "[MASK]")

        expect_table = []
        columns = Parser(row['SQL']).columns
        for col in columns:
            # found join function (Table1.column1)
            if "." in col:
                table_name, column_name = col.split('.') 
                expect_table.append(table_name)
        
        expect_table.extend(Parser(row['SQL']).tables)
        expect_table = list(set(expect_table))

        for t in dbs:
            table_name = t['table']
            if table_name in expect_table:
                db_id = map_table_db[table_name]
                full_prompt += f"\ntable: {table_name} - {t['description']}\ncolumn: "
                columns_of_table = list(t['columns'].keys())
                for column in columns_of_table:
                    full_prompt += f"{column} - {t['columns'][column]}\n"
                    if column in sql: 
                        sql = sql.replace(column, "[MASK]")
        
        full_prompt += f"question: {question}\n"
        full_prompt += f"input: {sql}\noutput:"
        strat_time = time.time()
        response = llm_response(full_prompt)
        if '\n' in response: response = response.replace('\n',' ')

        df_data['Question'].append(question)
        df_data['Actual SQL'].append(actual_sql)
        df_data['Predict MASK SQL'].append(response)
        df_data['Actual result'].append(query_db(actual_sql, db_id))
        df_data['Predict result'].append(query_db(response, db_id))

        print("DB:",db_id)
        print("Question:",question)
        print("SQL:",actual_sql)
        print("MASKED SQL:",sql)
        print("Response:",response)
        # print(f"Time taken: {time.time() - strat_time} seconds")
        print()

DB: coffee_shop
Question: Find the number of members living in each address.
SQL: SELECT COUNT(*), address FROM member GROUP BY address
MASKED SQL: SELECT COUNT([MASK]), [MASK] FROM member GROUP BY [MASK]
Response: SELECT COUNT(*) as count, address FROM member GROUP BY address

DB: cinema
Question: Count the number of cinemas.
SQL: SELECT COUNT(*) FROM cinema
MASKED SQL: SELECT COUNT([MASK]) FROM cinema
Response: SELECT COUNT(*) FROM cinema

DB: hospital_1
Question: How many rooms does each block floor have?
SQL: SELECT COUNT(*), T1.blockfloor FROM block AS T1 JOIN room AS T2 ON T1.blockfloor = T2.blockfloor AND T1.blockcode = T2.blockcode GROUP BY T1.blockfloor
MASKED SQL: SELECT COUNT([MASK]), T1.[MASK] FROM block AS T1 JOIN room AS T2 ON T1.[MASK] = T2.[MASK] AND T1.[MASK] = T2.[MASK] GROUP BY T1.[MASK]
Response: SELECT COUNT(roomnumber), T1.blockfloor FROM block AS T1 JOIN room AS T2 ON T1.blockcode = T2.blockcode AND T1.blockfloor = T2.blockfloor GROUP BY T1.blockfloor

DB: hospital_1
Question: What procedures cost less than 5000 and have John Wen as a trained physician?
SQL: SELECT name FROM procedures WHERE cost < 5000 INTERSECT SELECT T3.name FROM physician AS T1 JOIN trained_in AS T2 ON T1.employeeid = T2.physician JOIN procedures AS T3 ON T3.code = T2.treatment WHERE T1.name = "John Wen"
MASKED SQL: SELECT [MASK] FROM procedures WHERE [MASK] < 5000 INTERSECT SELECT T3.[MASK] FROM [MASK] AS T1 JOIN trained_in AS T2 ON T1.[MASK] = T2.[MASK] JOIN procedures AS T3 ON T3.[MASK] = T2.[MASK] WHERE T1.[MASK] = "John Wen"
Response: SELECT name FROM procedures WHERE cost < 5000 INTERSECT SELECT T3.name FROM physician AS T1 JOIN trained_in AS T2 ON T1.employeeid = T2.physician JOIN procedures AS T3 ON T3.code = T2.treatment WHERE T1.name = "John Wen"

DB: cinema
Question: What is the location with the most cinemas opened in year 2010 or later?
SQL: SELECT location FROM cinema WHERE openning_year >= 2010 GROUP BY location ORDER BY COUNT(*) DESC LIMIT 1
MASKED SQL: SELECT [MASK] FROM cinema WHERE [MASK] >= 2010 GROUP BY [MASK] ORDER BY COUNT([MASK]) DESC LIMIT 1
Response: SELECT location FROM cinema WHERE openning_year >= 2010 GROUP BY location ORDER BY COUNT(cinema_id) DESC LIMIT 1

DB: imdb
Question: List the name of musicals that do not have actors.
SQL: SELECT name FROM musical WHERE NOT musical_id IN (SELECT musical_id FROM actor)
MASKED SQL: SELECT [MASK] FROM musical WHERE NOT [MASK] IN (SELECT [MASK] FROM actor)
Response: SELECT name FROM musical WHERE NOT musical_id IN (SELECT musical_id FROM actor)

DB: county_public_safety
Question: What is the official name and status of the city with the most residents?
SQL: SELECT official_name, status FROM city ORDER BY population DESC LIMIT 1
MASKED SQL: SELECT [MASK], [MASK] FROM city ORDER BY [MASK] DESC LIMIT 1
Response: SELECT official_name, status FROM city ORDER BY population DESC LIMIT 1

DB: cinema
Question: What is total number of show times per dat for each cinema?
SQL: SELECT T2.name, SUM(T1.show_times_per_day) FROM schedule AS T1 JOIN cinema AS T2 ON T1.cinema_id = T2.cinema_id GROUP BY T1.cinema_id
MASKED SQL: SELECT T2.[MASK], SUM(T1.[MASK]) FROM schedule AS T1 JOIN cinema AS T2 ON T1.[MASK] = T2.[MASK] GROUP BY T1.[MASK]
Response: SELECT T2.cinema_id, SUM(T1.show_times_per_day) FROM schedule AS T1 JOIN cinema AS T2 ON T1.cinema_id = T2.cinema_id GROUP BY T2.cinema_id

DB: imdb
Question: Return the characters and durations for each actor.
SQL: SELECT character, duration FROM actor
MASKED SQL: SELECT [MASK], [MASK] FROM actor
Response: SELECT character, duration FROM actor

DB: county_public_safety
Question: Please show the different statuses of cities and the average population of cities with each status.
SQL: SELECT status, AVG(population) FROM city GROUP BY status
MASKED SQL: SELECT [MASK], AVG([MASK]) FROM city GROUP BY [MASK]
Response: SELECT status, AVG(population) FROM city GROUP BY status

DB: cinema
Question: What are the title and director of the films without any schedule?
SQL: SELECT title, directed_by FROM film WHERE NOT film_id IN (SELECT film_id FROM schedule)
MASKED SQL: SELECT [MASK], [MASK] FROM film WHERE NOT [MASK] IN (SELECT [MASK] FROM schedule)
Response: SELECT title, directed_by FROM film WHERE NOT film_id IN (SELECT film_id FROM schedule);

DB: hospital_1
Question: Sort the list of names and costs of all procedures in the descending order of cost.
SQL: SELECT name, cost FROM procedures ORDER BY cost DESC
MASKED SQL: SELECT [MASK], [MASK] FROM procedures ORDER BY [MASK] DESC
Response: SELECT name, cost FROM procedures ORDER BY cost DESC

DB: coffee_shop
Question: Which month has the most happy hours?
SQL: SELECT month FROM happy_hour GROUP BY month ORDER BY COUNT(*) DESC LIMIT 1
MASKED SQL: SELECT [MASK] FROM happy_hour GROUP BY [MASK] ORDER BY COUNT([MASK]) DESC LIMIT 1
Response: SELECT month FROM happy_hour GROUP BY month ORDER BY COUNT(month) DESC LIMIT 1

DB: hospital_1
Question: Which physicians are affiliated with either Surgery or Psychiatry department? Give me their names.
SQL: SELECT T1.name FROM physician AS T1 JOIN affiliated_with AS T2 ON T1.employeeid = T2.physician JOIN department AS T3 ON T2.department = T3.departmentid WHERE T3.name = 'Surgery' OR T3.name = 'Psychiatry'
MASKED SQL: SELECT T1.[MASK] FROM [MASK] AS T1 JOIN affiliated_with AS T2 ON T1.[MASK] = T2.[MASK] JOIN [MASK] AS T3 ON T2.[MASK] = T3.[MASK] WHERE T3.[MASK] = 'Surgery' OR T3.[MASK] = 'Psychiatry'
Response: SELECT T1.name FROM physician AS T1 JOIN affiliated_with AS T2 ON T1.employeeid = T2.physician JOIN department AS T3 ON T2.department = T3.departmentid WHERE T3.name = 'Surgery' OR T3.name = 'Psychiatry'

DB: coffee_shop
Question: Give me the names of members whose address is in Harford or Waterbury.
SQL: SELECT name FROM member WHERE address = 'Harford' OR address = 'Waterbury'
MASKED SQL: SELECT [MASK] FROM member WHERE [MASK] = 'Harford' OR [MASK] = 'Waterbury'
Response: SELECT name FROM member WHERE address = 'Harford' OR address = 'Waterbury'

DB: hospital_1
Question: Find the names of all procedures which cost more than 1000 but which physician John Wen was not trained in?
SQL: SELECT name FROM procedures WHERE cost > 1000 EXCEPT SELECT T3.name FROM physician AS T1 JOIN trained_in AS T2 ON T1.employeeid = T2.physician JOIN procedures AS T3 ON T3.code = T2.treatment WHERE T1.name = "John Wen"
MASKED SQL: SELECT [MASK] FROM procedures WHERE [MASK] > 1000 EXCEPT SELECT T3.[MASK] FROM [MASK] AS T1 JOIN trained_in AS T2 ON T1.[MASK] = T2.[MASK] JOIN procedures AS T3 ON T3.[MASK] = T2.[MASK] WHERE T1.[MASK] = "John Wen"
Response: SELECT name FROM procedures WHERE cost > 1000 EXCEPT SELECT T3.name FROM procedures AS T1 JOIN trained_in AS T2 ON T1.code = T2.treatment JOIN procedures AS T3 ON T3.code = T2.treatment WHERE T1.name = "John Wen"

DB: musical
Question: What are the distinct nominees of the musicals with the award that is not 'Tony Award'?
SQL: SELECT DISTINCT nominee FROM musical WHERE award <> "Tony Award"
MASKED SQL: SELECT DISTINCT [MASK] FROM musical WHERE [MASK] <> "Tony Award"
Response: SELECT DISTINCT nominee FROM musical WHERE award <> "Tony Award"

DB: hospital_1
Question: What are names of patients who made an appointment?
SQL: SELECT name FROM appointment AS T1 JOIN patient AS T2 ON T1.patient = T2.ssn
MASKED SQL: SELECT [MASK] FROM appointment AS T1 JOIN [MASK] AS T2 ON T1.[MASK] = T2.[MASK]
Response: SELECT T2.name FROM appointment AS T1 JOIN patient AS T2 ON T1.patient = T2.ssn

DB: hospital_1
Question: Count the number of patients who stayed in room 112.
SQL: SELECT COUNT(patient) FROM stay WHERE room = 112
MASKED SQL: SELECT COUNT([MASK]) FROM stay WHERE [MASK] = 112
Response: SELECT COUNT(*) FROM stay WHERE room = 112

DB: imdb
Question: What are the names of musicals who have at 3 or more actors?
SQL: SELECT T2.name FROM actor AS T1 JOIN musical AS T2 ON T1.musical_id = T2.musical_id GROUP BY T1.musical_id HAVING COUNT(*) >= 3
MASKED SQL: SELECT T2.[MASK] FROM actor AS T1 JOIN musical AS T2 ON T1.[MASK] = T2.[MASK] GROUP BY T1.[MASK] HAVING COUNT([MASK]) >= 3
Response: SELECT T2.name FROM actor AS T1 JOIN musical AS T2 ON T1.musical_id = T2.musical_id GROUP BY T1.musical_id HAVING COUNT(T1.actor_id) >= 3

DB: farm
Question: Return the themes of farm competitions, sorted by year ascending.
SQL: SELECT theme FROM farm_competition ORDER BY year
MASKED SQL: SELECT [MASK] FROM farm_competition ORDER BY [MASK]
Response: SELECT theme FROM farm_competition ORDER BY year ASC;

DB: musical
Question: Please show the nominee who has been nominated the greatest number of times.
SQL: SELECT nominee FROM musical GROUP BY nominee ORDER BY COUNT(*) DESC LIMIT 1
MASKED SQL: SELECT [MASK] FROM musical GROUP BY [MASK] ORDER BY COUNT([MASK]) DESC LIMIT 1
Response: SELECT nominee FROM musical GROUP BY nominee ORDER BY COUNT(nominee) DESC LIMIT 1

DB: imdb
Question: What are the names of actors, ordered alphabetically?
SQL: SELECT name FROM actor ORDER BY name
MASKED SQL: SELECT [MASK] FROM actor ORDER BY [MASK]
Response: SELECT name FROM actor ORDER BY name

DB: hospital_1
Question: Find the ids of the nurses who are on call in block floor 1 and block code 1.
SQL: SELECT nurse FROM on_call WHERE blockfloor = 1 AND blockcode = 1
MASKED SQL: SELECT [MASK] FROM on_call WHERE [MASK] = 1 AND [MASK] = 1
Response: SELECT nurse FROM on_call WHERE blockfloor = 1 AND blockcode = 1

DB: imdb
Question: List the name of actors in ascending alphabetical order.
SQL: SELECT name FROM actor ORDER BY name
MASKED SQL: SELECT [MASK] FROM actor ORDER BY [MASK]
Response: SELECT name FROM actor ORDER BY name

DB: department_management
Question: Which department has the largest number of employees?
SQL: SELECT name FROM department GROUP BY departmentid ORDER BY COUNT(departmentid) DESC LIMIT 1
MASKED SQL: SELECT [MASK] FROM department GROUP BY [MASK] ORDER BY COUNT([MASK]) DESC LIMIT 1
Response: SELECT name FROM department GROUP BY name ORDER BY COUNT(*) DESC LIMIT 1

DB: hospital_1
Question: How many different types of rooms are there?
SQL: SELECT COUNT(DISTINCT roomtype) FROM room
MASKED SQL: SELECT COUNT(DISTINCT [MASK]) FROM room
Response: SELECT COUNT(DISTINCT roomtype) FROM room

DB: imdb
Question: What are the names of actors and the musicals that they are in?
SQL: SELECT T1.name, T2.name FROM actor AS T1 JOIN musical AS T2 ON T1.musical_id = T2.musical_id
MASKED SQL: SELECT T1.[MASK], T2.[MASK] FROM actor AS T1 JOIN musical AS T2 ON T1.[MASK] = T2.[MASK]
Response: SELECT T1.name, T2.name FROM actor AS T1 JOIN musical AS T2 ON T1.musical_id = T2.musical_id

DB: cinema
Question: Show all the cinema names and opening years in descending order of opening year.
SQL: SELECT name, openning_year FROM cinema ORDER BY openning_year DESC
MASKED SQL: SELECT [MASK], [MASK] FROM cinema ORDER BY [MASK] DESC
Response: SELECT name, openning_year FROM cinema ORDER BY openning_year DESC

DB: cinema
Question: Find the distinct locations that has a cinema.
SQL: SELECT DISTINCT location FROM cinema
MASKED SQL: SELECT DISTINCT [MASK] FROM cinema
Response: SELECT DISTINCT location FROM cinema

DB: county_public_safety
Question: List the most common type of Status across cities.
SQL: SELECT status FROM city GROUP BY status ORDER BY COUNT(*) DESC LIMIT 1
MASKED SQL: SELECT [MASK] FROM city GROUP BY [MASK] ORDER BY COUNT([MASK]) DESC LIMIT 1
Response: SELECT status FROM city GROUP BY status ORDER BY COUNT(status) DESC LIMIT 1

DB: hospital_1
Question: What are the distinct names of nurses on call?
SQL: SELECT DISTINCT T1.name FROM nurse AS T1 JOIN on_call AS T2 ON T1.employeeid = T2.nurse
MASKED SQL: SELECT DISTINCT T1.[MASK] FROM [MASK] AS T1 JOIN on_call AS T2 ON T1.[MASK] = T2.[MASK]
Response: SELECT DISTINCT T1.name  FROM nurse AS T1  JOIN on_call AS T2 ON T1.employeeid = T2.nurse

DB: imdb
Question: What are the characters and duration of actors?
SQL: SELECT character, duration FROM actor
MASKED SQL: SELECT [MASK], [MASK] FROM actor
Response: SELECT character, duration FROM actor

DB: hospital_1
Question: Find the patient who has the most recent undergoing treatment?
SQL: SELECT patient FROM undergoes ORDER BY dateundergoes LIMIT 1
MASKED SQL: SELECT [MASK] FROM undergoes ORDER BY [MASK] LIMIT 1
Response: SELECT patient FROM undergoes ORDER BY dateundergoes DESC LIMIT 1

DB: department_management
Question: Find the name and position of the head of the department with the least employees.
SQL: SELECT T2.name, T2.position FROM department AS T1 JOIN physician AS T2 ON T1.head = T2.employeeid GROUP BY departmentid ORDER BY COUNT(departmentid) LIMIT 1
MASKED SQL: SELECT T2.[MASK], T2.[MASK] FROM department AS T1 JOIN physician AS T2 ON T1.[MASK] = T2.[MASK] GROUP BY [MASK] ORDER BY COUNT([MASK]) LIMIT 1
Response: SELECT T2.name, T2.position FROM department AS T1 JOIN physician AS T2 ON T1.departmentid = T2.employeeid GROUP BY T2.name, T2.position ORDER BY COUNT(*) LIMIT 1

DB: cinema
Question: Show cinema name, film title, date, and price for each record in schedule.
SQL: SELECT T3.name, T2.title, T1.date, T1.price FROM schedule AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id JOIN cinema AS T3 ON T1.cinema_id = T3.cinema_id
MASKED SQL: SELECT T3.[MASK], T2.[MASK], T1.[MASK], T1.[MASK] FROM schedule AS T1 JOIN film AS T2 ON T1.[MASK] = T2.[MASK] JOIN cinema AS T3 ON T1.[MASK] = T3.[MASK]
Response: SELECT T3.name, T2.title, T1.date, T1.price FROM schedule AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id JOIN cinema AS T3 ON T1.cinema_id = T3.cinema_id

DB: imdb
Question: Return the duration of the actor with the greatest age.
SQL: SELECT duration FROM actor ORDER BY age DESC LIMIT 1
MASKED SQL: SELECT [MASK] FROM actor ORDER BY [MASK] DESC LIMIT 1
Response: SELECT duration FROM actor ORDER BY age DESC LIMIT 1

DB: hospital_1
Question: How many patients' prescriptions are made by physician John Dorian?
SQL: SELECT COUNT(T1.ssn) FROM patient AS T1 JOIN prescribes AS T2 ON T1.ssn = T2.patient JOIN physician AS T3 ON T2.physician = T3.employeeid WHERE T3.name = "John Dorian"
MASKED SQL: SELECT COUNT(T1.[MASK]) FROM [MASK] AS T1 JOIN prescribes AS T2 ON T1.[MASK] = T2.[MASK] JOIN [MASK] AS T3 ON T2.[MASK] = T3.[MASK] WHERE T3.[MASK] = "John Dorian"
Response: SELECT COUNT(T1.patient) FROM physician AS T1 JOIN prescribes AS T2 ON T1.employeeid = T2.physician JOIN patient AS T3 ON T2.patient = T3.ssn WHERE T1.name = "John Dorian"

DB: imdb
Question: What are the characters of actors in descending order of age?
SQL: SELECT character FROM actor ORDER BY age DESC
MASKED SQL: SELECT [MASK] FROM actor ORDER BY [MASK] DESC
Response: SELECT character FROM actor ORDER BY age DESC

DB: hospital_1
Question: What is the id of the appointment that started most recently?
SQL: SELECT appointmentid FROM appointment ORDER BY start DESC LIMIT 1
MASKED SQL: SELECT [MASK] FROM appointment ORDER BY [MASK] DESC LIMIT 1
Response: SELECT appointmentid FROM appointment ORDER BY start DESC LIMIT 1

DB: cinema
Question: Show each location and the number of cinemas there.
SQL: SELECT location, COUNT(*) FROM cinema GROUP BY location
MASKED SQL: SELECT [MASK], COUNT([MASK]) FROM cinema GROUP BY [MASK]
Response: SELECT location, COUNT(*) FROM cinema GROUP BY location

DB: hospital_1
Question: Find the three most expensive procedures.
SQL: SELECT name FROM procedures ORDER BY cost LIMIT 3
MASKED SQL: SELECT [MASK] FROM procedures ORDER BY [MASK] LIMIT 3
Response: SELECT name FROM procedures ORDER BY cost DESC LIMIT 3

DB: hospital_1
Question: What is the name of the nurse has the most appointments?
SQL: SELECT T1.name FROM nurse AS T1 JOIN appointment AS T2 ON T1.employeeid = T2.prepnurse GROUP BY T1.employeeid ORDER BY COUNT(*) DESC LIMIT 1
MASKED SQL: SELECT T1.[MASK] FROM nurse AS T1 JOIN appointment AS T2 ON T1.[MASK] = T2.[MASK] GROUP BY T1.[MASK] ORDER BY COUNT([MASK]) DESC LIMIT 1
Response: SELECT T1.name FROM nurse AS T1 JOIN appointment AS T2 ON T1.employeeid = T2.prepnurse GROUP BY T1.name ORDER BY COUNT(T1.name) DESC LIMIT 1

DB: musical
Question: List the nominees that have been nominated more than two musicals.
SQL: SELECT nominee FROM musical GROUP BY nominee HAVING COUNT(*) > 2
MASKED SQL: SELECT [MASK] FROM musical GROUP BY [MASK] HAVING COUNT([MASK]) > 2
Response: SELECT nominee FROM musical GROUP BY nominee HAVING COUNT(musical_id) > 2

DB: hospital_1
Question: How many medications are prescribed for each brand?
SQL: SELECT COUNT(*), T1.name FROM medication AS T1 JOIN prescribes AS T2 ON T1.code = T2.medication GROUP BY T1.brand
MASKED SQL: SELECT COUNT([MASK]), T1.[MASK] FROM [MASK] AS T1 JOIN prescribes AS T2 ON T1.[MASK] = T2.[MASK] GROUP BY T1.[MASK]
Response: SELECT COUNT(medication), T1.brand FROM medication AS T1 JOIN prescribes AS T2 ON T1.code = T2.medication GROUP BY T1.brand

DB: film_rank
Question: Who are all the directors?
SQL: SELECT DISTINCT directed_by FROM film
MASKED SQL: SELECT DISTINCT [MASK] FROM film
Response: SELECT DISTINCT directed_by FROM film

DB: imdb
Question: How many companies are headquartered in the US?
SQL: SELECT COUNT(*) FROM company WHERE headquarters = 'USA'
MASKED SQL: SELECT COUNT([MASK]) FROM company WHERE [MASK] = 'USA'
Response: SELECT COUNT(*) FROM company WHERE headquarters = 'USA'

DB: film_rank
Question: Show the title and director for all films.
SQL: SELECT title, directed_by FROM film
MASKED SQL: SELECT [MASK], [MASK] FROM film
Response: SELECT title, directed_by FROM film

DB: hospital_1
Question: Find the physicians who are trained in a procedure that costs more than 5000.
SQL: SELECT T1.name FROM physician AS T1 JOIN trained_in AS T2 ON T1.employeeid = T2.physician JOIN procedures AS T3 ON T3.code = T2.treatment WHERE T3.cost > 5000
MASKED SQL: SELECT T1.[MASK] FROM [MASK] AS T1 JOIN trained_in AS T2 ON T1.[MASK] = T2.[MASK] JOIN procedures AS T3 ON T3.[MASK] = T2.[MASK] WHERE T3.[MASK] > 5000
Response: SELECT T1.physician FROM physician AS T1 JOIN trained_in AS T2 ON T1.employeeid = T2.physician JOIN procedures AS T3 ON T3.code = T2.treatment WHERE T3.cost > 5000

DB: imdb
Question: Show names of actors and names of musicals they are in.
SQL: SELECT T1.name, T2.name FROM actor AS T1 JOIN musical AS T2 ON T1.musical_id = T2.musical_id
MASKED SQL: SELECT T1.[MASK], T2.[MASK] FROM actor AS T1 JOIN musical AS T2 ON T1.[MASK] = T2.[MASK]
Response: SELECT T1.name, T2.name FROM actor AS T1 JOIN musical AS T2 ON T1.musical_id = T2.musical_id

DB: farm
Question: List the official names of cities that have not held any competition.
SQL: SELECT official_name FROM city WHERE NOT city_id IN (SELECT host_city_id FROM farm_competition)
MASKED SQL: SELECT [MASK] FROM city WHERE NOT [MASK] IN (SELECT host_[MASK] FROM farm_competition)
Response: SELECT official_name FROM city WHERE NOT city_id IN (SELECT host_city_id FROM farm_competition)

DB: hospital_1
Question: Find the number of rooms located on each block floor.
SQL: SELECT COUNT(*), T1.blockfloor FROM block AS T1 JOIN room AS T2 ON T1.blockfloor = T2.blockfloor AND T1.blockcode = T2.blockcode GROUP BY T1.blockfloor
MASKED SQL: SELECT COUNT([MASK]), T1.[MASK] FROM block AS T1 JOIN room AS T2 ON T1.[MASK] = T2.[MASK] AND T1.[MASK] = T2.[MASK] GROUP BY T1.[MASK]
Response: SELECT COUNT(T2.roomnumber), T1.blockfloor FROM block AS T1 JOIN room AS T2 ON T1.blockcode = T2.blockcode AND T1.blockfloor = T2.blockfloor GROUP BY T1.blockfloor

DB: hospital_1
Question: List the name and cost of all procedures sorted by the cost from the highest to the lowest.
SQL: SELECT name, cost FROM procedures ORDER BY cost DESC
MASKED SQL: SELECT [MASK], [MASK] FROM procedures ORDER BY [MASK] DESC
Response: SELECT name, cost FROM procedures ORDER BY cost DESC

DB: hospital_1
Question: Which physician was trained in the procedure that costs the most.
SQL: SELECT T1.name FROM physician AS T1 JOIN trained_in AS T2 ON T1.employeeid = T2.physician JOIN procedures AS T3 ON T3.code = T2.treatment ORDER BY T3.cost DESC LIMIT 1

In [104]:
result_df = pd.DataFrame(df_data)
result_df.to_excel("LLM-predict-MASK.xlsx", index=False)
result_df.head()

,Question,Actual SQL,Predict MASK SQL,Actual result,Predict result
0,Find the number of members living in each addr...,"SELECT COUNT(*), address FROM member GROUP BY ...","SELECT COUNT(*) as count, address FROM member ...","[(1, Bridgeport), (2, Cheshire), (3, Hartford)...","[(1, Bridgeport), (2, Cheshire), (3, Hartford)..."
1,Count the number of cinemas.,SELECT COUNT(*) FROM cinema,SELECT COUNT(*) FROM cinema,"[(10,)]","[(10,)]"
2,How many rooms does each block floor have?,"SELECT COUNT(*), T1.blockfloor FROM block AS T...","SELECT COUNT(roomnumber), T1.blockfloor FROM b...","[(9, 1), (9, 2), (9, 3), (9, 4)]","[(9, 1), (9, 2), (9, 3), (9, 4)]"
3,What procedures cost less than 5000 and have J...,SELECT name FROM procedures WHERE cost < 5000 ...,SELECT name FROM procedures WHERE cost < 5000 ...,"[(Folded Demiophtalmectomy,), (Follicular Demi...","[(Folded Demiophtalmectomy,), (Follicular Demi..."
4,What is the location with the most cinemas ope...,SELECT location FROM cinema WHERE openning_yea...,SELECT location FROM cinema WHERE openning_yea...,"[(County Tipperary,)]","[(County Tipperary,)]"