In [16]:
import sqlite3, os, json, sqlparse, re
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer, util
from nltk.stem import WordNetLemmatizer
from sql_metadata import Parser

## Get the SQLite Database

In [37]:
folder_path = "src/spider/database"
select_db = ['musical',
             'farm', 
             'hospital_1', 
             'tvshow', 
             'cinema', 
             'restaurants', 
             'company_employee', 
             'company_1', 
             'company_offic', 
             'singer', 
             'coffee_shop']

db = []

if os.path.exists(folder_path) and os.path.isdir(folder_path):
    files = os.listdir(folder_path)
    for file in files:
        # if file in select_db:
        db_path = os.path.join(folder_path, file)
        sqlite_db = [os.path.join(db_path, sql) for sql in os.listdir(db_path) if ".sqlite" in sql]
        db.append(*sqlite_db)

db[:5]

['src/spider/database/browser_web/browser_web.sqlite',
 'src/spider/database/musical/musical.sqlite',
 'src/spider/database/farm/farm.sqlite',
 'src/spider/database/voter_1/voter_1.sqlite',
 'src/spider/database/game_injury/game_injury.sqlite']

In [38]:
def get_schema(sqlite_db):
    connection = sqlite3.connect(sqlite_db)
    cursor = connection.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    for table in tables:
        table_name = table[0]
        print(f"Table: {table_name}")

        cursor.execute(f"PRAGMA table_info({table_name});")
        columns = cursor.fetchall()

        for column in columns:
            column_name = column[1]
            print(f"  Column: {column_name}")

        print()
    
    cursor.close()
    connection.close()

In [39]:
for table in db[:2]:
    # if table in exists_table : continue
    get_schema(table)
    # exists_table.append(table)
    print('---------------------------------')

Table: Web_client_accelerator
  Column: id
  Column: name
  Column: Operating_system
  Column: Client
  Column: Connection

Table: browser
  Column: id
  Column: name
  Column: market_share

Table: accelerator_compatible_browser
  Column: accelerator_id
  Column: browser_id
  Column: compatible_since_year

---------------------------------
Table: musical
  Column: Musical_ID
  Column: Name
  Column: Year
  Column: Award
  Column: Category
  Column: Nominee
  Column: Result

Table: actor
  Column: Actor_ID
  Column: Name
  Column: Musical_ID
  Column: Character
  Column: Duration
  Column: age

---------------------------------

## Embedding description of tables and columns

In [2]:
src_folder = "src"
schema_description_file = "mockup_schema_description.json"
with open(os.path.join(src_folder, schema_description_file)) as f:
    dbs = json.load(f)
model = SentenceTransformer('models/all-MiniLM-L6-v2')
lemmanizer = WordNetLemmatizer()

In [9]:
# description_emb = []

# for db in dbs:
#     schema_emb = {}
#     table_name = db['table']
#     table_description = db['description']
#     schema_emb[table_name] = model.encode(table_description).tolist()
#     columns = list(db['columns'].keys())
#     for col in columns:
#         column_description = db['columns'][col]
#         schema_emb[col] = model.encode(column_description).tolist()
#     description_emb.append(schema_emb)

# schema_vector_file = "mockup_schema_description_vector.json"
# with open(os.path.join(src_folder, schema_vector_file), "w") as f:
#     json.dump(description_emb,f)

In [3]:
schema_vector_file = "mockup_schema_description_vector.json"
with open(os.path.join(src_folder, schema_vector_file)) as f:
    schema_vector = json.load(f)

## Filtering Columns by Question

Question --> Similarity description-base --> String matching (score weight up to match condition) --> Column

### String Matching

In [17]:
# string mathing , max_score = weight of string match

def column_from_question(question,used_table_col = {}, default_score=0.6):
    # question_tokens = [token.lower() for token in tokenizer.tokenize(question)]
    question_tokens = [lemmanizer.lemmatize(token.lower()) for token in question.split()]
    # print(question_tokens)
    for table in schema_vector:
        max_score = default_score
        for token in question_tokens:
            cols = [ key.lower() for key in table.keys()]
            table_name = cols.pop(0)
            if token == table_name: 
                max_score = 1.0
                # plus the score of columns in exact match with table name
                if used_table_col.get(token) is not None: 
                    for key in used_table_col[token]: 
                        used_table_col[token].update({key: used_table_col[token][key] + 0.1})
            # exact match table and column
            if token in cols: 
                used_table_col.setdefault(table_name, {}).update({token : max_score})

    return used_table_col

### Similarity description-base score

In [18]:
# filter_table : filter by table before 
def filter_tables_by_description(question, column_threshold = 0.4, table_threshold = 0.2, filter_tables = True):
    question_emb = model.encode(question)
    used_schema = {}
    for i in range(len(schema_vector)):
        table_name = list(schema_vector[i].keys())[0]

        table_description_vector = schema_vector[i][table_name]
        if filter_tables and util.cos_sim(table_description_vector, question_emb) < table_threshold: continue
        
        used_col = {}
        for col, vec in schema_vector[i].items():
            if col == table_name: continue
            score = round(float(util.cos_sim(vec, question_emb)),2)
            if score > column_threshold:
                # column_description = [dbs[i]['columns'][col] for i in range(len(dbs)) if dbs[i]['table'] == table_name][0]
                # print(f"{table_name} - {col} : {score}\nDescription : {column_description}\n")
                used_col.update({col: score})
        if len(used_col) > 0: used_schema[table_name] = used_col
    return used_schema

### Question --> Similarity description-base --> String matching (score weight up to match condition) --> Column

In [19]:
question = "Who direct the mickey mouse"

In [20]:
selected_table_column = filter_tables_by_description(question, column_threshold = 0.3, filter_tables = False)
selected_table_column = column_from_question(question, used_table_col=selected_table_column)
selected_table_column

{'Cartoon': {'id': 0.31,
  'Title': 0.35,
  'Directed_by': 0.54,
  'Written_by': 0.44,
  'Original_air_date': 0.32,
  'Production_code': 0.39},
 'film': {'Directed_by': 0.36}}

## Filter Spider train dataset for expirement testing

In [21]:
# spider_sql = []
# df_data = {
#     'Question' : [],
#     'Table' : [],
#     'SQL' : []
# }

# with open("src/NSText2SQL/train.jsonl") as f:
#     for line in f:
#         data = json.loads(line)
#         if data['source'] == 'spider': 
#             spider_sql.append(data)
#             df_data['Question'].append(data['instruction'].split('--')[-1].strip())
#             df_data['Table'].append(data['instruction'].split('--')[0].strip())
#             df_data['SQL'].append(data['output'])

# df = pd.DataFrame(df_data)
# df.to_csv('src/NSText2SQL/train_spider.csv', index=False)
# df.head()

In [22]:
df = pd.read_csv('src/NSText2SQL/train_spider.csv')
print(df.shape)
df.head()

(6994, 3)

,Question,Table,SQL
0,"What are the first names, office locations of ...","CREATE TABLE course (\n crs_code text,\n ...","SELECT T2.emp_fname, T4.prof_office, T3.crs_de..."
1,Please show the songs that have result 'nomina...,"CREATE TABLE artist (\n artist_id number,\n...",SELECT T2.song FROM music_festival AS T1 JOIN ...
2,Which teams had more than 3 eliminations?,CREATE TABLE elimination (\n elimination_id...,SELECT team FROM elimination GROUP BY team HAV...
3,"Show the names of people, and dates and venues...","CREATE TABLE people (\n people_id number,\n...","SELECT T3.name, T2.date, T2.venue FROM debate_..."
4,Tell me the the date when the first claim was ...,CREATE TABLE settlements (\n settlement_id ...,SELECT date_claim_made FROM claims ORDER BY da...

## Get the column and table name from SQL query

by String matching, SQLParse library

In [23]:
sql_extract_token_type = {
            sqlparse.sql.IdentifierList, sqlparse.sql.Where,
            sqlparse.sql.Having, sqlparse.sql.Comparison, sqlparse.sql.Function,
            sqlparse.sql.Parenthesis, sqlparse.sql.Operation, sqlparse.sql.Case
        }

def columns_from_query(sql_query):
    # identifiers contain table name and column name
    if type(sql_query) == str:
        sql_query = sqlparse.parse(sql_query)[0]
    columns = []
    for token in sql_query:
        if isinstance(token, sqlparse.sql.Identifier):
            columns.append(token.get_real_name())
        elif hasattr(token, "tokens"):
            columns.extend(columns_from_query(token.tokens))
    return columns

def columns_by_split(sql_query:str, all_columns:list):
    columns = []
    for token in sql_query.split():
        if token[-1] == ",": token = token[:-1]
        if token in all_columns:
            columns.append(token)
    return columns

# Split the SQL query into lines
def table_column_of_create_table(query):
    lines = query.splitlines()

    # Initialize a list to store column names
    columns = []
    table_names = []

    # Look for "CREATE TABLE" and start capturing columns
    capture = False

    for line in lines:
        if "CREATE TABLE" in line:
            capture = True
            table_names.append(line.split()[-2].lower())
        elif line.strip().endswith(')') or line.strip().endswith(');'):
            capture = False
        elif capture:
            column_name = line.strip().split()[0]
            if column_name in ["CONSTRAINT", "PRIMARY"]: continue
            columns.append(column_name)

    # print("Table Name:", table_names)
    # print("Columns:", columns)
    return table_names, columns

### Map table to db

In [24]:
spider_path = 'src/spider/database'
map_table_db = {}

for folder in os.listdir(spider_path):
    schema_path = os.path.join(spider_path, folder, 'schema.sql')
    if os.path.exists(schema_path):
        with open(schema_path, 'r') as sql_file:
            sql_script = sql_file.read()
            table_names = table_column_of_create_table(sql_script)[0]
            for table in table_names: 
                table = re.sub(r'[^a-zA-Z_]', '', table)
                map_table_db[table] = folder

# with open("src/spider/table_database_map.json", "w") as f:
#     json.dump(map_table_db, f, indent=4)

In [25]:
def safe_divide(numerator, denominator):
    try:
        result = round(numerator / denominator,2)
    except :
        result = "ZeroDivisionError"
    return result

### Map db to table

In [26]:
db_to_table_map = {}
for table, db in map_table_db.items():
    if db in db_to_table_map:
        db_to_table_map[db].append(table)
    else:
        db_to_table_map[db] = [table]

## Expirement test by threshold score to dataframe
automate join column (each treshold score)

In [27]:
def expirement_test(threshold_score:list, dbs=dbs, verbose=False):

    full_result_df = pd.DataFrame()
    exists_table = [i['table'].lower() for i in dbs]
    for i,row in df.iterrows():
        table_of_query = row['Table']
        tables, all_columns = table_column_of_create_table(table_of_query)
        is_present = np.all(np.isin(np.array(tables), np.array(exists_table)))
        # all table from db is in exist tables (same database)
        if is_present:
            try:
                question = row['Question']

                # Got the expect column and table with string matching, parser and SQLParse lib
                columns = Parser(row['SQL']).columns
                expect_cols = []
                expect_table = []
                for col in columns:
                    # found join function (Table1.column1)
                    if "." in col:
                        table_name, column_name = col.split('.') 
                        expect_cols.append(column_name)
                        expect_table.append(table_name)
                    elif col in all_columns:
                        expect_cols.append(col)
                
                expect_cols.extend([c for c in columns_from_query(row['SQL']) if c in all_columns])
                expect_cols.extend(columns_by_split(row['SQL'], all_columns))
                expect_table.extend(Parser(row['SQL']).tables)

                expect_table = list(set(expect_table))
                expect_cols = list(set(expect_cols))

                # filtering table name in columns list
                expect_cols = [c for c in expect_cols if c not in expect_table]

                db = map_table_db[expect_table[0]]
                table_in_db = db_to_table_map[db]

                if verbose:
                    print(question)
                    print(row['SQL'])
                    print("DATABASE:", db)
                    print("EXPECT TABLE:", expect_table)
                    print("EXPECT COLUMNS:",expect_cols)
                    print()

                # dataframe for merge to threshold dataframe
                threshold_result_df = pd.DataFrame({'query': [question],'actual col' : [expect_cols]})

                for score in threshold_score:

                    name_col_selected   = f"T{score} selected col"
                    name_col_correct    = f"T{score} # correct"
                    name_col_recall     = f"T{score} recall"
                    name_col_precision  = f"T{score} precision"
                    name_col_f1         = f"T{score} F1"


                    # filtering schema from question (similarity description-base score --> string matching)
                    result = filter_tables_by_description(row['Question'], column_threshold = score, filter_tables = False)
                    result = column_from_question(row['Question'], used_table_col=result)
                    
                    result_tables = []
                    result_columns = []
                    for t in result:
                        if t in table_in_db: 
                            result_tables.append(t)
                            result_columns.extend(list(result[t].keys()))

                    result_columns = list(set([c.lower() for c in result_columns]))

                    # calculate accuracy

                    table_TP = len(set(expect_table) & set(result_tables))
                    table_FP = len(set(result_tables) - set(expect_table))
                    table_FN = len(set(expect_table) - set(result_tables))
                    col_TP = len(set(expect_cols) & set(result_columns))
                    col_FP = len(set(result_columns) - set(expect_cols))
                    col_FN = len(set(expect_cols) - set(result_columns))
                    
                    table_recall, table_precision, col_recall, col_precision, table_f1, col_f1 = (None, ) * 6

                    # Calculate table_recall, table_precision, col_recall, and col_precision using safe_divide
                    if table_TP is not None and table_FN is not None and table_FP is not None:
                        table_recall = safe_divide(table_TP, table_TP + table_FN)
                        table_precision = safe_divide(table_TP, table_TP + table_FP)

                    if col_TP is not None and col_FN is not None and col_FP is not None:
                        if len(expect_cols) == 0 : col_recall = 1
                        else: col_recall = safe_divide(col_TP, col_TP + col_FN)
                        col_precision = safe_divide(col_TP, col_TP + col_FP)

                    # Calculate table_f1 and col_f1 using safe_divide
                    if table_precision is not None and table_recall is not None and table_recall != "ZeroDivisionError" and table_precision != "ZeroDivisionError":
                        table_f1 = 2 * safe_divide(table_precision * table_recall, table_precision + table_recall)

                    if col_precision is not None and col_recall is not None and col_recall != "ZeroDivisionError" and col_precision != "ZeroDivisionError":
                        col_f1 = 2 * safe_divide(col_precision * col_recall, col_precision + col_recall)

                    # Check for "division error" and set appropriate values
                    if table_f1 == "ZeroDivisionErrorZeroDivisionError":table_f1 = "ZeroDivisionError"
                    if col_f1 == "ZeroDivisionErrorZeroDivisionError": col_f1 = "ZeroDivisionError"
                        

                    if verbose:
                        print("THRESHOLD:", score)
                        print("PREDICT TABLE:", result_tables)
                        print("PREDICT COLUMNS:", result_columns)
                        print("TABLE RECALL:", table_recall, "\tCOLUMNS RECALL:", col_recall)
                        print("TABLE PRECISION:", table_precision, "\tCOLUMNS PRECISION:", col_precision)
                        print("TABLE F1 SCORE:", table_f1, "\tCOLUMNS F1 SCORE:", col_f1)
                        print()

                    result_data = {
                        'query' : [question],
                        name_col_selected : [result_columns],
                        name_col_correct : [np.sum(np.isin(np.array(result_columns), np.array(expect_cols)))],
                        name_col_recall : [col_recall],
                        name_col_precision : [col_precision],
                        name_col_f1 : [col_f1]
                    }
                    
                    # dataframe for merge
                    result_df = pd.DataFrame(result_data)
                    threshold_result_df = pd.merge(threshold_result_df, result_df, on='query', how='outer')
                
                # append (concat) the row of full dataframe
                full_result_df = pd.concat([full_result_df, threshold_result_df], ignore_index=True)

            except KeyError: pass
            print('------------------------------------------')
    return full_result_df

In [28]:
result_df = expirement_test([0.6, 0.4, 0.2], verbose=True)

Find the number of members living in each address.
SELECT COUNT(*), address FROM member GROUP BY address
DATABASE: coffee_shop
EXPECT TABLE: ['member']
EXPECT COLUMNS: ['address']

THRESHOLD: 0.6
PREDICT TABLE: []
PREDICT COLUMNS: []
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: ZeroDivisionError 	COLUMNS PRECISION: ZeroDivisionError
TABLE F1 SCORE: None 	COLUMNS F1 SCORE: None

THRESHOLD: 0.4
PREDICT TABLE: ['member']
PREDICT COLUMNS: ['address']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 1.0

THRESHOLD: 0.2
PREDICT TABLE: ['shop', 'member', 'happy_hour', 'happy_hour_member']
PREDICT COLUMNS: ['age', 'address', 'name', 'member_id', 'level_of_membership', 'total_amount', 'num_of_staff', 'membership_card', 'num_of_staff_in_charge']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.25 	COLUMNS PRECISION: 0.11
TABLE F1 SCORE: 0.4 	COLUMNS F1 SCORE: 0.2

------------------------------------------
Count the number of cinemas.
SELECT COUNT(*) FROM cinema
DATABASE: cinema
EXPECT TABLE: ['cinema']
EXPECT COLUMNS: []

THRESHOLD: 0.6
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['capacity', 'cinema_id']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 0.0

THRESHOLD: 0.4
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['name', 'capacity', 'show_times_per_day', 'openning_year', 'cinema_id', 'film_id', 'location']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 0.0

THRESHOLD: 0.2
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['price', 'name', 'capacity', 'show_times_per_day', 'openning_year', 'cinema_id', 'film_id', 'location']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 0.0

------------------------------------------
How many rooms does each block floor have?
SELECT COUNT(*), T1.blockfloor FROM block AS T1 JOIN room AS T2 ON T1.blockfloor = T2.blockfloor AND T1.blockcode = T2.blockcode GROUP BY T1.blockfloor
DATABASE: hospital_1
EXPECT TABLE: ['room', 'block']
EXPECT COLUMNS: ['blockfloor', 'blockcode']

THRESHOLD: 0.6
PREDICT TABLE: ['stay']
PREDICT COLUMNS: ['room']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

THRESHOLD: 0.4
PREDICT TABLE: ['stay']
PREDICT COLUMNS: ['room']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

THRESHOLD: 0.2
PREDICT TABLE: ['stay']
PREDICT COLUMNS: ['room']
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.0 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: ZeroDivisionError 	COLUMNS F1 SCORE: ZeroDivisionError

------------------------------------------
What procedures cost less than 5000 and have John Wen as a trained physician?
SELECT name FROM procedures WHERE cost < 5000 INTERSECT SELECT T3.name FROM physician AS T1 JOIN trained_in AS T2 ON T1.employeeid = T2.physician JOIN procedures AS T3 ON T3.code = T2.treatment WHERE T1.name = "John Wen"
DATABASE: hospital_1
EXPECT TABLE: ['procedures', 'physician', 'trained_in']
EXPECT COLUMNS: ['name', 'treatment', 'employeeid', 'cost', 'code']

THRESHOLD: 0.6
PREDICT TABLE: ['procedures']
PREDICT COLUMNS: ['cost']
TABLE RECALL: 0.33 	COLUMNS RECALL: 0.2
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 0.5 	COLUMNS F1 SCORE: 0.34

THRESHOLD: 0.4
PREDICT TABLE: ['procedures']
PREDICT COLUMNS: ['cost']
TABLE RECALL: 0.33 	COLUMNS RECALL: 0.2
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 0.5 	COLUMNS F1 SCORE: 0.34

THRESHOLD: 0.2
PREDICT TABLE: ['procedures']
PREDICT COLUMNS: ['cost']
TABLE RECALL: 0.33 	COLUMNS RECALL: 0.2
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 0.5 	COLUMNS F1 SCORE: 0.34

------------------------------------------
What is the location with the most cinemas opened in year 2010 or later?
SELECT location FROM cinema WHERE openning_year >= 2010 GROUP BY location ORDER BY COUNT(*) DESC LIMIT 1
DATABASE: cinema
EXPECT TABLE: ['cinema']
EXPECT COLUMNS: ['openning_year', 'location']

THRESHOLD: 0.6
PREDICT TABLE: ['cinema']
PREDICT COLUMNS: ['openning_year', 'location']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 1.0

THRESHOLD: 0.4
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['name', 'capacity', 'show_times_per_day', 'openning_year', 'cinema_id', 'location']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.33
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 0.5

THRESHOLD: 0.2
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['price', 'name', 'capacity', 'show_times_per_day', 'openning_year', 'cinema_id', 'film_id', 'date', 'location']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.22
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 0.36

------------------------------------------
List the name of musicals that do not have actors.
SELECT name FROM musical WHERE NOT musical_id IN (SELECT musical_id FROM actor)
DATABASE: musical
EXPECT TABLE: ['musical', 'actor']
EXPECT COLUMNS: ['musical_id', 'name']

THRESHOLD: 0.6
PREDICT TABLE: ['musical']
PREDICT COLUMNS: ['name']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 0.66

THRESHOLD: 0.4
PREDICT TABLE: ['musical']
PREDICT COLUMNS: ['year', 'nominee', 'name']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.5
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.33
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 0.4

THRESHOLD: 0.2
PREDICT TABLE: ['musical']
PREDICT COLUMNS: ['award', 'year', 'nominee', 'name', 'result', 'musical_id']
TABLE RECALL: 0.5 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.33
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 0.5

------------------------------------------
What is the official name and status of the city with the most residents?
SELECT official_name, status FROM city ORDER BY population DESC LIMIT 1
DATABASE: county_public_safety
EXPECT TABLE: ['city']
EXPECT COLUMNS: ['population', 'official_name', 'status']

THRESHOLD: 0.6
PREDICT TABLE: ['city']
PREDICT COLUMNS: ['population', 'official_name', 'status']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 1.0

THRESHOLD: 0.4
PREDICT TABLE: ['city']
PREDICT COLUMNS: ['population', 'city_id', 'status', 'area_km_2', 'official_name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.6
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.74

THRESHOLD: 0.2
PREDICT TABLE: ['city']
PREDICT COLUMNS: ['population', 'city_id', 'status', 'area_km_2', 'official_name', 'census_ranking']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.5
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.66

------------------------------------------
What is total number of show times per dat for each cinema?
SELECT T2.name, SUM(T1.show_times_per_day) FROM schedule AS T1 JOIN cinema AS T2 ON T1.cinema_id = T2.cinema_id GROUP BY T1.cinema_id
DATABASE: cinema
EXPECT TABLE: ['schedule', 'cinema']
EXPECT COLUMNS: ['show_times_per_day', 'cinema_id', 'name']

THRESHOLD: 0.6
PREDICT TABLE: []
PREDICT COLUMNS: []
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: ZeroDivisionError 	COLUMNS PRECISION: ZeroDivisionError
TABLE F1 SCORE: None 	COLUMNS F1 SCORE: None

THRESHOLD: 0.4
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['name', 'capacity', 'show_times_per_day', 'openning_year', 'cinema_id', 'film_id', 'location']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.43
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.6

THRESHOLD: 0.2
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['price', 'name', 'capacity', 'show_times_per_day', 'openning_year', 'cinema_id', 'film_id', 'location']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.38
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.56

------------------------------------------
Return the characters and durations for each actor.
SELECT character, duration FROM actor
DATABASE: imdb
EXPECT TABLE: ['actor']
EXPECT COLUMNS: ['character', 'duration']

THRESHOLD: 0.6
PREDICT TABLE: ['actor']
PREDICT COLUMNS: ['character', 'duration']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 1.0

THRESHOLD: 0.4
PREDICT TABLE: ['actor']
PREDICT COLUMNS: ['age', 'actor_id', 'name', 'character', 'musical_id', 'duration']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.33
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.5

THRESHOLD: 0.2
PREDICT TABLE: ['actor']
PREDICT COLUMNS: ['age', 'actor_id', 'name', 'character', 'musical_id', 'duration']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.33
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.5

------------------------------------------
Please show the different statuses of cities and the average population of cities with each status.
SELECT status, AVG(population) FROM city GROUP BY status
DATABASE: county_public_safety
EXPECT TABLE: ['city']
EXPECT COLUMNS: ['population', 'status']

THRESHOLD: 0.6
PREDICT TABLE: ['city']
PREDICT COLUMNS: ['population', 'status']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 1.0

THRESHOLD: 0.4
PREDICT TABLE: ['city']
PREDICT COLUMNS: ['area_km_2', 'official_name', 'population', 'status']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.5
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.66

THRESHOLD: 0.2
PREDICT TABLE: ['city']
PREDICT COLUMNS: ['population', 'city_id', 'status', 'area_km_2', 'official_name', 'census_ranking']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.33
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.5

------------------------------------------
What are the title and director of the films without any schedule?
SELECT title, directed_by FROM film WHERE NOT film_id IN (SELECT film_id FROM schedule)
DATABASE: cinema
EXPECT TABLE: ['schedule', 'film']
EXPECT COLUMNS: ['film_id', 'directed_by', 'title']

THRESHOLD: 0.6
PREDICT TABLE: []
PREDICT COLUMNS: []
TABLE RECALL: 0.0 	COLUMNS RECALL: 0.0
TABLE PRECISION: ZeroDivisionError 	COLUMNS PRECISION: ZeroDivisionError
TABLE F1 SCORE: None 	COLUMNS F1 SCORE: None

THRESHOLD: 0.4
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['film_id', 'location', 'name']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.33
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.33
TABLE F1 SCORE: 0.5 	COLUMNS F1 SCORE: 0.34

THRESHOLD: 0.2
PREDICT TABLE: ['cinema', 'schedule']
PREDICT COLUMNS: ['name', 'capacity', 'show_times_per_day', 'openning_year', 'cinema_id', 'film_id', 'location']
TABLE RECALL: 0.5 	COLUMNS RECALL: 0.33
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.14
TABLE F1 SCORE: 0.5 	COLUMNS F1 SCORE: 0.2

------------------------------------------
Sort the list of names and costs of all procedures in the descending order of cost.
SELECT name, cost FROM procedures ORDER BY cost DESC
DATABASE: hospital_1
EXPECT TABLE: ['procedures']
EXPECT COLUMNS: ['cost', 'name']

THRESHOLD: 0.6
PREDICT TABLE: ['physician', 'procedures', 'patient', 'nurse', 'medication']
PREDICT COLUMNS: ['cost', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.2 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 0.34 	COLUMNS F1 SCORE: 1.0

THRESHOLD: 0.4
PREDICT TABLE: ['physician', 'procedures', 'patient', 'nurse', 'medication']
PREDICT COLUMNS: ['cost', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.2 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 0.34 	COLUMNS F1 SCORE: 1.0

THRESHOLD: 0.2
PREDICT TABLE: ['physician', 'procedures', 'patient', 'nurse', 'medication']
PREDICT COLUMNS: ['cost', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.2 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 0.34 	COLUMNS F1 SCORE: 1.0

------------------------------------------
Which month has the most happy hours?
SELECT month FROM happy_hour GROUP BY month ORDER BY COUNT(*) DESC LIMIT 1
DATABASE: coffee_shop
EXPECT TABLE: ['happy_hour']
EXPECT COLUMNS: ['month']

THRESHOLD: 0.6
PREDICT TABLE: ['happy_hour']
PREDICT COLUMNS: ['month']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 1.0

THRESHOLD: 0.4
PREDICT TABLE: ['happy_hour', 'happy_hour_member']
PREDICT COLUMNS: ['month', 'member_id', 'total_amount', 'shop_id', 'num_of_staff_in_charge', 'hh_id']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 0.17
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 0.3

THRESHOLD: 0.2
PREDICT TABLE: ['shop', 'member', 'happy_hour', 'happy_hour_member']
PREDICT COLUMNS: ['open_year', 'month', 'member_id', 'total_amount', 'shop_id', 'num_of_staff_in_charge', 'time_of_purchase', 'hh_id']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.25 	COLUMNS PRECISION: 0.12
TABLE F1 SCORE: 0.4 	COLUMNS F1 SCORE: 0.22

------------------------------------------
Which physicians are affiliated with either Surgery or Psychiatry department? Give me their names.
SELECT T1.name FROM physician AS T1 JOIN affiliated_with AS T2 ON T1.employeeid = T2.physician JOIN department AS T3 ON T2.department = T3.departmentid WHERE T3.name = 'Surgery' OR T3.name = 'Psychiatry'
DATABASE: hospital_1
EXPECT TABLE: ['affiliated_with', 'physician', 'department']
EXPECT COLUMNS: ['name', 'departmentid', 'employeeid']

THRESHOLD: 0.6
PREDICT TABLE: ['affiliated_with', 'trained_in', 'appointment', 'prescribes', 'undergoes']
PREDICT COLUMNS: ['physician']
TABLE RECALL: 0.33 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.2 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: 0.24 	COLUMNS F1 SCORE: ZeroDivisionError

THRESHOLD: 0.4
PREDICT TABLE: ['affiliated_with', 'trained_in', 'appointment', 'prescribes', 'undergoes']
PREDICT COLUMNS: ['physician']
TABLE RECALL: 0.33 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.2 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: 0.24 	COLUMNS F1 SCORE: ZeroDivisionError

THRESHOLD: 0.2
PREDICT TABLE: ['affiliated_with', 'trained_in', 'appointment', 'prescribes', 'undergoes']
PREDICT COLUMNS: ['physician']
TABLE RECALL: 0.33 	COLUMNS RECALL: 0.0
TABLE PRECISION: 0.2 	COLUMNS PRECISION: 0.0
TABLE F1 SCORE: 0.24 	COLUMNS F1 SCORE: ZeroDivisionError

------------------------------------------
Give me the names of members whose address is in Harford or Waterbury.
SELECT name FROM member WHERE address = 'Harford' OR address = 'Waterbury'
DATABASE: coffee_shop
EXPECT TABLE: ['member']
EXPECT COLUMNS: ['address', 'name']

THRESHOLD: 0.6
PREDICT TABLE: ['shop', 'member']
PREDICT COLUMNS: ['address', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 1.0

THRESHOLD: 0.4
PREDICT TABLE: ['member', 'shop']
PREDICT COLUMNS: ['address', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.5 	COLUMNS PRECISION: 1.0
TABLE F1 SCORE: 0.66 	COLUMNS F1 SCORE: 1.0

THRESHOLD: 0.2
PREDICT TABLE: ['member', 'happy_hour', 'happy_hour_member', 'shop']
PREDICT COLUMNS: ['age', 'address', 'name', 'member_id', 'level_of_membership', 'membership_card', 'num_of_staff_in_charge']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.25 	COLUMNS PRECISION: 0.29
TABLE F1 SCORE: 0.4 	COLUMNS F1 SCORE: 0.44

------------------------------------------
Find the names of all procedures which cost more than 1000 but which physician John Wen was not trained in?
SELECT name FROM procedures WHERE cost > 1000 EXCEPT SELECT T3.name FROM physician AS T1 JOIN trained_in AS T2 ON T1.employeeid = T2.physician JOIN procedures AS T3 ON T3.code = T2.treatment WHERE T1.name = "John Wen"
DATABASE: hospital_1
EXPECT TABLE: ['procedures', 'physician', 'trained_in']
EXPECT COLUMNS: ['name', 'treatment', 'employeeid', 'cost', 'code']

THRESHOLD: 0.6
PREDICT TABLE: ['physician', 'affiliated_with', 'procedures', 'trained_in', 'patient', 'nurse', 'appointment', 'medication', 'prescribes', 'undergoes']
PREDICT COLUMNS: ['physician', 'cost', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 0.4
TABLE PRECISION: 0.3 	COLUMNS PRECISION: 0.67
TABLE F1 SCORE: 0.46 	COLUMNS F1 SCORE: 0.5

THRESHOLD: 0.4
PREDICT TABLE: ['physician', 'affiliated_with', 'procedures', 'trained_in', 'patient', 'nurse', 'appointment', 'medication', 'prescribes', 'undergoes']
PREDICT COLUMNS: ['physician', 'cost', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 0.4
TABLE PRECISION: 0.3 	COLUMNS PRECISION: 0.67
TABLE F1 SCORE: 0.46 	COLUMNS F1 SCORE: 0.5

THRESHOLD: 0.2
PREDICT TABLE: ['physician', 'affiliated_with', 'procedures', 'trained_in', 'patient', 'nurse', 'appointment', 'medication', 'prescribes', 'undergoes']
PREDICT COLUMNS: ['physician', 'cost', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 0.4
TABLE PRECISION: 0.3 	COLUMNS PRECISION: 0.67
TABLE F1 SCORE: 0.46 	COLUMNS F1 SCORE: 0.5

------------------------------------------
What are the distinct nominees of the musicals with the award that is not 'Tony Award'?
SELECT DISTINCT nominee FROM musical WHERE award <> "Tony Award"
DATABASE: musical
EXPECT TABLE: ['musical']
EXPECT COLUMNS: ['award', 'nominee']

THRESHOLD: 0.6
PREDICT TABLE: ['musical']
PREDICT COLUMNS: ['award', 'result', 'nominee']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.67
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.8

THRESHOLD: 0.4
PREDICT TABLE: ['musical']
PREDICT COLUMNS: ['award', 'year', 'name', 'category', 'nominee', 'result', 'musical_id']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.29
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.44

THRESHOLD: 0.2
PREDICT TABLE: ['musical']
PREDICT COLUMNS: ['award', 'year', 'name', 'category', 'nominee', 'result', 'musical_id']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 1.0 	COLUMNS PRECISION: 0.29
TABLE F1 SCORE: 1.0 	COLUMNS F1 SCORE: 0.44

------------------------------------------
What are names of patients who made an appointment?
SELECT name FROM appointment AS T1 JOIN patient AS T2 ON T1.patient = T2.ssn
DATABASE: hospital_1
EXPECT TABLE: ['appointment', 'patient']
EXPECT COLUMNS: ['ssn', 'name']

THRESHOLD: 0.6
PREDICT TABLE: ['physician', 'procedures', 'patient', 'nurse', 'appointment', 'medication', 'prescribes', 'stay', 'undergoes']
PREDICT COLUMNS: ['patient', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 0.5
TABLE PRECISION: 0.22 	COLUMNS PRECISION: 0.5
TABLE F1 SCORE: 0.36 	COLUMNS F1 SCORE: 0.5

THRESHOLD: 0.4
PREDICT TABLE: ['physician', 'procedures', 'patient', 'nurse', 'appointment', 'medication', 'prescribes', 'stay', 'undergoes']
PREDICT COLUMNS: ['patient', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 0.5
TABLE PRECISION: 0.22 	COLUMNS PRECISION: 0.5
TABLE F1 SCORE: 0.36 	COLUMNS F1 SCORE: 0.5

THRESHOLD: 0.2
PREDICT TABLE: ['physician', 'procedures', 'patient', 'nurse', 'appointment', 'medication', 'prescribes', 'stay', 'undergoes']
PREDICT COLUMNS: ['patient', 'name']
TABLE RECALL: 1.0 	COLUMNS RECALL: 0.5
TABLE PRECISION: 0.22 	COLUMNS PRECISION: 0.5
TABLE F1 SCORE: 0.36 	COLUMNS F1 SCORE: 0.5

------------------------------------------
Count the number of patients who stayed in room 112.
SELECT COUNT(patient) FROM stay WHERE room = 112
DATABASE: hospital_1
EXPECT TABLE: ['stay']
EXPECT COLUMNS: ['room', 'patient']

THRESHOLD: 0.6
PREDICT TABLE: ['appointment', 'prescribes', 'stay', 'undergoes']
PREDICT COLUMNS: ['room', 'patient']
TABLE RECALL: 1.0 	COLUMNS RECALL: 1.0
TABLE PRECISION: 0.25 	COLUMNS PRECISION: 1.0

In [29]:
result_df.head()

,query,actual col,T0.6 selected col,T0.6 # correct,T0.6 recall,T0.6 precision,T0.6 F1,T0.4 selected col,T0.4 # correct,T0.4 recall,T0.4 precision,T0.4 F1,T0.2 selected col,T0.2 # correct,T0.2 recall,T0.2 precision,T0.2 F1
0,Find the number of members living in each addr...,[address],[],0,0.0,ZeroDivisionError,None,[address],1,1.0,1.0,1.0,"[age, address, name, member_id, level_of_membe...",1,1.0,0.11,0.2
1,Count the number of cinemas.,[],"[capacity, cinema_id]",0,1.0,0.0,0.0,"[name, capacity, show_times_per_day, openning_...",0,1.0,0.0,0.0,"[price, name, capacity, show_times_per_day, op...",0,1.0,0.0,0.0
2,How many rooms does each block floor have?,"[blockfloor, blockcode]",[room],0,0.0,0.0,ZeroDivisionError,[room],0,0.0,0.0,ZeroDivisionError,[room],0,0.0,0.0,ZeroDivisionError
3,What procedures cost less than 5000 and have J...,"[name, treatment, employeeid, cost, code]",[cost],1,0.2,1.0,0.34,[cost],1,0.2,1.0,0.34,[cost],1,0.2,1.0,0.34
4,What is the location with the most cinemas ope...,"[openning_year, location]","[openning_year, location]",2,1.0,1.0,1.0,"[name, capacity, show_times_per_day, openning_...",2,1.0,0.33,0.5,"[price, name, capacity, show_times_per_day, op...",2,1.0,0.22,0.36

In [30]:
result_df.to_csv("expirement_filtering_columns.csv", index=False)

In [36]:
# error_values = ["ZeroDivisionError"]
# result_df.replace(error_values, float('nan'), inplace=True)


# thresholds = ['T0.6', 'T0.4', 'T0.2']
# metrics = ['recall', 'precision', 'F1']

# plt.figure(figsize=(10, 6))

# for metric in metrics:
#     for threshold in thresholds:
#         column_name = f"{threshold} {metric}"
#         plt.scatter(result_df.index, result_df[column_name], label=f"{metric} ({threshold})")
# # plt.scatter(result_df.index, result_df['T0.6 recll'])
# plt.title('Recall, Precision, and F1 Score over Similarity Score Thresholds')
# plt.xlabel('Queries')
# plt.ylabel('Score')
# plt.legend()
# plt.show()